{% load i18n %}{% url component_detail component.project.slug component.slug as component_url %}{% url project_detail component.project.slug as project_url %}{% with component.name as component_name %}{% with component.project.name as project_name %}
{% if files %}{% blocktrans %}The following files in the <a href="{{ component_url }}">{{ component_name }}</a> component of the <a href="{{ project_url }}">{{ project_name }}</a> project have been updated:{% endblocktrans %}
{% for file in files %}{{ file }}{% endfor %}{% endif %}
{% endwith %}{% endwith %}