

/* General */

body {
  font-family: sans-serif;
  font-size: 0.85em;
  color: #333;
  padding: 0;
  margin: 0;
}

div#header,
div#content,
div#footer {
  max-width: 1100px;
  margin: 0 auto;
}


/* Header */

div#wrapper {
  background: url('../images/top_bg_grad.png') repeat-x;
  padding: 0 20px;
}

div#header {
  height: 80px;
  padding-top: 10px;
}

div#header div#logo {
  float: left;
}

div#logo {
  margin-left: 0.5em;
}

div#header div#navmenu {
  float: left;
  margin: 65px 0.5em 0 3em;
  font-size: 110%;
  color: #ccc;
}

div#header div#header_secnav {
  float: right;
  margin-right: 10px;
}

div#header div#header_trinav {
  float: right;
  clear: right;
  margin-top: 40px;
  font-size: 85%;
  color: #666;
  margin-right: 10px;
}

div#header lang_switcher {
  margin-left: 1em;
}


/* Content */

div#breadcrumbs {
  margin: 1em 3em;
}

div#content {
  background-color: #ebf2f8;
  border-top: #afc8e1 4px solid;
  border-bottom: #afc8e1 3px solid;
  margin-top: 1em;
  min-height: 50em;
}

div#content h2.pagetitle {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 2.8em;
  font-family: "Georgia", serif;
  margin: 0.5em 0.8em 0.3em 0.8em;
  letter-spacing: -2px;
}

div#content div.obj_bigdetails h2.pagetitle { margin-left: 0; }

div#content h2.pagesubtitle {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 2.5em;
  font-family: "Georgia", serif;
  margin: 0.5em 0.8em 0.3em 0;
  letter-spacing: -2px;
}

div#content h3.pagesubtitle {
  text-transform: uppercase;
  font-size: 130%;
}

div#body {
  clear: both;
  background-color: white;
  -moz-border-radius: 5px;
  margin: 1em;
  min-height: 5em;
  padding: 0.5em 3em 3em 3em;
}

div#body h2 {
  font-weight: normal;
  font-size: 1.8em;
  margin-left: 0;
  margin-top: 1.5em;
  color: #666;
}

div#body h3 {
  margin-top: 1.2em;
  color: #b65d0e;
  font-weight: normal;
}

div#body h4 {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
}

div.multicolumn3 {
  -moz-column-count: 3;
  -moz-column-gap: 3em;
   column-count: 3;
   column-gap: 3em;
   column-break-inside: avoid;
}


div.multicolumn3 {
  -moz-column-count: 3;
  -moz-column-gap: 3em;
   column-count: 3;
   column-gap: 3em;
   column-break-inside: avoid;
}


div#content_header,
div#content_footer {
  margin: 0 1em;
}

div#content_header_sec,
div#body_sec,
div#content_footer_sec {
  float:right;
}
div#content_header_prim, div#content_header_sec { margin-bottom: 0.5em; }
div#content_footer_prim, div#content_footer_sec { margin-top: 0.5em; }
div#content_header_prim, div#content_footer_prim { margin-left: 1em; }
div#content_header_sec, div#content_footer_sec { margin-right: 1em; }
div#content_header_center, div#content_footer_center { text-align: center; }

div#body_sec { margin-top: 0.5em; margin-right: -1.8em; }

div#footer .left,
div#footer .center,
div#footer .right {
  width: 30%;
  padding: 0.5em 0 1em 0;
  font-size: 90%;
}

div#footer .left { float: left; text-align: left; }
div#footer .center { margin: 0 auto; text-align: center; }
div#footer .right { float: right; text-align: right; }
div#footer .powered { margin: 1em auto 0 auto; text-align: center; color: #7f7f7f; font-size: 85%; }
div#footer .version { margin: 0.3em auto 1.5em auto; text-align: center; color: #999; font-size: 80%; }

form.microform {
  display: inline;
}

/* Generic pagination container */
div.pagination {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Generic pagination container */
div.pagination.top {
  margin-bottom: 3em;
}

div.pagination.bottom {
  margin-top: 3em;
}

/* Login index */

div#login-block {
  padding: 10px;
}

div#login_index {
  color: #666;
  margin-right: -10px;
  background-color: #fff; /*#EBF2F8*/
  padding: 0.3em;
  /*
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  border:1px solid #AFC8E1;*/
}

div#login_index .divright{
  float: right;
}

div#login_index .divleft{
  float: left;
}

div#clear,
.clear {
  clear: both;
}

div#login_index fieldset {
  position: relative;
  margin-top:1em;
  padding-top:.75em;
  border:1px solid #AFC8E1;
  background-color: #EBF2F8;
  -moz-border-radius:3px;
}

div#login_index legend {
  position:absolute;
  top:-.7em;
  left:.5em;
  border:1px solid #AFC8E1;
  background-color: #FFF;
  padding-left: 0.6em;
  padding-right: 0.6em;
  -moz-border-radius: 2px;
}

div#login_index .submit-row {
  margin-top: 5px;
  text-align: right;
  font-size: 50%;
}

div#login_index .form-row {
  text-align: right;
  margin-top: 5px;
}

div#login_index p {
  width: 100%;
  margin-bottom: 0px;
}

div#login_index p.login-tagline {
  font-size: 95%;
  margin: 0.5em 1em 1em 1em;
  max-width: 20em;
}

div#login_index .lost_passwd {
  margin-top: 3px;
}

div#login_index input#id_openid_url {
  background-image: url('../images/openid-icons/openid.png');
}

/* List and Detail views for Projects and Collections */

div.obj_biglist div.entry {
  /* border-bottom: 3px solid #eee; */
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 1em;
}

div.obj_biglist p.description {
  margin-top: 0.5em;
}

div.obj_biglist .name {
  font-weight: normal;
  font-size: 140%;
  margin-bottom: 0;
}

div.obj_biglist p.description {
  color: #88889e;
  max-width: 40em;
  text-align: justify;
}


/* Object details */

div.obj_bigdetails h2.name {
  color: #0d4c8c !important;
  font-weight: normal !important;
  font-size: 2.6em !important;
  font-family: "Georgia", serif;
  letter-spacing: -2px;
}

div.obj_bigdetails p.description {
  font-size: 120%;
  color: #666;
  margin-top: 0;
  margin-bottom: 2.5em;
}

div.obj_bigdetails div.long_description {
  margin: -1em 0 2em 1em;
  max-width: 80%;
  text-align: justify;
}

div.separate {
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 1em;
}

div.editlinks { float: right; clear: right; }
div.editlinks p { float: right; clear: right; margin: 0; }
div.deletelink { text-align: center; margin-bottom: 1em; }
div.deletelink a:hover {
  color: #833;
  background-color: #f5eeee;
}


/* Component list */

body.projects.project_detail .component_list .entry {
  float: left;
  margin: 0.5em;
  min-width: 15em;
  max-width: 25em;
  height: 5em;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #eee;
  padding: 1em;
  -moz-border-radius: 5px;
  font-size: 90%;
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  margin-bottom: 2em;
}

body.projects.project_detail .component_list .entry p.name {
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
  padding-right: 25px;
  background: url('../images/icons/brick.png') no-repeat 100% 50%;
  font-weight: bold;
}

body.projects.project_detail .component_list .entry p.description {
  font-size: 90%;
  margin: 0.5em 0 0 0;
}

body.projects.project_detail .components p.more {
  padding-top: 1em;
  clear: both;
}


/* Search */

div.searchform label {
  font-size: 90%;
  font-color: gray;
  margin-left: 0.5em;
}

div.searchform input.query {
  background-image: url('../images/icons/magnifier.png');
  font-size: 1.1em;
  font-weight: bold;
  color: #666;
}

div.searchform input.submit {
  font-size: 1.1em;
}

body.search.project_list div.info {
  /* border-bottom: 3px solid #eee; */
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 0.3em;
  padding-top: 1em;
}

body.search.project_list p.name {
  font-weight: normal;
  font-size: 140%;
  margin: 0;
}

body.search.project_list p.description {
  margin-top: 0.3em;
  margin-bottom: 0em;
  color: #88889e;
  text-align: justify;
}

body.search.project_list p.long_description {
  margin-top: 0em;
  color: #88889e;
  text-align: justify;
  font-size: 80%;
}

body.search.project_list span.highlight{
  background-color: #ffffba;
  font-weight: bolder;
}

body.search.project_list .find{
  margin-bottom: 1em;
}

body.search.project_list .notfound{
  /* font-weight: bolder; */
}

/* Other elements */

a {
  color: #0d4c8c;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}

a img {
  border-bottom: none;
}

a.simlink, a.simlink:hover {
  border: none;
}

table.definition th { text-align: left; color: #666; }
table.definition td {
  padding: 0.2em 0.5em;
  margin: 0.5em 0;
}

table.definition tr.empty th,
table.definition tr.empty td {
  display: none;
  /*color: #aaa; font-weight: normal;*/
}

table.definition tr.separator { height: 5px; }

code { font-size: 1.2em; }

span[title] {
	border: 0;
	border-bottom: 1px dotted #b88;
 	cursor: help;
}

ul li, ol li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul.actionlist {font-size: 0.9em;}
ul.simple { list-style: none; padding-left: 20px; }
ul.simple.bigthings { font-weight: bold; }
ul.simple.bigthings .description { font-weight: normal; color: #666; }

/* Inline lists */
ul.sameline { list-style: none; padding-left: 0;}
ul.sameline li { display: inline; }

ul.links { list-style: none; margin: 0; padding: 0; }
ul.links li { display: inline; }
ul.links li:after { content: ", "; } 
ul.links li:last-child:after { content: ""; }

img.repotype { vertical-align: middle; margin-left: 10px; }

.disabled { color: #aaa; }
.disabled a { color: #bdcedf; }

.spaceabove { margin-top: 3em; }

.messages {
  text-align: center;
  padding-top: 10px;
  margin: 2px;
}

.message {
  -moz-border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  padding: 0.5em;
  background-color: #ffffe0;
  border-color: #e6db55;
  margin: 0px;
  font-size: 0.9em;
}

.message.i16 {
  background-position: 10px 50%;
  padding-left: 33px;
}

.hidden_field {
  display:none;
}

input[type="submit"] {
  cursor: pointer;
}

input, textarea {
  padding: 0 0.5em;
  border: 1px solid #aaa;
  -moz-border-radius: 2px;
}

fieldset {
  border:2px dotted #DDDDDD;
  margin-bottom:1em;
  padding:1em;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.2em;
  color: #999;
  padding: 0 0.5em;
}

input.text { padding: 0.2em 0.5em; }

div.generic_form table th {
  text-align: right;
  padding-right: 1em;
  font-size: 90%;
  color: #333;
  line-height: 1.8em;
  vertical-align: top;
}

div.generic_form table td {
  vertical-align: top;
  line-height: 1.8em;
}

div.generic_form table th p {
  margin-top: 0em;
}

div.generic_form table td input,
div.generic_form table td textarea,
div.generic_form table td select {
  font-size: 0.9em;
  padding: 0.2em 0.3em;
}

div.generic_form table p.fieldp {
  margin: 0;
}

div.generic_form p.fielderrors {
  font-size: 85%;
  color: #c27878;
  list-style: none;
  margin: 0.2em 0 0.3em 0.1em;
  padding: 0;
  max-width: 30em;
  line-height: 120%;
}

div.generic_form ul.errorlist li {
  margin: 0;
  padding: 0;
}

div.generic_form table td p.helptext {
  font-family: sans-serif;
  font-size: 0.75em;
  padding-left: 2em;
  max-width: 30em;
  color: #666;
  line-height: 120%;
  margin: 0.2em 0;
}

/* Input with background image (search, etc) */
input.withbgimage {
  padding: 2px 2px 2px 25px;
  background-image: url('../images/icons/cog.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

/* Other */

#intro {
  float:left; 
  width:60%; 
}

.promo {
  font-size: 130%;
  width: 100%;
  margin: 2em 0;
}

.compact { font-size: 85%; }

.floatright {
  float: right;
  margin-left: 1em;
}


table.add_form td {
  font-size: 80%;
  color: #666;
  height: 20px;
}

ul.errorlist li {
  color: #c27878;
}

.components .entry .description {color: #999}

.entry_metalink {
  color: #888;
  font-weight: normal;
  font-size: 70%;
}

.entry_metalink a {
  color: #7e9fc2;
}

.entry_metalink a:hover {
  color: #0d4c8c;;
}

h2 .entry_metalink {
  font-size: 60%;
}
h2 .entry_metalink {
  font-size: 60%;
}

.nodisplay { display: none; }


/* Custom classes for various elements */

a.tag:link, a.tag:hover, a.tag:visited {
  color:#555;
}

a.tag {
  background-color:#FFFCE7;
  -moz-border-radius: 2px;
  border-color: #F9F5EA #EEE2BF #EEE2BF #F9F5EA;
  border-style: solid;
  border-width: 1px;
  line-height: 1.5em;
  padding: 0.15em 0.2em;
  font-size: 95%;
}

.buttonright {
  text-align:right;
  padding-top: 0.3em;
}

/* Used usually for mouse-over warnings */

span.warning, span.note { padding: 0 0.2em; }

span.warning {
  color: #844141;
  background-color: #fff5f5;
}

span.note {
  color: #685D40;
  background-color: #FEFFDE;
}


/* Buttonized */

.buttonized,
.buttonized:hover,
.buttonized_simple,
.buttonized_simple:hover,
.microform input[type="submit"] {
  cursor: pointer;
}

.buttonized,
.microform input[type="submit"] {
  border: 1px solid #ccc !important;
  background-color: #f5f5f5;
  -moz-border-radius: 3px;
  padding: 0.2em 0.6em;
  color: #333;
}

.buttonized,
.microform input[type="submit"],
.microform input[type="file"] {
  font-size: 0.85em;
}

.buttonized.active { background-color: #ddd; }

.buttonized a {
  border-bottom: none;
}

.buttonized a:hover {
  border-bottom: none;
  cursor: pointer;
}

.buttonized:hover {
  background-color: #fafafa;
  border: 1px solid #ccc;
}
