/* Edit translation files */

table.trans_web_edit { width: 100%; }

table.trans_web_edit tr { margin: 0; padding: 0; }

table.trans_web_edit th,
table.trans_web_edit td {
  margin: 0;
  padding: 0;
}

table.trans_web_edit th { 
  text-align: left; 
  padding: 0.3em 0.3em;
  font-size: 100%;
  border-bottom: 3px solid #E3EAEE;
  color: #444;
  background-color: #f5f5f5;
}


table.trans_web_edit td.msg {
  font-weight: normal;
  text-align: left;
  font-size: 85%;
  vertical-align: top;
  padding: 0.5em 1.5em 0.5em 0.5em;
  padding-right: 1.5em;
}

table.trans_web_edit td.trans {
  vertical-align: top;
  font-size: 100%;
}

table.trans_web_edit td.notes {
  padding: 0.2em 0.5em;
}

table.trans_web_edit td.trans textarea {
  font-family: sans-serif;
  font-size: 85%;
  border-color: #ccc;
}

table.trans_web_edit td.trans textarea.translated{
  /*background-color: #E6FFEA;
  border-left : 5px solid #E6FFEA;*/
  border-left : 2px solid #add605;
}

table.trans_web_edit td.trans textarea.fuzzy{
  /*background-color: #FFF5E2;
  border-left: 5px solid #FFF5E2;*/
  border-left: 2px solid #6499F3;
}

table.trans_web_edit td.trans textarea.untranslated{
  /*background-color: #FFEDED;
  border-left: 5px solid #FFEDED;*/
  border-left: 2px solid #d64a05;
}

table.stats_totals th {
  padding-left: 0.5em;
}

th.translated,
span.translated {
  /*background-color: #add605;*/
  border-left: 2px solid #add605;
  margin: 0;
  padding-top: 3px;
  padding-right: 5px;
}

th.fuzzy,
span.fuzzy {
  /*background-color: #D69C07;*/
  border-left: 2px solid #6499F3;
  margin: 0;
  padding-top: 3px;
  padding-right: 5px;

}

th.untranslated,
span.untranslated {
  /*background-color: #d64a05;*/
  border-left: 2px solid #d64a05;
  margin: 0;
  padding-top: 3px;
  padding-right: 5px;
}

table.trans_web_edit tr.odd th,
table.trans_web_edit tr.odd td {
  border-top: 1px solid #eee;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

code.ph {
  background-color: #ddf8dd;
  border-bottom: 1px solid #cce5cc;
  padding: 0 0.1em;
}

div.pager{
  float:right;
  font-size: 95%;
  color: #0D4C8C;
}

div.pager span.page-number {
  margin: 3px;
  padding: 0px 2px;
  cursor: pointer;
  border-bottom:1px dotted #AAAAAA;
}

div.pager span.page-number:hover {
  border-bottom:1px solid #AAAAAA;
  text-decoration:none;
}

div.pager span.page-number.active{
 color:#B65D0E;
}

fieldset legend {
  color:#B65D0E;
  font-size: 1em;
  font-weight: normal;
}