{% extends "projects/base_projects.html" %}


{% block title %}Projects{% endblock %}


{% block content_title %}
  {% include "projects/_nav.html" %}
  <h2 class="pagetitle">Find a project</h2>
{% endblock %}

  
{% block content %}
  <div class="project_list">
  {% for project in object_list %}
    <div class="project_info">
      <a href="{{ project.get_absolute_url }}"><h3 class="name">{{ project.full_name }}</h3></a>
      <p class="description">{{ project.description }}</p>
    </div>
  {% endfor %}
  </div>
{% endblock %}