{% extends "projects/project_detail_childs.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% blocktrans with component.name as component_name %}Delete {{ component_name }}{% endblocktrans %}{% endblock %}

{% block breadcrumb %}{{ block.super }}
&raquo; {% blocktrans with component.name as component_name %}Delete {{ component_name }}{% endblocktrans %}
{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">{% blocktrans with component.name as component_name %}Say goodbye to <em>{{ component_name }}</em>?{% endblocktrans %}</h2>
{% endblock %}

{% block body %}

<p>{% blocktrans with project.name as project_name and component.name as component_name %}
  Are you sure you want to permanently delete the component '{{ component_name }}' which belongs to {{ project_name }}?
{% endblocktrans %}</p>

  <form action='' method='post'>
    <input class=i16 ok" type="submit" value="{% trans "Yes, I'm sure!" %}" />
  </form>

{% endblock %}

{% block content_footer %}

{% endblock %}
