{% extends "projects/project_detail_childs.html" %}
{% load statistics %}
{% load markup %}
{% load i18n %}

{% block body_class %}{{ block.super }} project_detail{% endblock %}

{% block title %}{% with component.project as project %}{{ block.super }} | {{ component.name }}{% endwith %}{% endblock %}

{% block breadcrumb %}{% with component.project as project %}{{ block.super }}
&raquo; {{ component.name }}{% endwith %}{% endblock %}


{% block body_main %}
  <div class="obj_bigdetails">
  {% if request.user.is_authenticated %}
  <div class="editlinks"><p class="i16 edit"><a href="{% url component_edit project_slug=component.project.slug component_slug=component.slug %}">{% trans "Edit" %}</a></p></div>
  {% endif %}
  <h2 class="name">{{ component.project.name }} &raquo; {{ component.name }}</h2>

  {% if component.description %}<p class="description">{{ component.description }}</p>{% endif %}

  {% with component.long_description_html as long_desc %}
  {% if long_desc %}
  <div class="long_description">
    {{ long_desc|truncatewords_html:"100"|safe }}
  </div>
  {% endif %}
  {% endwith %}

{% if component.unit %}
<div id="vcs_details">
  <h3>Source details</h3>

  <table class="definition">
    <tr>
      <th class="repository i16">{% trans "Repository:" %}</th>
      <td>
        <code>{{ component.unit.root }}</code></a>
        {% if component.unit.web_frontend %}<sup>(<a title="{% trans "Link to a web front-end to the source" %}" href="{{ component.unit.web_frontend }}" target="_blank" >{% trans "web" %}</a>)</sup>{% endif %}
        <img class="repotype" src="{{ MEDIA_URL }}images/icons/vcs/{{ component.unit.type }}.png" alt="{{ component.unit.type }}" title="{{ component.unit.type }}" />
    </tr>
    <tr>
      <th class="branch i16">{% trans "Branch:" %}</th>
      <td>{{ component.unit.branch }}</td>
    </tr>
    <tr>
      <th class="i16 filter">{% trans "Filter:" %}</th>
      <td>{{ component.file_filter }}</td>
    </tr>
    {% if component.trans.get_source_file %}
    <tr>
      {% url component_raw_file component.project.slug component.slug component.trans.get_source_file as file_source_url %}
      <th class="link i16">{% trans "Source file:" %}</th>
      <td><a title="{% trans "Download the source file for this component." %}" href="{{file_source_url}}">{{component.trans.get_source_file}}</a></td>
    </tr>
    {% endif %}
    {% with component.releases.all as releases %}
    {% if releases %}
    <tr>
      <th class="i16 release">{% blocktrans count releases|length as counter %}Release:{% plural %}Releases:{% endblocktrans %}</th>
      <td class="compact">
        {% for release in releases|slice:"0:6" %}<a class="release" href="{% url collection_release_detail slug=release.collection.slug release_slug=release.slug %}">{{ release }}</a> {% endfor %}
      </td>
    </tr>
    {% endif %}
    {% endwith %}
    <tr>
      <th class="i16 update">{% trans "Local cache:" %}</th>
      <td>
        <form action="{% url component_set_stats component.project.slug component.slug %}" style="float: right;">
            {% if component.unit.last_checkout %}
            {% trans "The local checked-out copy of this component was last updated " %} <strong>{{component.unit.last_checkout|timesince}}</strong> {% trans "ago" %}.
            {% else %}
            {% trans "You can check-out a copy of this component right now if you want." %}
            {% endif %}
            <input title="{% trans "It will refresh and re-calculate the stats. It can take some time." %}" class="icon16 refresh" value="{% trans "Refresh now!" %}" type="submit">
        </form>
      </td>
    </tr>
  </table>
</div>
{% endif %}  

{% comp_stats_table component %}

</div>

<h3>{% trans 'History' %}</h3>
{% load tx_action_log %}
{% get_log 5 as action_log for_object component %}
{% if not action_log %}
<p>{% trans 'None available' %}</p>
{% else %}
<ul class="actionlist simple">
{% for entry in action_log %}
<li class="i16 {% if entry.is_addition %}add{% endif %}{% if entry.is_change %}change{% endif %}{% if entry.is_deletion %}delete{% endif %}">
    Component {% if entry.is_addition %}added{% endif %}{% if entry.is_change %}modified{% endif %}{% if entry.is_deletion %}deleted{% endif %} by {{ entry.user }} on 
    {{ entry.action_time|date:"r" }}
{% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block content_footer %}
  <div id="content_footer_center">
    {% if request.user.is_authenticated %}
    <div class="deletelink">
      <span class="i16 delete"><a href="{% url component_delete project_slug=component.project.slug component_slug=component.slug %}">{% trans "Delete component" %}</a></span>
    </div>
    {% endif %}
  </div>
{% endblock %}

