{% extends "projects/project_detail_childs.html" %}
{% load projects_tags %}
{% load statistics %}
{% load markup %}
{% load i18n %}

{% block body_class %}{{ block.super }} project_detail{% endblock %}

{% block title %}{{ block.super }} | {{ component.name }}{% endblock %}

{% block breadcrumb %}{{ block.super }}
&raquo; {{ component.name }}{% endblock %}


{% block body_main %}

  <div class="editlinks"><p class="i16 edit"><a href="{% url component_edit project_slug=project.slug component_slug=component.slug %}">{% trans "Edit" %}</a></p></div>
  <div class="editlinks"><p class="i16 update"><a href="{% url component_set_stats project_slug=project.slug component_slug=component.slug %}">{% trans "Calcule Stats" %}</a></p></div>
  <h2 class="name">{{ component.name }}</h2>

  {% if component.description %}<p class="description">{{ component.description }}</p>{% endif %}

  <div class="long_description">
  {{ component.long_description|markdown|truncatewords:"100" }}
  </div>

{% if component.unit %}
<div id="vcs_details">
  <h3>Source details</h3>

  <table class="definition">
    <tr>
      <th class="repository i16">{% trans "Repository:" %}</th>
      <td>
        <code>{{ component.unit.root }}</code></a>
        {% if component.unit.web_frontend %}<sup>(<a title="{% trans "Link to a web front-end to the source" %}" href="{{ component.unit.webfrontend }}">{% trans "web" %}</a>)</sup>{% endif %}
        <img class="repotype" src="{{MEDIA_URL}}/images/icons/vcs/{{ component.unit.type }}.png" alt="{{ component.unit.type }}" title="{{ component.unit.type }}" />
    </tr>
    <tr>
      <th class="branch i16">{% trans "Branch:" %}</th>
      <td>{{ component.unit.branch }}</td>
    </tr>
  </table>
</div>
{% endif %}  


  </div>

  <h3>{% trans "Component statistics" %} </h3>

  {% comp_stats_table component.trans.get_stats %}

{% endblock %}

{% block content_footer %}
  <div id="content_footer_center">
    <div class="deletelink">
      <span class="i16 delete"><a href="{% url component_delete project_slug=project.slug component_slug=component.slug %}">{% trans "Delete component" %}</a></span>
    </div>
  </div>
{% endblock %}