{% load i18n %}
<div class="generic_form">
{% url component_submit_new_file component.project.slug component.slug as file_submit_url %}
<a class="i16 nodecoration_icon submit submit_button" href="#">Add a new language translation</a>
<form class="submit_form microform" method="POST" action="{{ file_submit_url }}" enctype="multipart/form-data">
 <fieldset>
  <legend>Submit file</legend>
   <table>
    <tbody>
    <tr>
    <th>{% trans "Local file" %} <span class="required">*</span></th>
    <td><p class="fieldp"><input type="file" name="submited_file"></p></td>
    <td><p class="helptext">{% trans "The new language translation file to be uploaded." %}</p></td>
    </tr>
    <tr>
    <th>{% trans "Target file" %} <span class="required">*</span></th>
    <td><p class="fieldp"><input type="text" class="" name="targetfile"></p></td>
    <td><p class="helptext">{% trans "The target file is the name o the new file language. It must matctes with the component file filter." %}</p></td>
    </tr>
    </tbody>
   </table>
   <p class="submit">  <input type="submit" class="submit" size="10" value="{% trans "Send" %}"></p>
 </fieldset>
</form>
</div>