{% extends "projects/base.html" %}
{% load i18n %}
{% load txcommon %}

{% block title %}
{% if not component %}{{ block.super }} | {{ project.name }} | {% trans "Add a component" %}
{% else %}{{ block.super }} | {{ project.name }} | {% blocktrans with component.name as component_name %}Edit {{ component_name }}{% endblocktrans %}
{% endif %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo;
{% if not component %}{% trans "Add a component" %}
{% else %}{% blocktrans with component.name as component_name %}Edit {{ component_name }}{% endblocktrans %}
{% endif %}{% endblock %}

{% block content_title %}
  {% if not component %}
    <h2 class="pagetitle">{% blocktrans with project.name as project_name %}New component for {{ project_name }}{% endblocktrans %}</h2>
  {% else %}
    <h2 class="pagetitle">{% blocktrans with component.name as component_name %}Edit {{ component_name }}{% endblocktrans %}</h2>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="component_create generic_form">
  {% if form_message %}
    <p class="message i16 bell">{{ form_message }}</p>
  {% endif %}
  <form action='' method='post'>
  <table>
    <tbody>
      {% form_as_table_rows component_form %}
      {% form_as_table_rows unit_form %}
    </tbody>
  </table>
  <p class="submit"><input type="submit" /></p>
  </form>
  </div>
{% endblock %}
