{% extends "projects/base.html" %}

{% block breadcrumb %}{{ block.super }} &raquo;
  <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo;
  {% if not component %} Add component {% else %} Edit component {% endif %}
{% endblock %}

{% block content_title %}
  {% if not component %}
    <h2 class="pagetitle">Add a component</h2>
  {% else %}
    <h2 class="pagetitle">Edit {{ component.name }}</h2>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="project_add">
  {% if form_message %}
    <p class="message i16 bell">{{ form_message }}</p>
  {% endif %}
  <form action='' method='post'>
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit">
  </form>
  </div>
{% endblock %}