{% extends "projects/base.html" %}
{% load i18n %}

{% block title %}
  {% if not project %}{{ block.super }} | {% trans "Add a project" %}
  {% else %}{{ block.super }} | {% blocktrans with project.name as project_name %}Edit {{ project_name}}{% endblocktrans %}{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if not project %}{{ block.super }} &raquo; {% trans "Add a project" %}
  {% else %}{{ block.super }} &raquo; {% blocktrans with project.name as project_name %}Edit <em>{{ project_name}}</em>{% endblocktrans %}{% endif %}
{% endblock %}

{% block content_title %}
  {% if not project %}
    <h2 class="pagetitle">{% trans "Add a project" %}</h2>
  {% else %}
    <h2 class="pagetitle">
      {% blocktrans with project.name as project_name and project.get_absolute_url as project_url %}Editing <a href="{{ project_url }}">{{ project_name }}</a>{% endblocktrans %}
    </h2>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="project_create">
  {% if form_message %}
    <p class="message i16 bell">{{ form_message }}</p>
  {% endif %}
  <form action='' method='post'>
  <table>
    {{ project_form.as_table }}
  </table>
  <input type="submit">
  </form>
  </div>
{% endblock %}
