{% extends "projects/base.html" %}

{% block content_title %}
  <h2 class="pagetitle">Projects on Transifex</h2>
{% endblock %}

{% block content-header %}
<div class="addproject content_head_sec">
  <span class="i16 add"><a href="{% url add_project %}">Add a new project</a></span>
</div>
{% endblock %}
  
{% block content %}
  <div class="project_list">
  {% for project in object_list %}
    <div class="info">
      <h3 class="name"><a href="{{ project.get_absolute_url }}">{{ project.full_name }}</a></h3>
      <p class="description">{{ project.description }}</p>
    </div>
  {% endfor %}
  </div>
{% endblock %}