    {% extends "projects/base.html" %}
{% load i18n %}
{% load markup %}
{% load statistics %}

{% block body_class %}{{ block.super }} project_detail{% endblock %}

{% block title %}{{ block.super }} | {{ project.name }}{% endblock %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url project_feed param=project.slug %}" />
{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {{ project.name }}{% endblock %}

{% block body_sec %}
  <a class="simlink" href="{% url project_feed param=project.slug %}" title="Project feed"><img border="0" src="{{ MEDIA_URL }}/images/icons/feed.png" /></a>
{% endblock %}

{% block body_main %}

  <h2 class="name">{{ project.name }}</h2>

  {% if request.user.is_authenticated %}
  <div class="editlinks"><p class="i16 edit"><a href="{% url project_edit slug=project.slug %}">{% trans "Edit" %}</a></p></div>
  {% endif %}
  
  {% if project.description %}<p class="description">{{ project.description }}</p>{% endif %}

  <div class="long_description">{{ project.long_description|markdown|truncatewords:"100" }}
  {% comment %}
  {# FIXME: This is sub-optimal #}
  {% ifequal project.long_description|markdown project.long_description|markdown|truncatewords:"100" %}
  (<a href="?long_desc">more</a>)
  {% endifequal %}
  {% endcomment %}
  </div>

  <div class="details">

  {# <h3>{% trans "Project details" %} </h3> #}
  <table class="definition">{% if project.homepage %}
    <tr>
      <th class="homepage i16">{% trans "Homepage:" %}</th>
      <td><a title="{% blocktrans with project.name as project_name %}Homepage for {{ project_name }}{% endblocktrans %}" href="{{ project.homepage }}">{{ project.homepage }}</a></td>
    </tr>
    {% endif %}
    {% if project.tags %}
    <tr>
      <th class="i16 tag">{% trans "Tags:" %}</th>
      <td class="compact">
        {% for tag in project.tagsobj.all|slice:"0:6" %}<a class="tag" href="{% url project_tag_list tag=tag %}">{{ tag }}</a> {% endfor %}
      </td>
    </tr>
    {% endif %}
<!--
    <tr>
      <th class="i16 link">{% trans "External links:" %}</th>
      <td><ul>
        <li>{% trans "Screenshots" %}</li>
        </ul>
      </td>
    </tr>
-->
  </table>
</div>

{% include "projects/component_list.html" %}

{% endblock %}

{% block content_footer %}
  <div id="content_footer_center">
    {% if request.user.is_authenticated %}
    <div class="deletelink">
      <span class="i16 delete"><a href="{% url project_delete slug=project.slug %}">{% trans "Delete project" %}</a></span>
    </div>
    {% endif %}
  </div>
{% endblock %}
