{% extends "projects/project_detail_childs.html" %}

{% block breadcrumb %}{{ block.super }} &raquo; {% if not project %} Add {% else %} Edit {% endif %} {% endblock %}

{% block content_title %}
  {% if not project %}
    <h2 class="pagetitle">Add a project</h2>
  {% else %}
    <h2 class="pagetitle">Editing <a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h2>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="project_add">
  {% if form_message %}
    <p class="message i16 bell">{{ form_message }}</p>
  {% endif %}
  <form action='' method='post'>
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit">
  </form>
  </div>
{% endblock %}
