{% extends "projects/base.html" %}
{% load i18n %}
{% load tx-common %}
{% load pagination_tags %}

{% block body_class %}{{ block.super }} project_list{% endblock %}

{% block title %}{{ block.super }} | {% trans "Project list" %}{% endblock %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url project_latest_feed %}" />
{% endblock %}

{% block breadcrumb %}{% homelink %} &raquo; {% trans "Projects" %}{% endblock %}

{% block content_title %}
<h2 class="pagetitle">{% if tag %}{% blocktrans %}Projects with tag '{{ tag }}'{% endblocktrans %} <sup class="entry_metalink">{{ project_list.count }}</sup></h2>
{% else %}<h2 class="pagetitle">{% trans "Projects on Transifex" %} {% render_metacount project_list _("projects") %}</h2>
{% endif %}
{% endblock %}

{% block content_header_sec %}
    {% if request.user.is_authenticated %}
    <div class="addproject content_header_sec">
      <span class="i16 add"><a href="{% url project_create %}">{% trans "Add a new project" %}</a></span>
    </div>
    {% endif %}
{% endblock %}

{% block body_sec %}
  <a class="simlink" href="{% url project_latest_feed %}" title="Projects feed"><img border="0" src="{{ MEDIA_URL }}/images/icons/feed.png" /></a>
{% endblock %}

{% block body_main %}
  {% autopaginate project_list 20 %}
  <div class="project_list obj_biglist">
  {% for project in project_list %}
    <div class="entry">
      <h3 class="name"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h3>
      <p class="description">{{ project.description }}</p>
    </div>
  {% endfor %}
  {% paginate %}
  </div>
  {% if not project_list %}
  <p>{% trans "No projects registered yet. :-(" %}</p>
  {% url project_create as project_create %}
  <p>{% blocktrans %}Why don't you <a href="{{ project_create }}">add one</a>?{% endblocktrans %}</p>
  {% endif %}
  
{% endblock %}

{% block content_footer %}
{% url project_create as project_create %}
  <div id="content_footer_center">
    <p><span class="i16 tip">{% blocktrans %}Couldn't find your project? Go ahead and <a href="{{ project_create }}">add it</a>!{% endblocktrans %}</span></p>
  </div>
{% endblock %}
