{% load i18n %}
{% load statistics %}
<table class="stats_comp">
   <thead>
    <tr>
      <th>{% trans "Language" %}</th>
      {% for c in components %}
          <th class="alcenter">{{ c.name|truncate_chars:11 }}</th>
      {% endfor %}
    </tr>
   </thead>
   <tbody>        
   {% for language, comp in stats.items %}
    <tr>
      <td class="left" id="{{language.code}}">{{ language.name }} ({{language.code}})</td>    
      {% for name, stat in comp.items %}
        <td>
          {% stats_bar_trans stat %}
          <div class="stats_string_comp" title="{% trans "Trans:" %}{{stat.trans}} {% trans "Fuzzy:" %}{{stat.fuzzy}} {% trans "Untrans:" %}{{stat.untrans}}" >{{stat.trans_perc}}%</div> 
        </td>   
      {% endfor %}
    </tr>       
   {% endfor %}
   </tbody>
 </table>
