{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}{% endblock %}

{% block title %}{{ block.super }} | {% trans "Search" %}{% endblock %}

{% block body_class %}search project_list{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">
    {% trans "Search Results" %} {% if result_count %}<sup style="color:#666;font-size:0.7em">({{ result_count }})</sup> {% endif %}
  </h2>
{% endblock %}
  
{% block content %}

{% include "resources/search_translation_form.html" %}

  {% if query %}
    {% if results %}
      <div class="project_list" style="padding-top:10px">
      {% for result in results %}
      
        <div class="entry">
          {% with result.source_entity as source_entity %}
          <p class="long_description">{{ result.language }}</p>
          <p class="name highlight">{{ result.string }}</p>
          <p class="long_description">
            <span>Description :</span>
            {{ source_entity.description }}
          </p>
          {% with source_entity.resource as resource %}
          <p class="long_description">
            <span>Resource :</span>
            {{ resource.name }}
          </p>
          <p class="long_description">
            <span>Project :</span>
            {{ resource.project }}
          </p>
          {% endwith %}
          {% endwith %}
        </div>
        <br />
      {% endfor %}

      </div>
    {% else %}
        {% trans "No results obtained" %}
    {% endif %}
  {% endif %}

{% endblock %}

{% block content_footer %}
{% endblock %}
