{% load i18n %}
{% load txcommontags %}


<div id="upload_resource_translation_button" class="generic_form">
  <form action='' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      {{ resource_translation_form.target_language.label }}:
      <span class="fieldp" id="target_language_span">
        {{ resource_translation_form.target_language }}
      </span>
      <span class="fielderrors">
        {% for error in resource_translation_form.target_language.errors %}{{ error }}{% endfor %}
      </span>
    </p>
    <p>
      {% trans "Select a file" %}:
      <span class="fieldp">
        {{ resource_translation_form.translation_file }}
      </span>
      <span class="fielderrors">
        {% for error in resource_translation_form.translation_file.errors %}{{ error }}{% endfor %}
      </span>
    </p>
    <p class="submit" style="text-align:center">
      <input type="submit" class="i16 submit buttonized" name="upload_translation" value="{% trans "Upload File" %}" />
    </p>
    <p>
      {% trans "or" %}
      <a id="start_new_translation" class="i16 buttonized action">{% trans "Translate Online" %}</a>
    </p>
  </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
{% if uploaded %}
window.location.reload(true)
{% endif %}

{% if show_form %}
$("#new_translation_box1").show();
{% endif %}
});
</script>
