{% load i18n %}
{% load txcommontags %}

{% if create %}
<div id="upload_resource_translation_button" class="generic_form">
  <form action='' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      {{ resource_translation_form.target_language.label }}:
      <span class="fieldp" id="target_language_span">
        {{ resource_translation_form.target_language }}
      </span>
      <span class="fielderrors">
        {% for error in resource_translation_form.target_language.errors %}{{ error }}{% endfor %}
      </span>
    </p>
    <p>
      {% trans "Select a file" %}:
      <span class="fieldp">
        {{ resource_translation_form.translation_file }}
      </span>
      <span class="fielderrors">
        {% for error in resource_translation_form.translation_file.errors %}{{ error }}{% endfor %}
      </span>
    </p>
    <p class="submit" style="text-align:center">
      <input type="submit" class="i16 submit buttonized" name="upload_translation" value="{% trans "Upload File" %}" />
    </p>
    <p>
      {% trans "or" %}
      <a id="start_new_translation" class="i16 buttonized action">{% trans "Translate Online" %}</a>
    </p>
  </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
{% if uploaded %}
window.location.reload(true)
{% endif %}

{% if show_form %}
$("#new_translation_box1").show();
{% endif %}
});
</script>

{% else %}

<div id="update_translation_form" class="generic_form">
  <form id="update_translation_form_element" action='' method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ update_translation_form.target_language }}
    <span id="upload_button" class="i16 send_file buttonized">
      {% trans "Upload file" %}
    </span>
  </form>
</div>

<script type="text/javascript">

jQuery(document).ready(function($){

    /* Bind ajax upload button */
    new AjaxUpload("upload_button", {
        action: "{% url update_translation project.slug resource.slug language.code %}",
        responseType: "json",
        onSubmit : function(file, extension) {
            $("div#notification-container div").html(sprintf("Uploading '%s'", file));
            $("div#notification-container").fadeIn("fast");
            this.disable();
        },
        onComplete : function(file, response) {
            if(typeof(response['status']) !== 'undefined' && response['status'] != 200) {
                if (typeof(response['message']) !== 'undefined')
                    alert(response['message']);
            }
            $("div#notification-container").fadeOut("fast");
            this.enable();
            location.replace('{{ next_url }}')
        }
    });
});

</script>

{% endif %}
