{% extends "authopenid/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Password reset" %}{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {% trans "Password reset" %}{% endblock %}
{% block content_title %}<h2 class="pagetitle">{% trans "I lost my password!" %}</h2>{% endblock %}

{% block content %}

<p class="settings-descr">{% trans "No worries! Here you can ask to reset your password by entering the username you use. You will then get a confirmation email with your new password. The new password will be activated only after you have clicked on the link in the email." %}</p>
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form.username.errors %} 
		<span class="error">{{ form.username.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
{% if msg %}
<br />
<span class="error">{{ msg }}</span>
{% endif %}

<div class="aligned">
	<form action="." method="post" accept-charset="utf-8">
		<div id="form-row"><label for="id_username">{% trans "Username" %}</label>: {{ form.username }}</div>

        <p><input type="submit" class="i16 submit" value="{% trans "Send new password" %}"></p>

	</form>
	</div>
{% endblock %}
