{% load i18n %}
{% load txcommontags %}

<form name="fauth" action="{% url login %}?next={{next}}" method="post">{% csrf_token %}
<div class="generic_form" id="login_index login-block">
<fieldset>
  <legend>{% trans "Sign in" %}</legend>
  <p class="login-tagline i16 user">{% trans "Sign in to add or modify projects, work on translations, and other stuff." %}</p>
  {% if form_message %}
    <p class="message i16 bell">{{ form_message }}</p>
  {% endif %}
  <table>
    <tbody>
      {% form_as_table_rows form %}
    </tbody>
  </table>
  <div class="submit-row"><span class="buttonized"><input type="submit" class="i16 key" name="blogin" value="{% trans "Sign in" %}"></span></div>
</fieldset>
</div>
</form>
