include LICENSE README
recursive-include transifex/templates *.html *.txt *.xrdf
recursive-include transifex/*/templates *.html *.tmpl
recursive-include transifex/settings *.conf
recursive-include transifex/site_media *
recursive-include transifex *.json
recursive-include docs *
recursive-include build-tools *
include transifex/locale/LINGUAS
recursive-include transifex/locale *.po
