recursive-include transifex/templates *.html *.txt *.tmpl
recursive-include transifex/*/templates *.html *.txt *.tmpl

recursive-include transifex/settings *.conf
exclude transifex/settings/*-local.conf

graft transifex/site_media
recursive-include transifex *.json *js

include LICENSE README
recursive-include docs *.txt
graft docs/html

include bootstrap.py buildout.cfg
recursive-include build-tools *

include transifex/locale/LINGUAS
recursive-include transifex/locale *.po
