{% extends "releases/base.html" %}
{% load i18n %}
{% load txcommontags %}

{% block title %}
  {% if not release %}{{ block.super }} | {% trans "Add a release" %}
  {% else %}{{ block.super }} | {% blocktrans with release.name as release_name %}Edit {{ release_name}}{% endblocktrans %}{% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if not release %}{{ block.super }} &raquo; {% trans "Add a release" %}
  {% else %}{{ block.super }} &raquo; {% blocktrans with release.name as release_name %}Edit <em>{{ release_name}}</em>{% endblocktrans %}{% endif %}
{% endblock %}

{% block content_title %}
  {% if not release %}
    <h2 class="pagetitle">{% trans "Add a release" %}</h2>
  {% else %}
    <h2 class="pagetitle">
      {% blocktrans with release.name as release_name and release.get_absolute_url as release_url %}Editing <a href="{{ release_url }}">{{ release_name }}</a>{% endblocktrans %}
    </h2>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="release_create">
  {% if form_message %}
    <p class="message i16 bell">{{ form_message }}</p>
  {% endif %}
  <form action='' method='post'>
  <table>
    <tbody>
    {% form_as_table_rows form %}
    </tbody>
  </table>
  <p class="submit"><input type="submit" class="i16 submit" /></p>
  </form>
  </div>
{% endblock %}
