{% extends "languages/base.html" %}
{% load i18n %}
{% load statistics %}

{% block extra_head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/file_submit.js"></script>
  <style type="text/css">
    form.submit_form { display: none; }
    form.submit_form fieldset { border: 2px dotted #ddd; }
  </style>
{% endblock %}

{% block body_class %}{{ block.super }} language_release{% endblock %}

{% block title %}{{ block.super }} | {{ language.name }} | {{ release.name }}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{% url language_detail language.code %}">{{ language.name }}</a> &raquo; {{ release.name }}{% endblock %}

{% block body_sec %}
  <a class="simlink" href="{% url language_release_feed language_slug=language.code collection_slug=release.collection.slug release_slug=release.slug %}" title="Statistics feed for this language and release"><img border="0" src="{{ MEDIA_URL }}/images/icons/feed.png" /></a>
{% endblock %}

{% block content_title %}<h2 class="pagetitle">{{ language.name }}<sup class="entry_metalink">{{ release.name }}</sup></h2>{% endblock %}

{% block body_main %}

{% if pofile_list %}

    <h3>{% trans "Project/Component statistics" %} </h3>

    {% lang_stats_table pofile_list %}

{% endif %}

{% if not pofile_list %}
{% url contact_form as contact_form %}
  <p>{% blocktrans %}Transifex searched for projects containing translation files for this language and release, but couldn't find any. Try submitting such a file and check again.{% endblocktrans %}</p>
  <p class="i16 tip">{% blocktrans %}If you think this shouldn't happen, please <a href="{{ contact_form }}">let us know</a>.{% endblocktrans %}</span></p>
{% endif %}

{% if untrans_comps %}
  <h3>{% blocktrans %}Untranslated Components{% endblocktrans %}</h3>
  <p class="explanation">{% blocktrans %}Here you can find components registered to belong in {% endblocktrans %}{{ release.name }}{% blocktrans %}, but with no translations sent for {% endblocktrans %}{{ language.name }}{% blocktrans %} yet:{% endblocktrans %}</p>
  <div class="component_list">
  <ul class="simple">
  {% for comp in untrans_comps %}
    <li><p class="i16 component"><a href="{{ comp.get_absolute_url }}">{{ comp.project.name }} &raquo; {{ comp.name }}</a></p></li>
  {% endfor %}
  </ul>
  </div>

{% endif %}

{% endblock %}