{% extends "authopenid/base_profile.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Notifications" %}{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {% trans "Notifications" %}{% endblock %}
{% block content_title %}<h2 class="pagetitle">{% trans "Notification settings" %}</h2>{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed" href="{% url notification_feed_for_user %}" />
{% endblock %}

{% block body %}
 
    <div class="notice_settings">
       
        {% with user.email as user_email %}
        {% if user_email %}
            <p>{% blocktrans %}You can receive notifications whenever an event occurs in Transifex. Check the notifications available for you on the list bellow and choose which events you would like to be notificated by email.{% endblocktrans %}</p>
            <p>{% trans "Primary email" %}: <strong>{{ user.email }}</strong>
            < br/>({% trans "change under" %} <a href="{% url user_changeemail %}">{% trans "Account" %}</a>)
        {% else %}
            <p><span class="warning">{% trans "Note" %}</span>:
              {% trans "You do not have a verified email address to which notices can be sent. You can add one by going to" %} <a href="{% url user_changeemail %}">{% trans "Account" %}</a>.
            </p>
        {% endif %}
        {% endwith %}
        
        <form method="POST" action="">
            <table class="notice_settings">
                <tr>
                    <th>{% trans "Notification Type" %}</th>
                    {% for header in notice_settings.column_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in notice_settings.rows %}
                    <tr>
                        <td>{% trans row.notice_type.display %}<br/>
                            <span class="notice_type_description">{% trans row.notice_type.description %}</span>
                        </td>
                        {% for cell in row.cells %}
                            <td>
                                <input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %}/>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td><input type="submit" value="{% trans "Change" %}" /></td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}
