
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:0;margin:0;border:none;}

div#map{
  width: 100%;
  height: 360px;
}

div.public_profile {
  border: 0px;
  background: None;
}

div.public_profile .details {
}

div.public_profile .avatar{
  padding-top:10px;
  text-align:left;
  margin-bottom: 10px;
  min-height: 110px;
}

div.public_profile .avatar img{
  float:left;
  margin-right: 20px;
}

div.public_profile .avatar span{
  font-size: 90%;
  color: #666;
}

div.public_profile .avatar input{
  margin-top: 10px;
}


div.public_profile #map{
  margin-left: 20px;
  float: right;
  width: 450px;
  height: 230px;
}