{% load i18n %}{% blocktrans %}Hello {{ maintainer }}, this is Transifex at {{ current_site }}.{% endblocktrans %}

{% blocktrans %}The following attached files were submitted to {{ project }} | {{ component }} by {{ translator }} <{{ translator_email }}> {% endblocktrans %}

{% blocktrans %}Please, visit Transifex at {{ url }} in order to see the component page.{% endblocktrans %}

{% blocktrans %}Thank you,{% endblocktrans %}
Transifex
