{% load i18n %}{% blocktrans %}Hello {{ user }}, this is Transifex at {{ current_site }}.{% endblocktrans %}

{% blocktrans %}Our system detected a failed file submission ({{ filename }}) to {{ project }} | {{ component }}. In order to avoid losing any of your work, you may find the files in question attached to this e-mail.{% endblocktrans %}

{% blocktrans %}This error was triggered by a failed correctness check (msgfmt -c) on the file. The error was the following:{% endblocktrans %}

{% autoescape off %}{{ error_message }}{% endautoescape %}

{% blocktrans %}Please visit Transifex at {{ url }} in order to upload the corrected version of your file.{% endblocktrans %}

{% blocktrans %}Thank you,{% endblocktrans %}
Transifex
