{% load i18n %}
{% load stats_tags %}
<table class="stats">
   <thead>
    <tr>
      <th>{% trans "Lang name" %}</th>
      <th class="alcenter">{% trans "Translations" %}</th>
      <th>{% trans "Download" %}</th>
    </tr>
   </thead>
   <tbody>
   {% for lang, stat in stats.items %}
      <tr>
        <td class="left">{{lang}}</td>
        <td>
          <div class="graph">
              <div class="translated" style="width: {{stat.trans_perc}}px;"></div>
              <div class="fuzzy" style="left: {{stat.trans_perc}}px; width: {{stat.fuzzy_perc}}px;"></div>
              <div class="untranslated" style="left: {{stat|sum_trans_fuzzy}}px; width: {{stat.untrans_perc}}px;"></div>
          </div>
          <div class="stats_string">{{stat.trans_perc}}% ({{stat.trans}}/{{stat.fuzzy}}/{{stat.untrans}})</div> 
        </td>
        <td class="left"><a class="i16 link" title="{% trans "Download the " %}{{lang}}.po" href="">{{lang}}.po</a></td>
      </tr>
   {% endfor %}
   </tbody>
</table>