{% extends "projects/project_menu.html" %}
{% load i18n %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}

{% block title %}
  {% if not project %}
    {{ block.super }} | {% trans "Add a project" %}
  {% else %}
    {{ block.super }} | {{ project.name}}
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if not project %}
    {{ block.super }} &raquo; {% trans "Add a project" %}
  {% else %}
    {{ block.super }} &raquo;
    {% blocktrans with project.name as project_name %}Edit {{ project_name }}{% endblocktrans %}
  {% endif %}
{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">
  {% if not project %}
    {% trans "New project" %}
  {% else %}
    {% blocktrans with project.name as project_name %}Edit {{ project_name }}{% endblocktrans %}
  {% endif %}
  </h2>
{% endblock %}

{% block content_main %}
{% include "helptext/project_form_helptext.html" %}
<h3>
{% if not project %}
    {% trans "Add the details of your project" %}
{% else %}
    {% trans "Edit the details of your project" %}
{% endif %}
</h3>

<div class="project_create generic_form">
  <form action='' method='post'>{% csrf_token %}
    <table>
        <tbody>
        {% form_as_table_rows project_form %}
        </tbody>
    </table>
    <p class="submit"><span class="buttonized"><input type="submit" class="i16 submit" value="{% trans "Save project" %}" /></span></p>
  </form>
</div>
{% endblock %}

