{% extends "projects/base.html" %}
{% load i18n %}
{% load addons %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}

{% block basecss %}
{{ block.super }}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.autocomplete.css" />
  <link media="screen" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/file_submit.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tablesorted.js"></script>
  {% if project %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url project_feed param=project.slug %}" />
  {% endif %}

<script type="text/javascript">

function toggle_access_control(){
    var project_type = $("input[name='project_type']:checked").val();
    if (project_type != 'outsourced'){
        $("input[name='access_control']").attr('disabled', false);
        $("select[name='outsource']").attr('disabled', 'disabled');
    }else{
        $("input[name='access_control']").attr('disabled', 'disabled');
        $("select[name='outsource']").attr('disabled', false);
    }

    // CLA related events
    var access_control = $("input[name='access_control']:checked").val();
    
    if(access_control != 'limited_access' || project_type == 'outsourced') {
        $("#cla_section").hide();
    } else {
        $("#cla_section").show();
    }

}

$(document).ready(function(){
    
    {# If project has a hub request open, do not execute form toggler #}
    {% if not project.hub_request %}
    
        $("form[name=hub] input[type=radio]").change(function(){
            toggle_access_control();
        });

        toggle_access_control();

    {% else %}

        $("form[name=hub]").submit(function(){
            // On submit disable its submit button
            $("input[type=submit]", this).attr('disabled', 'disabled');
        });
        $("form[name=hub] input[type=submit]").attr('disabled', 'disabled');
        $("form[name=hub] input[type=submit]").addClass('tick_disabled');


    {% endif %}
    
    if($("#id_cla_enable:checked").val() != null) {
        $("#cla_textarea").show();
    }

    $("input[name='cla_enable']").change(function() {
        $("#cla_textarea").toggle("fast");
    });

    }
);
</script>
{% endblock %}

{% block content_title %}
{% with project.description as short_desc %}
<div class="lastchild-emf">
{% block project_header %}
<h2 class="pagetitle{% if short_desc %} with_description{% endif %}"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h2>
{% endblock %}
</div>


{% block current_description %}
{% if short_desc %}
<div class="description">
	<p>{{ project.description }}</p>
</div>
{% endif %}
{% endblock %}


{% endwith %}

{% endblock %}


{% block content_header_sec %}
	{% if project.private %}
	<span id="private_project_banner" class="ui-corner-all" style="padding-top:38px;display:inline-block;float:right;background:url({{ STATIC_URL }}images/icons/private-project.png)center top no-repeat;">
	<p style="font-size:13px;font-weight:normal;color:#888;">{% trans "Private"%}</p>
	</span>
	{% endif %}
{% endblock %}

{% block header_menu %}
    {% if project %}
     <div class="tab-wrapper grid_16">
        <ul  class="tabs clearfix">     
            <li class="{% if project_overview %}selected{% endif %} alpha"><a href="{% url project_detail project_slug=project.slug %}">{% trans "Project Overview" %}</a></li>
            <li class="{% if project_resources %}selected{% endif %} alpha"><a href="{% url project_resources project.slug %}">{% trans "Resources" %} ({{ project.resources.count }})</a></li>
            {% hook "project.html" menu %}

            {% if perms.projects.change_project or is_maintainer %}
            {% url project_edit project_slug=project.slug as url_project_edit%}{% url project_delete project_slug=project.slug as url_project_delete %}{% url project_access_control_edit project_slug=project.slug as url_project_access_control_edit %}{% url project_timeline project_slug=project.slug as url_project_timeline %}
            <li class="{% if request.path == url_project_edit or request.path == url_project_delete or request.path == url_project_access_control_edit or request.path == url_project_timeline%}selected{% endif %}"><a href="{% url project_edit project_slug=project.slug %}" class="i16 settings-sm" style="background-position:13px 5px;padding-left:32px;">{% trans "Manage" %}</a></li>                                                
            {% endif %}
          </ul>
        </div>            
    {% endif %}
{% endblock %}


{% block content_main %}{% endblock %}
{% block content_footer %}{% endblock %}