{% extends "projects/project_menu.html" %}
{% load i18n %}
{% load project_hub %}
{% load txcommontags %}
{% load permissions %}


{% block project_header %}
{{block.super}}<h2 class="pagetitle with_description">&nbsp;/&nbsp;</h2>
<h2 class="pagetitle with_description"><a href="{% url project_resources project.slug %}">{% blocktrans %}Resources{% endblocktrans %}</a></h2>
{% endblock %}
{% block current_description %}
<p class="description">{% blocktrans %}Detailed list of the project's resources{% endblocktrans %}</p>
{% endblock %}

{% block content_main %}
  {% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

  {% with project.outsourcing.all as outsourcing_projects %}
  <div class="separate-header clearfix">
  	<h3  class="sh-label">{% blocktrans %}Hub projects{% endblocktrans %}</h3>
	</div>
  {% include "projects/project_hub_join_requests.html" %}
  {% if outsourcing_projects %}
    <div class="datalist">
      <ul>
      {% for p in outsourcing_projects %}
          <li class="clearfix">
          <span class="name"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></span>
  
          <div style="float:right">
              {% hub_associate_project_toogler p %}
          </div>
      
          </li>
      {% endfor %}
      </ul>
    </div>
  {% else %}
      <span class="i16 infomsg">{% trans "No project is outsourcing access to this project hub." %}</span>
  {% endif %}
  {% endwith %}
{% endblock %}
