{% extends "projects/project_menu.html" %}
{% load i18n %}
{% load markup %}
{% load addons %}
{% load txcommontags %}
{% load watches_tags %}
{% load permissions %}
{% load upload_manager_tags %}
{% load tx_action_log %}
{% load project_hub %}
{% load project_tags %}

{% block body_class %}{{ block.super }} project_detail{% endblock %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript">
  $(function(){
    $("form.submit_form").hide();
    $('#request-team-button').click(function() {
      $("#request-team-form").slideToggle();
     });
    $(".tipsy_enable").tipsy({'html':true, 'gravity':'s'});
    $(".persisthide").persisthide();    
   })
</script>
{% endblock %}

{% block content_main %}
{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

  <div class="obj_bigdetails">

  <div class="definition clearfix">
  
    <div class="basic-details clearfix">
      <div class="detail-row">
        <span class="i16 orange-arrow" style="padding-left:20px;font-size:1.077em;">{{ project.description }}</span>
        {% if project.homepage %}
        <span class="homepage-url ">
          &nbsp;&mdash;&nbsp;&nbsp;<a title="{% blocktrans with project.name as project_name %}Homepage for {{ project_name }}{% endblocktrans %}" href="{{ project.homepage }}" target="_blank" class="">{{ project.homepage }}</a>
        </span>
        {% endif %}
        
        {% with project.trans_instructions as instructions_url %}
        {% if instructions_url %}
        &nbsp;&mdash;&nbsp;&nbsp;<a title="{% trans "Documentation of the translation procedure of this project" %}" href="{{ instructions_url }}" target="_blank" >{% trans "Help pages" %}</a>
        {% endif %}
        {% endwith %}
        <span class="wdg-link">{% hook "project.html" sep_but %}</span>
      </div>       
    </div>
    
    <div id="project-extra-details" class="persisthide extra-details clearfix">

      <div class="ph-content no-display">
        <div class="detail-row">
          
          <div class="i16 maintainer project-maintainers clearfix">
            
            <span class="detlabel">{% trans "Maintainers:" %}</span>
            <span class="user-indetails owner tipsy_enable" title="{% trans 'The owner of the project' %}" >
              <img class="ui-corner-left" width="20" height="20" src="{{ project.owner.profile.get_mugshot_url }}" style=""/>
              <a href="{% url profile_public project.owner %}" > {{project.owner}}</a>
            </span>
        
          {% if maintainers %}
            {% for m in maintainers %}
            {% ifnotequal m.username project.owner.username %}
            <span class="user-indetails">
              <img class="ui-corner-left" width="20" height="20" src="{{ m.profile.get_mugshot_url }}" style="vertical-align:top"/>
              <a href="{% url profile_public m.username %}">{{m.username}}</a>
            </span>
            {% endifnotequal %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
        
        
        <div class="detail-row">
        
          {% hook "additional_project_details.html" %}
          
          {% if project.tags %}
        	<span class="i16 tag">
          {% for tag in project.tagsobj.all|slice:"0:6" %}<a class="tag" href="{% url project_tag_list tag=tag.url_name %}">{{ tag }}</a> {% endfor %}
          </span>
          {% endif %}
        </div>
          
        {% with project.long_description_html as long_desc %}
        {% if long_desc %}
        <div class="detail-row long_description">
          {{ long_desc|truncatewords_html:"100"|safe }}
        </div>
        {% endif %}
        {% endwith %}
  
      </div>

      <div class="ph-trigger contracted">
        <span></span>
      </div>
    
    </div>
    

    
</div>

{% with project.hub_requests.all as hub_requests %}
{% if hub_requests and is_maintainer %}
<p class="i16 infomsg">
  {% trans "Projects have requested to outsource access" %} <a href="{% url project_hub_projects project.slug %}">View requests &raquo;</a>
</p>
{%endif%}
{% endwith %}

{% include "projects/project_detail_languages.html" %}

{% include "projects/release_list.html" %}

</div>

<div id="project-history">

	<div class="separate-header clearfix">
  	<h3  class="sh-label notopmargin">{% trans 'History' %}</h3>
		<div class="separate-buttons">
		{% if request.user.is_authenticated %}
			{% url notification.views.notices as notices_url %}
			{% if notices_url %}
				<a class="nude-button">{% watch_toggle project %}</a>
			{% endif %}
		{% endif %}
		<a class="i16 feed nude-button" href="{% url timeline_feed project.slug %}" title="{% trans 'Timeline feed for this project' %}">{% trans "Subscribe to feed" %}</a>

		</div>
	</div>

	{% recent_project_log project as action_log %}
	{% if not action_log %}
	<p class="i16 infomsg">{% trans 'No history recorded yet.' %}</p>
	{% else %}
	<ul class="actionlist nomargin">
	{% for entry in action_log %}
	<li class="i16 {{entry.action_type}}">
	    <p>{{ entry.message|safe }}</p>
        <span class="timestamp">{{ entry.action_time|timesince }} ago</span>
	</li>
	{% endfor %}
	</ul>
	{% hook "project.html" overview %}
	{% endif %}
</div>

{% endblock %}

{% block content_footer %}
<div id="content_footer_center">
</div>

{% endblock %}
