{% extends "projects/project_settings.html" %}
{% load i18n %}
{% load truncate %}
{% load pagination_tags %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}
{% load fieldsets %}
{% load addons %}

{% block title %}{{ block.super }} | {{ project.name }} | {% trans "Outsource and Access Control" %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; {% trans "Outsource and Access Control" %}{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript">
	$(document).ready(function(){
		$("#id_project_type_2,#id_project_type_1,#id_project_type_0").change(function(){
				if($('#id_project_type_2').attr('checked'))
				$("#selectoutsource").show();
				else
				$("#selectoutsource").hide();				
			});
	});
</script>
{% endblock %}

{% block project_settings_content %}

<div id="project-form-container" class="obj_bigdetails">

{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

<div class="tx-form">

{% if is_maintainer %}

    {% if project.hub_request %}
        <div class="notice clearfix">
        <span>
        {% blocktrans with project.hub_request.project_hub as project_name %}This project has an outsource request pending to the '{{ project_name }}' hub, thus it can not change its access control settings while the request is open.{% endblocktrans %}
        </span>
        
        <form class="microform" method="post" action="{% url project_hub_join_withdraw project.slug %}">{% csrf_token %}
            <input class="i16 delete buttonized" type="submit" style="float:right;"  value="{% trans "Withdraw" %}"/>
        </form>

        </div>   
    {% endif%}

   
    {% hook "access_control_form_notices.html" %}    

    <form name="hub" action='' method='post' class="microform">{% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}"/> 
        {% if form.non_field_errors %}
            <ul class="fielderrors">{{ form.non_field_errors }}</ul>
        {% endif %}
        <div class="tx-form-field">
            <h3>{{ form.project_type.label }}: {% if form.project_type.field.required %}<span class="required">*</span>{% endif %}</h3>
            {{ form.project_type }}
            {% if form.project_type.errors %}<p class="fielderrors">{% for error in form.project_type.errors %}{{ error }}{% endfor %}</p>{% endif %}
            <p class="helptext">{{ form.project_type.help_text|safe }}</p>
				</div>

        <div id="selectoutsource" class="tx-form-field no-display">
            {{ form.outsource.label }}: {% if form.outsource.field.required %}<span class="required">*</span>{% endif %}
            {{ form.outsource }}
            {% if form.outsource.errors %}<p class="fielderrors">{% for error in form.outsource.errors %}{{ error }}{% endfor %}</p>{% endif %}
            <p class="helptext">{{ form.outsource.help_text|safe }}</p>
				</div>
				
        <div class="tx-form-field">
            <h3>{{ form.access_control.label }}: {% if form.access_control.field.required %}<span class="required">*</span>{% endif %}</h3>
            {{ form.access_control }}
            {% if form.access_control.errors %}<p class="fielderrors">{% for error in form.access_control.errors %}{{ error }}{% endfor %}</p>{% endif %}
            <p class="helptext">{{ form.access_control.help_text|safe }}</p>
				</div>
            {% hook "access_control_additional.html" %}

{% if not project.anyone_submit and not project.outsource %}
   <div>
        <a class="i16 edit" href="{% url project_add_permission project.slug %}">{% trans "Give project writer rights" %}</a>
   </div>
{% endif %}

        <p class="submit">
            <input type="submit" class="i16 submit buttonized" name="hub" value="{% trans "Save" %}" />
        </p>
    </form>  

    {% if project.is_hub %}
    <div class="i16 project" style="margin-top:1em;" >
        <span id="outsourcing_projects" class="linkstyle">
        {% blocktrans count project.outsourcing.count as counter %} {{ counter }} project outsourcing access to it{% plural %}{{ counter }} projects outsourcing access to it{% endblocktrans %}
        </span>
    </div>

    <script type="text/javascript">
        $("#outsourcing_projects").click(function(){
           jQuery.facebox({ ajax: '{% url project_hub_projects project.slug %}' });
        });
    </script>

    {% endif %}

{% endif %}


</div>
</div>
{% endblock %}

