{% extends "projects/project_settings.html" %}
{% load i18n %}
{% load truncate %}
{% load pagination_tags %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}
{% load fieldsets %}

{% block title %}{{ block.super }} | {{ project.name }} | {% trans "Outsource and Access Control" %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; {% trans "Outsource and Access Control" %}{% endblock %}

{% block project_settings_content %}

<div id="project-form-container" class="obj_bigdetails ui-tabs-panel">

{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

<div class="project_create generic_form">

{% if is_maintainer %}
    <h3/>{% trans "Outsource and Access Control Settings" %}</h3>

    <form name="hub" action='' method='post' class="microform">{% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}"/> 
        {% if form.non_field_errors %}
            <ul class="fielderrors">{{ form.non_field_errors }}</ul>
        {% endif %}
        <div class="tx-form-field">
            {{ form.project_type.label }}: {% if form.project_type.field.required %}<span class="required">*</span>{% endif %}
            {{ form.project_type }}
            {% if form.project_type.errors %}<p class="fielderrors">{% for error in form.project_type.errors %}{{ error }}{% endfor %}</p>{% endif %}
            <p class="helptext">{{ form.project_type.help_text|safe }}</p>

            {{ form.outsource.label }}: {% if form.outsource.field.required %}<span class="required">*</span>{% endif %}
            {{ form.outsource }}
            {% if form.outsource.errors %}<p class="fielderrors">{% for error in form.outsource.errors %}{{ error }}{% endfor %}</p>{% endif %}
            <p class="helptext">{{ form.outsource.help_text|safe }}</p>

            {{ form.access_control.label }}: {% if form.access_control.field.required %}<span class="required">*</span>{% endif %}
            {{ form.access_control }}
            {% if form.access_control.errors %}<p class="fielderrors">{% for error in form.access_control.errors %}{{ error }}{% endfor %}</p>{% endif %}
            <p class="helptext">{{ form.access_control.help_text|safe }}</p>

        <p class="submit">
            <input type="submit" class="i16 submit buttonized" name="hub" value="{% trans "Save" %}" />
        </p>
    </form>  

    {% if project.is_hub %}
    <div class="i16 project" style="margin-top:1em;" >
        <span id="outsourcing_projects" class="clickable">{% trans "See projects outsourcing access to it." %}</span>
    </div>

    <script type="text/javascript">
        $("#outsourcing_projects").click(function(){
           /* FancyBox Using custom settings */
           $.fancybox(
               {
                'href': '{% url project_outsourcing_projects project.slug %}',
                'hideOnContentClick': false,
                'onStart':function(){
                    // IE8 fix
                    if(jQuery.browser.msie) {
                      $('#fancybox-wrap').css('max-width','716px');
                      $('#fancybox-inner').css('max-width','716px');
                      $('#fancybox-outer').css('left','50%');
                    }
                },
                'onComplete':function() {       
                    $("#fancybox-title").css({'top':'0px', 'bottom':'auto', 'position':'absolute', 'margin':'0', 'width':'100%'}).addClass('ui-corner-top');
                    $("#fancybox-content").addClass('ui-corner-top'); 
                    $("#fancybox-outer").addClass('ui-corner-top'); 
                    // IE8 fix
                    if(jQuery.browser.msie){
                        $('.fancybox-title-outside').css('max-width','716px');
                    }
                },
                'titleShow': true,
                'titlePosition': 'inside',
                'title': '{{ project.name|truncate_chars:"30" }} &raquo;  {% trans "Project outsourcing"|escapejs %}'
           });
        });
    </script>

    {% endif %}

{% endif %}

{% if not project.anyone_submit and not project.outsource %}
   <div class="editlinks">
        <a class="i16 user" href="{% url project_add_permission project.slug %}">{% trans "Go to the project writers page." %}</a>
   </div>
{% endif %}

</div>
</div>
{% endblock %}

