{% extends "projects/project_detail_childs.html" %}
{% load i18n %}
{% load statistics_resources %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url release_language_feed release.project.slug release.slug language.code %}" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/watch_toggle.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tablesorted.js"></script>
  <link media="screen" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" rel="stylesheet" />

  <script type="text/javascript" src="{{ STATIC_URL }}js/houdini.js"></script>
  <link media="screen" href="{{ STATIC_URL }}css/houdini.css" type="text/css" rel="stylesheet" />

  <script type="text/javascript">
    $(function(){
        // Enable tooltip
        $(".tipsy_enable").tipsy({'html':true, 'gravity':'s'});

        // Stats table sorter
        $(".tablesorter_resource").tablesorter({
            widgets: ['zebra'],
            textExtraction: { // Take value inside an object for the columns
              0: function(node) {
                  return $("a", node).text();
              },
              1: function(node) {
                  return $(".origin_format", node).text();
              }
            }
        });

    });
  </script>

{% endblock %}

{% block body_class %}{{ block.super }} release_detail{% endblock %}

{% block title %}{{ block.super }} | {{ release.name }} | {{ language.name }}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{% url release_detail release.project.slug release.slug %}">{% blocktrans with release.name as release_name %}Release '{{ release_name }}{% endblocktrans %}'</a> &raquo; {{ language.name }}{% endblock %}

{% block content_sec %}
  <a class="simlink" href="{% url release_language_feed release.project.slug release.slug language.code %}" title="Statistics feed for this language and release"><img border="0" src="{{ STATIC_URL }}/images/icons/feed.png" /></a>
{% endblock %}

{% block content_title %}<h2 class="pagetitle">{{ release.name }}<sup class="entry_metalink">{{ language.name }}</sup></h2>{% endblock %}

{% block content_main %}

{% with release.resources.all as resources %}
<div class="list separate" style="clear:both">
  <h3>{% blocktrans count resources|length as counter %}Resource under this Release{% plural %}Resources under this Release{% endblocktrans %}</h3>
 {% if resources %}
  <table class="stat_table_font stats_table highlighted tablesorter_resource" style="clear:both;margin-top:0.5em;width:100%">
  <thead>
  <tr>
    <th><span class="i16 comment">{% trans "Name" %}</span></th>
    <th style="width:320px"><span class="i16 stats">{% trans "Completion" %}</span></th>
    <th><span class="i16 clock">{% trans "Last Updated" %}</span></th>
   </tr>
  </thead>
  <tbody>
  {% for res in resources %}
    <tr id="stat_row_{{forloop.counter}}" title="{% trans 'click for translation' %}">
        <td>
        {{ res.name }}
        </td>
        <td>
        {% with 200 as barwidth %}
            <div class="stats tipsy_enable" style='width:{{ barwidth|add:"40" }}px;' title="{% trans "Translated: " %}{% translated res language %}<br />{% trans "Untranslated: " %}{% untranslated res language %}">
                <div class="stats_string_resource" >
                    {% trans_percent res language %}% 
                </div> 
                {% stats_bar_simple res language barwidth %}
            </div>
        {% endwith %}
        </td>
        <td>
        <span style="border:0">
          {% last_translation_update res language as last_update %}
          {% last_committer res language as last_committer %}
          {% if last_update %}
              <span class="origin_format" style="display:none">{{ last_update|date:"M d,Y h:i A" }}</span>
              {{ last_update|timesince }} 
              {% if last_committer %}
              by {{ last_committer }}
              {% endif %}
          {% else %}
              {% trans "no activity yet" %}
          {% endif %}
        </span>
        </td>
    </tr>
    <script>
        $(".highlighted tr#stat_row_{{forloop.counter}}").click(function(){
           /* FancyBox Using custom settings */ 
           $.fancybox(
               { 
                'href': '{% url resource_actions res.project.slug res.slug language.code %}',
                'hideOnContentClick': false,
                'onComplete':function() {
                    $(".tipsy_enable").tipsy({'html':true, 'gravity':'s'});
                },
                'titleShow': true,
                'titlePosition': 'outside',
                'title': '{% trans "Translation Details"%}'
           });
        });
    </script>
  {% endfor %}
  </table>
 {% else %}
  <p>{% trans "No resources are registered for this project yet." %}</p>
 {% endif %}
</div>
{% endwith %}


{% endblock %}
