{% load txcommontags %}
{% load i18n %}
{% url release_create project_slug=project.slug as release_create %}

{% with project.releases.all as releases %}

{% if perms.projects.pr_release_add_change or is_maintainer %}
  <div id="releases" class="releases separate">
  <div class="editlinks">
    {# <p><a class="simlink" href="{% url release_feed param=release.slug %}" title="Release feed"><img border="0" src="{{ STATIC_URL }}images/icons/feed.png" /></a></p> #}
        <p class="buttonized add"><a class="i16 add" href="{{ release_create }}">{% trans "Add New Release" %}</a></p>
  </div>
  <h3 class="seperator_header">{% blocktrans %}Project Releases{% endblocktrans %}
  {% render_metacount releases _("releases") %}
  </h3>
  {% if releases %}
  <div class="release_list">
  <ul class="simple bigthings">
  {% for release in releases %}
    <li><p class="i16 release"><a href="{{ release.get_absolute_url }}">{{ release.name }}</a>
    {% if release.description %}<span class="description">– {{ release.description }}</span>{% endif %}</p></li>
  {% endfor %}
  </ul>
  </div>
  {% else %}
    <p class="i16 tip">{% blocktrans %}No releases are registered for this project yet. Why don't you <a href="{{ release_create }}">add one</a>?{% endblocktrans %}</p>
  {% endif %}
  </div>

{% else %}
  {% if releases %}
  <div id="releases" class="releases separate">
  <h3>{% blocktrans %}Project Releases{% endblocktrans %}
  {% render_metacount releases _("releases") %}
  </h3>
  <div class="release_list">
  <ul class="simple bigthings">
  {% for release in releases %}
    <li><p class="i16 release"><a href="{{ release.get_absolute_url }}">{{ release.name }}</a>
    {% if release.description %}<span class="description">– {{ release.description }}</span>{% endif %}</p></li>
  {% endfor %}
  </ul>
  </div>
  </div>
  {% endif %}

{% endif %}
{% endwith %}

