{% load i18n %}
{% load cache %}
{% load txcommontags %}
{% load permissions %}
{% load statistics_resources %}
{% load upload_manager_tags %}

<div id="resources" class="resources separate">
 
	<p style="display:inline;float:right; clear:right;">
		<span class="buttonized">
			<a id="create_new_resource" class="i16 add submit_button houdini_toggler">{% trans "Add New Resource" %}</a>
		</span>
	</p>
  <h3 class="seperator_header">{% blocktrans %}Project Resources{% endblocktrans %}</h3>



<script type="text/javascript">
    $(document).ready(function(){
        $(".res_tipsy_enable").tipsy({'html':true, 'gravity':'s'});
        $(".tablesorter_resource_list").tablesorter({
            widgets: ['zebra'],
            textExtraction: { // Take value inside an object for the columns
              0: function(node) {
                  return $("a", node).text();
              },
              1: function(node) {
                  return $(".origin_format", node).text();
              },
              2: function(node) {
                  return parseInt($(".priority_sort", node).text());
              }
            }
        });
        {% if request.user.is_authenticated %}
        $("#new_translation1").click( function (){
            $("#new_translation_box1").toggle();
        });
        $("#start_new_translation").click( function() {
            var target_lang_code = $(this).prev().val();
            if ( target_lang_code != "" ) {
                //request_url = window.location + target_lang_code;
                //This is _UGLY_. We need to find a way to do reverse url
                //lookups from JS code. #FIXME
                request_url ='/resources/project/{{project.slug}}/'+ target_lang_code;
                window.location = request_url;
            } else {
                alert("Please select a target language first and then click Go.");
            }
        });
        {% endif %}
        {% if is_maintainer %}
        var resource_priority_cycle_url = '{% url cycle_resource_priority project.slug "1111111111" %}';
        $("a.resource_priority_trigger").each(function(){
          $(this).click(function(){
            id_string = $(this).attr("id");
            var slug = id_string.substring(id_string.indexOf("_")+1);
            var pr_url = resource_priority_cycle_url.replace('1111111111', slug)
            $(this).load(pr_url, function(response, status, xhr) {
                if (status == "error") {
                    var msg = "Sorry but there was an error: ";
                    alert(msg + xhr.status + " " + xhr.statusText);
                }
            });
          });
        });
        {% endif %}
    });
</script>

  {% for stat in statslist %}
  {% if forloop.first %}
  <table class="stat_table_font stats_table tablesorter_resource_list" style="clear:both;margin-top:0.5em;width:100%">
  <thead>
   <tr>
    <th><span class="i16 tag">{% trans "Resource Name" %}</span</th>
    <th><span class="i16 clock">{% trans "Last Updated" %}</span></th>
    <th><span {% if is_maintainer %}class="res_tipsy_enable i16 ruby" title="{% trans "Click the flags to modify the importance of a resource." %}" {% else %}class="i16 ruby" {% endif %}style="border:0">{% trans "Importance" %}</span></th>
   </tr>
  </thead>
  <tbody>
  {% endif %}
    <tr>
		{% cache 604800 project_resource_details project.slug stat.object.slug LANGUAGE_CODE %}
        <td>
          <a class="res_tipsy_enable" href="{% url resource_detail project.slug stat.object.slug %}" style="font-weight:bold" title="{% blocktrans with stat.object.total_entities as strings and stat.object.wordcount as words %}{{ strings }} strings, {{ words }} words{% endblocktrans %}">{{ stat.object.name }}</a>
        </td>
        <td class="last_updated">
          {% with stat.last_committer as last_committer %}
            <span class="res_tipsy_enable" style="border:0" title="{% if last_committer %}{% blocktrans %}Committed by {{ last_committer }}{% endblocktrans %}<br/>{% else %}{% blocktrans %}No committers yet{% endblocktrans %}{% endif %}">
          {% endwith %}
          {% with stat.last_update as last_update %}
            {% if last_update %}
                <span class="origin_format" style="display:none">{{ last_update|date:"M d,Y h:i A" }}</span>
                {{ last_update|date:"M d, h:ia" }}
            {% else %}
                {% trans "no translations yet" %}
            {% endif %}
          {% endwith %}
          </span>
        </td>
		{% endcache %}
        <td class="priority_level" style="width:100px;text-align:center">
            {% with stat.object.priority.level as priority_level %}
            {% with stat.object.priority.display_level as display_level %}
            {% if is_maintainer %}
              <a id="priority_{{ stat.object.slug }}" class="resource_priority_trigger" style="cursor:pointer">
                <span class="priority_sort" style="display:none">{{ priority_level }}</span>
                <img class="res_tipsy_enable" src="{{ STATIC_URL }}priorities/images/{{ display_level }}.png" style="border:0" title="{{ display_level }}"/>
              </a>
            {% else %}
              <span class="priority_sort" style="display:none">{{ priority_level }}</span>
              <img class="res_tipsy_enable" src="{{ STATIC_URL }}priorities/images/{{ display_level }}.png" style="border:0" title="{{ display_level }}"/>
            {% endif %}
            {% endwith %}
            {% endwith %}
        </td>
    </tr>
  {% if forloop.last %}
  </tbody>
  </table>
  {% endif %}
  {% empty %}
    <p>{% trans "No resources are registered for this project yet." %}</p>
  {% endfor %}

  {% comment %}
  {% get_permission "project_perm.submit_translations" for request.user and project,1 as "can_submit_translation" %}
  {% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}
  {% if can_submit_translation or request.user.is_superuser or is_maintainer %}
  <div id="new_translation_box1">
      <select name="translation_languages" class="language">
          <option value="">{% trans "Select Language" %}</option>
          {% if is_maintainer or request.user.is_superuser %}
            {% for language in languages %}
                <option value="{{ language.code }}">{{ language.name }}</option>
            {% endfor %}
          {% else %}
            {% for team in user_teams %}
                <option value="{{ team.language.code }}">{{ team.language.name }}</option>
            {% endfor %}
          {% endif %}
      </select>
      <a id="start_new_translation" class="i16 buttonized action">GO</a>
  </div>
  <p style="text-align:center;padding-top:1em">
   <a id="new_translation1" class="buttonized i16 add">{% trans "Translate All" %}</a>
  </p>
  {% endif %}
  {% endcomment %}

  {% if is_maintainer %}
    {% upload_create_resource_form request project %}
  {% endif %}

</div>
