{% load i18n %}
{% load txcommontags %}
{% load permissions %}


<div id="resources" class="resources separate">

  {% if request.user.is_authenticated %}
    {% load upload_manager_tags %}
    {% upload_manager project %}
  {% endif %}

<!--  <div class="editlinks">
  <p>
    <a class="simlink rss_feed" href="{% url project_feed param=project.slug %}" title="Project feed">
      <span>Subscribe to this feed</span>&nbsp;<img border="0" src="{{ MEDIA_URL }}images/icons/feed.png" />
    </a>
  </p>
  {% if perms.projects.add_component or is_maintainer %}
    <p style="text-align: right;"><a class="i16 add buttonized" href="{% url component_create project_slug=project.slug %}">{% trans "Add" %}</a></p>
  {% endif %}
  </div>-->

  {% with project.tresource_set.all as resources %}
  <h3>{% blocktrans count resources|length as counter %}Project Resource{% plural %}Project Resources{% endblocktrans %}
    {% render_metacount resources _("resources") %}
  </h3>

  {% if resources %}

    <script type="text/javascript">
    	$(document).ready(function(){
    		$(".res_tipsy_enable").tipsy({'html':true, 'gravity':'s'});
    	});
    </script>

  <ul style="clear:both"> 
  {% for res in resources %}
    <li style="list-style:none;list-style-image:url({{ STATIC_URL }}images/icons/page_white_stack.png)">
        <a href="{{ res.get_absolute_url }}" style="font-weight:bold" class="res_tipsy_enable" title="Total Strings: {{ res.total_entities }}<br/>Available Languages: {{ res.available_languages|length }}">{{ res.name }}</a>
        <sup class="entry_metalink">
           {% if request.user.is_authenticated and is_maintainer %}
             <a href="{% url tresource_edit project_slug=project.slug tresource_slug=res.slug %}">{% trans "edit" %}</a>
             , <a href="{% url tresource_delete project_slug=project.slug tresource_slug=res.slug %}">{% trans "del" %}</a>
           {% endif %}
        </sup>
    </li>
  {% endfor %}
  </ul>
  {% else %}

  <p>{% trans "No resources are registered for this project yet." %}
<!--    { if perms.projects.add_component or is_maintainer }
    <a href="{ url component_create project_slug=project.slug }">{% trans "Add one!" %}</a>
    { endif } -->
  </p>
    {% endif %}
  {% endwith %}
  <p class="i16 tip compact clear">
    {% blocktrans %}A <em>Resource</em> is mapped to master file and it's translated versions.
    For example Resource could be bound to nano.pot and de.po, it.po, fi.po, etc.{% endblocktrans %}
  </p>
</div>
