{% extends "txcollections/base.html" %}
{% load i18n %}
{% load markup %}
{% load statistics %}

{% block body_class %}{{ block.super }} collection_detail{% endblock %}

{% block title %}{{ block.super }} | {{ collection.name }}{% endblock %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url collection_feed param=collection.slug %}" />
{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {{ collection.name }}{% endblock %}

{% block body_sec %}
  <a class="simlink" href="{% url collection_feed param=collection.slug %}" title="collection feed"><img border="0" src="{{ MEDIA_URL }}/images/icons/feed.png" /></a>
{% endblock %}

{% block body_main %}
  <div class="obj_bigdetails">
  <h2 class="name">{{ collection.name }}</h2>

  {% if request.user.is_authenticated %}
  <div class="editlinks"><p class="i16 edit"><a href="{% url collection_edit slug=collection.slug %}">{% trans "Edit" %}</a></p></div>
  {% endif %}
  
  {% if collection.description %}<p class="description">{{ collection.description }}</p>{% endif %}

  {% with collection.long_description|markdown|truncatewords:"100" as desc %}
  <div class="long_description">{{ desc }}
  {% comment %}
  {# FIXME: This is sub-optimal #}
  {% ifnotequal collection.long_description|markdown desc %}
  (<a href="?long_desc">more</a>)
  {% endifequal %}
  {% endcomment %}
  </div>
  {% endwith %}

  <div class="details">

  {# <h3>{% trans "Collection details" %} </h3> #}
  <table class="definition">{% if collection.homepage %}
    <tr>
      <th class="homepage i16">{% trans "Homepage:" %}</th>
      <td><a title="{% blocktrans with collection.name as collection_name %}Homepage for {{ collection_name }}{% endblocktrans %}" href="{{ collection.homepage }}">{{ collection.homepage }}</a></td>
    </tr>
    {% endif %}
    {% if collection.tags %}
    <tr>
      <th class="i16 tag">{% trans "Tags:" %}</th>
      <td class="compact">
        {% for tag in collection.tagsobj.all|slice:"0:6" %}<a class="tag" href="{% url collection_tag_list tag=tag %}">{{ tag }}</a> {% endfor %}
      </td>
    </tr>
    {% endif %}
<!--
    <tr>
      <th class="i16 link">{% trans "External links:" %}</th>
      <td><ul>
        <li>{% trans "Screenshots" %}</li>
        </ul>
      </td>
    </tr>
-->
  </table>
</div>

<div id="projects" class="projects">

  <h3>{% trans "Projects in collection" %}</h3>

  {% if collection.projects.all %}
  <div class="project_list">
  <ul class="simple">
  {% for project in collection.projects.all %}
    <li><h4 class="i16 project"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h4></li>
  {% comment %}
    <div class="entry">
      <h4><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h4>
      <p class="description">{{ project.description|truncatewords:"10" }}</p></li>
    </div>
  {% endcomment %}
  {% endfor %}
  </ul>
  </div>
  {% else %}
{% url project_list as project_list %}
    <p class="i16 tip">{% blocktrans %}No projects are registered for this collection yet. <a href="{{ project_list }}">Find projects</a> and add them to this collection.{% endblocktrans %}</p>
  {% endif %}
</div>


</div>
{% endblock %}

{% block content_footer %}
  <div id="content_footer_center">
    {% if request.user.is_authenticated %}
    <div class="deletelink">
      <span class="i16 delete"><a href="{% url collection_delete slug=collection.slug %}">{% trans "Delete collection" %}</a></span>
    </div>
    {% endif %}
  </div>
{% endblock %}
