{% extends "txcollections/base_childs.html" %}
{% load i18n %}
{% load txcommontags %}
{% load markup %}
{% load statistics %}

{% block body_class %}{{ block.super }} release_detail{% endblock %}

{% block title %}{{ block.super }} | {{ release.name }}{% endblock %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url release_languages_feed collection_slug=release.collection.slug release_slug=release.slug %}" />
{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {{ release.name }}{% endblock %}

{% block body_sec %}
  <a class="simlink" href="{% url release_languages_feed collection_slug=release.collection.slug release_slug=release.slug %}" title="Feed for languages in {{ release.full_name }} release"><img border="0" src="{{ MEDIA_URL }}images/icons/feed.png" /></a>
{% endblock %}

{% block body_main %}
  <div class="obj_bigdetails">
  {% if request.user.is_authenticated and perms.txcollections.change_collectionrelease %}
  <div class="editlinks"><p><a class="i16 edit buttonized" href="{% url collection_release_edit slug=release.collection.slug release_slug=release.slug %}">{% trans "Edit" %}</a></p></div>
  {% endif %}
  <h2 class="name">{{ collection.name }} &raquo; {{ release }}</h2>
  
  {% if release.description %}<p class="description">{{ release.description }}</p>{% endif %}

  {% with release.long_description_html as long_desc %}
  {% if long_desc %}
  <div class="long_description">
    {{ long_desc|truncatewords:"100"|safe }}
  </div>
  {% endif %}
  {% endwith %}

  <div class="details">

  {% if release.homepage or release.release_date %}
  <h4>{% blocktrans %}Details{% endblocktrans %}</h4>
  {% endif %}
  <table class="definition">
    <tr {% if not release.homepage %}class="empty {% if not request.user.is_authenticated %}nodisplay{% endif %}"{% endif %}>
      <th class="homepage i16">{% trans "Homepage:" %}</th>
      <td><a href="{{ release.homepage }}">{{ release.homepage }}</a></td>
    </tr>
    <tr class="separator"></tr>
    <tr class="{% if not release.release_date %}empty {% if not request.user.is_authenticated %}nodisplay{% endif %}{% endif %}">
      <th class="release_date i16">{% trans "Release date:" %}</th>
      <td>{{ release.release_date|date:"D d M Y" }}</td>
    </tr>
    <tr {% if not release.stringfreeze_date %}class="empty {% if not request.user.is_authenticated %}nodisplay{% endif %}"{% endif %}>
      <th class="freeze i16">{% trans "String freeze:" %}</th>
      <td>{{ release.stringfreeze_date|date:"D d M Y" }}</td>
    </tr>
    <tr {% if not release.develfreeze_date %}class="empty {% if not request.user.is_authenticated %}nodisplay{% endif %}"{% endif %}>
      <th class="freeze i16">{% trans "Devel freeze:" %}</th>
      <td>{{ release.develfreeze_date|date:"D d M Y" }}</td>
    </tr>
  </table>
</div>

<div id="projects" class="projects">

<h3>{% trans "Translation statistics" %}</h3>
{% release_stats_table pofile_list collection release %}

{% if not pofile_list %}
<p>{% trans "No translations added for this release. :-(" %}</p>
{% endif %}

</div>
</div>
{% endblock %}{# body_main #}

