{% load i18n %}
{% load statistics %}
<table class="stats_comp">
   <thead>
    <tr>
      <th>{% trans "Lang name" %}</th>
      <th class="alcenter">{% trans "Translations" %}</th>
      <th>{% trans "Download" %}</th>
    </tr>
   </thead>
   <tbody>
   {% for stat in stats %}
      <tr>
        <td class="left">{{stat.lang.name}}</td>
        <td>
          {% stats_bar_full stat %}
          <div class="stats_string_comp" title="{% trans "Trans:" %}{{stat.trans}} {% trans "Fuzzy:" %}{{stat.fuzzy}} {% trans "Untrans:" %}{{stat.untrans}}" >{{stat.trans_perc}}%</div> 
        </td>
        <td class="left"><a class="i16 link" title="{% trans "Download the " %}{{stat.lang.code}}.po" href="">{{stat.lang.code}}.po</a></td>
      </tr>
   {% endfor %}
   </tbody>
</table>