{% load i18n %}
{% load statistics %}
<table class="stats_comp">
   <thead>
    <tr>
      <th>{% trans "Lang name" %}</th>
      {% for c in components %}
          <th class="alcenter">{{ c|truncate_chars:11 }}</th>
      {% endfor %}
    </tr>
   </thead>
   <tbody>        
   {% for lang, comp in stats.items %}
    <tr>
      <td class="left">{{ lang }}</td>    
      {% for name, stat in comp.items %}
        <td>
          <div class="graph_comp">
            <div class="translated_comp" style="width: {{stat.trans_perc}}px;"></div>
<!--
              <div class="fuzzy_comp" style="left: {{stat.trans_perc}}px; width: {{stat.fuzzy_perc}}px;"></div>
              <div class="untranslated_comp" style="left: {{stat|sum_trans_fuzzy}}px; width: {{stat.untrans_perc}}px;"></div>
-->
          </div>
          <div class="stats_string_comp" title="{% trans "Trans:" %}{{stat.trans}} {% trans "Fuzzy:" %}{{stat.fuzzy}} {% trans "Untrans:" %}{{stat.untrans}}" >{{stat.trans_perc}}%</div> 
        </td>   
      {% endfor %}
    </tr>       
   {% endfor %}
   </tbody>
 </table>