{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans "Sign in" %}{% endblock %}
{% block breadcrumb %}{{ block.super }} &raquo; {% trans "Login" %}{% endblock %}
{% block content_title %}<h2 class="pagetitle">{% trans "Sign in" %}</h2>{% endblock %}

{% block body %}

{% blocktrans %}
<p>Please login in with your email or screen name, or using your OpenID URL.<br />
{% endblocktrans %}
<br />
{% if msg %}
<br />
	<p class="warning">{{ msg }}</p>
{% endif %}
{% if form1.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form1.username.errors %} 
		<span class="error">{{ form1.username.errors|join:", " }}</span>
	{% endif %}
	{% if form1.password.errors %} 
		<span class="error">{{ form1.password.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
<div id="login_index">
   <div class="divleft">
   <fieldset>
       <legend>{% trans "Sign in" %}</legend>
       <p class="login-tagline">Add projects or modify existing ones. Wiki-style.</p>
    <form name="fauth" action="{% url user_signin %}" method="post">
        {{ form1.next }}
                <div class="form-row"><label for="id_username">{% trans "Username:" %}</label> <input id="id_username" class="required login" name="username" maxlength="30" size="12" type="text"></div>
                <div class="form-row"><label for="id_password">{% trans "Password:" %}</label> <input id="id_password" class="required login" name="password" maxlength="128" size="12" type="password"></div>
        <div class="buttonright"><input type="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
    </form>
    <p>{% trans "Or, with your OpenID:" %}</p> 
    <form name="fopenid" action="{% url user_signin %}" method="post">
        <div class="form-row"><input id="id_openid_url" class="required openid withbgimage" name="openid_url" maxlength="255" type="text"></div>
        <div class="buttonright"><input name="bsignin" type="submit" value="{% trans "Sign in with OpenID" %}"></div>
    </form> 
        <div class="lost_passwd compact">&nbsp;&nbsp;<a href="/account/sendpw/">{% trans "Lost your password?" %}</a></div>
        </fieldset>   
</div>
</div>
<div id="clear"></div>
{% endblock %}

