{% load i18n %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}
{% load statistics_resources %}
{% load addons %}
{% load project_tags %}
{% load team_tags %}
{% load resources_common_tags %}

{% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}

<div class="obj_bigdetails">

<div class="project_create">

  <div class="separate-header clearfix">
  	<h3 class="sh-label notopmargin">{% trans "Languages" %}</h3>
		<div class="separate-buttons">
		  {% if request.user.is_authenticated and not is_maintainer %}
      <a class="i16 language-add" id="request-team-button" href="javascript:;">Request language</a>
      {% endif %}
      {% if not project.anyone_submit %}
        {% if perms.projects.change_team or is_maintainer %}
		    <a class="i16 nude-button add" href="{% url team_create project.slug %}">{% trans "Create language" %}</a>
        {% endif %}
      {% endif %}
		</div>
	</div> 

  {% if team_request_form %}
  {% if request.user.is_authenticated and not is_maintainer %}
  <form id="request-team-form" method="post" enctype="multipart/form-data" action="{% url team_request project.slug %}" class="add-permission submit_form tx-form">{% csrf_token %}
    <table>
      <tbody>{% form_as_table_rows team_request_form %}</tbody>
    </table>
  
    {% hook "team_request_join_additional.html" %}
  
    <p class="submit">
      <input name="team_request" class="i16 submit buttonized" type="submit" value="{% trans "Request team" %}"/>
    </p>
  
  </form>
  {% endif %}
  {% endif %}

  {% with project.teamrequest_set.all|dictsort:"language.name" as teamrequests %}
  {% if teamrequests and request.user.is_authenticated %}
  <div class="datalist">
    <ul class="nomargin">
    {% for teamrequest in teamrequests %}
      <li class="clearfix requested-row">
        <div class="tt-details">
          <h5>{{ teamrequest.language.name }}</h5>
          <span class="ttd-extra">(Requester: <a href="{% url profile_public teamrequest.user.username %}">{{ teamrequest.user.username }}</a>)</span>
      	</div>
        {% if is_maintainer %}
        <form class="microform" method="post" action="{% url team_request_deny teamrequest.project.slug teamrequest.language.code %}">{% csrf_token %}
          <input name="team_request_deny" class="i16 delete blist buttonized" type="submit" value="{% trans "Deny" %}"/>
        </form>
        <form class="microform" method="post" action="{% url team_request_approve teamrequest.project.slug teamrequest.language.code %}">{% csrf_token %}
          <input name="team_request_approve" class="i16 submit blist buttonized" type="submit" value="{% trans "Approve" %}"/>
        </form>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  {% if language_stats %}
  <table class="stats-table tablesorter teamlist">
    <thead>
     <tr>
      <th class="onlyarrow tableobject"></th>
      <th class="onlyarrow tablecompletion"></th>
      <th class="onlyarrow tablelastupd"></th>
     </tr>
    {% for stat in language_stats|sort_source_langs_first:source_languages %}
    {% if stat.first_translation %}
      </thead>
      <tbody>
    {% endif %}
	<tr>
    <td class="tableobject">
      <a href="{% url team_detail project.slug stat.object.code %}">{{ stat.object.name }}</a>
      {% if stat.object in source_languages %}
        {% trans "source language "%}
      {% else %}
        {% if stat.object.code|language_has_team:project %}
          {% with stat.object.code as lang_code %}
            {% with teams|getitem:lang_code as request_count %}
              {% if request_count %}
              <span style="color:#999;">({{ request_count }} join requests)</span>
              {% endif %}
            {% endwith %}
          {% endwith %}
        {% endif %}
      {% endif %}
    </td>
    <td class="tablecompletion">
      {% with 180 as barwidth %}
          {% stats_bar_simple stat barwidth %}
      {% endwith %}
    </td>
    <td class="tablelastupd">
      <span  class="i16 table-update tipsy_enable" title="{% trans 'Last update' %}" unixdate="{{ last_update|date:'U' }}">{{ stat.last_update|date:"M d, h:ia" }}</span>
    </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
  <p class="i16 infomsg">{% trans "No translation team has been created yet. Why don't you start one?" %}</p>
  {% endif %}

</div>
</div>
