{% extends parent_template %}
{% load i18n %}
{% load pagination_tags %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}

{% block title %}{{ block.super }} | {{ project.name }}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; <a href="{{ project.get_absolute_url }}">{{ project.name }}</a> &raquo; {% trans "Create team" %}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function(){
    var $language_select = $("select#id_language");
    $language_select.addClass("chzn-select");
    $language_select.chosen();
});
</script>
{% endblock %}

{% block content_title %}
{% with project.description as short_desc %}
<div class="lastchild-emf">
{% block project_header %}
<h2 class="pagetitle{% if short_desc %} with_description{% endif %}"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h2>
<h2 class="pagetitle with_description">&nbsp;/&nbsp;</h2>
<h2 class="pagetitle with_description">
{% if team_create %}
{% blocktrans %}Create team{% endblocktrans %}</h2>
{% else %}
{% blocktrans with language.name as language_name and language.code as language_code %}{{ language_name }} <sup class="entry_metalink">{{ language_code }}</sup>{% endblocktrans %}</h2>
{% endif %}
{% endblock%}
</div>

{% block current_description %}
{% if short_desc %}
<div class="description">
	<p>{{ project.description }}</p>
</div>
{% endif %}
{% endblock %}
{% endwith %}
{% endblock %}

{% block team_menu %}
{% endblock %}

{% block content_main %}
{% get_permission "project_perm.submit_translations" for request.user and project as "can_submit_translations" %}
{% if language %}
{% get_permission "project_perm.coordinate_team" for request.user and project,language as "is_coordinator" %}
{% endif %}

<div>
  {% if not team_create %}
  <div class="separate-header notopmargin clearfix" style="margin-top:0;">
    <h3  class="sh-label">{% trans "Edit language" %}</h3>
  </div>
  {% endif %}
  
  {% if perms.projects.add_team or is_coordinator %}
  <form class="tx-form" id="add_update_team" method="post" enctype="multipart/form-data" action="" class="microform submit_form">{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
      <table>
          <tbody>
          {% form_as_table_rows project_team_form %}
          </tbody>
      </table>


    <p class="i16 infomsg">{% blocktrans %}Please note that notification will not be sent when coordinators or members are added or removed on this page.{% endblocktrans %}</p>

    <p class="submit">
    	<input name="save_team" class="i16 submit buttonized" type="submit" value="{% trans "Save" %}"/>
    </p>
  </form>
  {% endif %}
  
  {% if team %}
  {% get_permission "project_perm.maintain" for request.user and project as "is_maintainer" %}
  {% if perms.teams.delete_team or is_maintainer %}
  <div class="separate-header clearfix">
    <h3  class="sh-label">{% trans "Delete language" %}</h3>
  </div>
    
  <p style="margin-bottom:1em;">{% trans "Do you wish to delete the team? Translations will not be lost" %}</p>
  <p><a class="i16 delete buttonized" href="{% url team_delete project.slug language.code %}">{% trans "Delete language" %}</a>
  </p>
  {% endif %}
  {% endif %}
</div>

{% endblock %}
