{% extends "projects/base.html" %}
{% load i18n %}
{% load addons %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}

{% block extrajs %}
  {% if project %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url project_feed param=project.slug %}" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/tablesorted.js"></script>
  {% endif %}
{% endblock %}

{% block content_title %}
{% with project.description as short_desc %}

<div class="lastchild-emf">
{% block project_header %}
<h2 class="pagetitle{% if short_desc %} with_description{% endif %}"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h2>
<h2 class="pagetitle with_description">&nbsp;/&nbsp;</h2>
<h2 class="pagetitle with_description"><a href="{% url team_detail project.slug language.code %}">{% blocktrans with language.name as language_name and language.code as language_code %}{{ language_name }} <sup class="entry_metalink">{{ language_code }}</sup></a>{% endblocktrans %}</h2>
{% endblock %}
</div>

{% block current_description %}
{% if short_desc %}
<div class="description">
	<p>{{ project.description }}</p>
</div>
{% endif %}
{% endblock %}
{% endwith %}
{% endblock %}

{% block content_header_sec %}
	{% if project.anyone_submit %}
  <span id="private_project_banner" class="project-sign" style="background:url({{ STATIC_URL }}images/icons/ffa-project.png)center top no-repeat;">
	<p>{% trans "Free for all"%}</p>
	</span>
	{% endif %}
	{% if project.outsource %}
  <span id="private_project_banner" class="project-sign" style="background:url({{ STATIC_URL }}images/icons/outsource-project.png)center top no-repeat;">
	<p>{% trans "Outsourcing"%}</p>
	</span>
	{% endif %}
	{% if project.is_hub %}
  <span id="private_project_banner" class="project-sign" style="background:url({{ STATIC_URL }}images/icons/hub-project.png)center top no-repeat;">
	<p>{% trans "Hub"%}</p>
	</span>
	{% endif %}
	{% if project.private %}
	<span id="private_project_banner" class="project-sign" style="background:url({{ STATIC_URL }}images/icons/private-project.png)center top no-repeat;">
	<p>{% trans "Private"%}</p>
	</span>
	{% endif %}
{% endblock %}


{% block header_menu %}
{% if not project.anyone_submit %}
     	<div class="tab-wrapper grid_16">
        	<ul  class="tabs clearfix">     
        	    <li class="{% if project_team_page %}selected{% endif %} alpha"><a href="{% url team_detail project.slug language.code %}">{% trans "Team overview" %}</a></li>
        	    {% if not project.anyone_submit %}
        	    <li class="{% if project_team_members or project_team_form %}selected{% endif %} alpha"><a href="{% url team_members project.slug language.code %}">{% trans "Members" %}</a></li>
        	    {% endif %}
              {% hook "team.html" menu %}
        	  </ul>
        </div>   
{% endif %}
{% endblock %}




{% block content_main %}{% endblock %}
{% block content_footer %}{% endblock %}
