{% extends "languages/base.html" %}
{% load i18n %}
{% load txcommontags %}
{% load statistics %}

{% block body_class %}{{ block.super }} language_detail{% endblock %}

{% block title %}{{ block.super }} | {{ language }}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {{ language.name }}{% endblock %}

{% block content_title %}<h2 class="pagetitle">{{ language.name }} <sup class="entry_metalink">{{ language.code }}</sup></h2>{% endblock %}

{% block content_main %}
 {% for project in project_list %}
  {% with project.releases.all as releases %}
  <h3>{% blocktrans %}{{ project }} Releases{% endblocktrans %}
  {% render_metacount releases _("releases") %}
  </h3>

  {% if releases %}
  <div class="release_list">
  {% url project_detail project.slug as project_url %}
  <p class="explanation">{% blocktrans %}The <a href="{{ project_url }}">{{ project }}</a> project includes the following groups of shipped components:{% endblocktrans %}</p>
  <ul class="simple bigthings">
  {% for release in releases %}
    <li><p class="i16 release"><a href="{% url release_language_detail project.slug release.slug language.code %}">{{ release.name }}</a>
    {% if release.description %}<span class="description">– {{ release.description }}</span>{% endif %}</p></li>
  {% endfor %}
  </ul>
  </div>
  {% endif %}
  {% endwith %}

 {% endfor %}

{% endblock %}
