{% extends "languages/base.html" %}
{% load i18n %}
{% load txcommontags %}
{% load statistics %}
{% load statistics_resources %}

{% block body_class %}{{ block.super }} language_detail{% endblock %}

{% block title %}{{ block.super }} | {{ language }}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {{ language.name }}{% endblock %}

{% block content_title %}<h2 class="pagetitle">{{ language.name }} <sup class="entry_metalink">{{ language.code }}</sup></h2>{% endblock %}

{% block content_main %}

 <dl>
   <dt>Language name:</dt>
   <dd>{{ language.name }}</dd>
 </dl>

{% endblock %}
