{% extends 'userena/userena_menu.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}


{% block content_main %}

<a class="back-button" href="javascript:history.go(-1)">&laquo;&nbsp;{% trans "Back" %}</a> 


<form class="profile-form" action="" method="post" id="password_change_form">
  <fieldset>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="i16 buttonized tick" value="{% trans "Change password" %}" />
</form>
{% endblock %}
