{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}
	<h2 style="margin:0;">{% trans "Sign in" %}</h2>
	<div class="description"><p>{% trans "Enter your username and password to sign in." %}</p></div>
{% endblock %}

{% block content_main %}
<form action="" method="post">
  {% csrf_token %}

   
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    <span class="form-label-tag">{{ field.label_tag }}</span>
    <span class="form-field">{{ field }}</span>
    </p>
    {% endif %}
    {% endfor %}

  <input type="submit" class="i16 tick buttonized" value="{% trans "Sign in" %}" />
  
  
  	<div class="grid_4 omega">

    {# http://code.djangoproject.com/ticket/7239 #}
    
    <ul id="login-utility-list">
		  <li>{% trans "Not yet a member?" %}&nbsp;<a href="{% url userena_signup %}">{% trans "Sign up!" %}</a></li>
		  <li><a href="{% url userena_password_reset %}">{% trans "Forgot your password?" %}</a></li>
		</ul>
	</div>

  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>

{% url socialauth_begin 'twitter' as social_twitter_url %}
{% if social_twitter_url %}
<h3>{% trans "Or sign in with" %}</h3>
<ul>
  <li><a href="{{ social_twitter_url }}">Twitter</a></li>
  <li><a href="{% url socialauth_begin 'google-oauth2' %}">Google</a></li>
  <li><a href="{% url socialauth_begin 'facebook' %}">Facebook</a></li>
</ul>
{% endif %}
{% endblock %}
