{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Delete personal information" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
   <h2>{% trans "Remove profile" %}</h2>
   <p>{% trans "Erase all your private data except your username. You can fill in the information again later if you want to." %}</p>

  <div class="generic_form">
	<form action="{% url profile_delete %}" method="post" enctype="multipart/form-data">{% csrf_token %}
		<h3>{% trans "Are you sure?" %}</label></h3>
        <span class="buttonized"><input id="remove" class="i16 delete" type="submit" value="{% trans "Delete my data" %}" /></span>
	</form>
  </div>
{% endblock %}
