{% extends "userprofile/base_2col.html" %}
{% load i18n %}
{% load txcommontags %}

{% block title %}{% trans "Edit your personal information" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ STATIC_URL }}userprofile/css/ui.datepicker.css" type="text/css" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("input[type='text']").addClass("text");
		$("form input")[0].focus();
	});
</script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}

<h2>{% trans "Edit your personal information" %}</h2>
{% if form.errors %}
<center><span class="message_error">Some errors occured while saving your data.</span></center>
{% endif %}
<p>{% trans "Insert some information about you." %}</p>

<div class="generic_form">
  <form class="personal" action="{% url profile_edit_personal %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  <table>
      {% form_as_table_rows form %}
  </table>
  <span class="buttonized"><input type="submit" class="i16 submit" value="{% trans "Save" %}" /></span>
  </form>
</div>
{% endblock %}
