{% load i18n %}{% url language_detail team_request.language.code as language_url %}{% url project_detail team_request.project.slug as project_url %}{% with team_request.language.name as language_name %}{% with team_request.project.name as project_name %}
{% blocktrans %}The <span class="notice_subject">request</span> to create a <a href="{{ language_url }}">{{ language_name }}</a> translation team for the <a href="{{ project_url }}">{{ project_name }}</a> project was <span class="notice_action">denied</span>.{% endblocktrans %}
{% endwith %}{% endwith %}
