{% extends "txcollections/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% blocktrans with collection.name as collection_name %}Delete {{ collection_name }}{% endblocktrans %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {% blocktrans with collection.name as collection_name %}Delete <em>{{ collection_name}}</em>{% endblocktrans %}{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">{% blocktrans with collection.name as collection_name %}Say goodbye to <em>{{ collection_name }}</em>?{% endblocktrans %}</h2>
{% endblock %}

{% block content %}

<p>{% blocktrans with collection.name as collection_name %}
  Are you sure you want to permanently delete the registered collection '{{ collection_name }}'?
{% endblocktrans %}</p>

  <form action='' method='post'>
    <input type="submit" class="i16 submit" value="{% trans "Yes, I'm sure!" %}" />
  </form>

{% endblock %}

{% block content_footer %}

{% endblock %}
