{% extends "txcollections/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% blocktrans with release.name as release_name %}Delete {{ release_name }}{% endblocktrans %}{% endblock %}

{% block breadcrumb %}{{ block.super }} &raquo; {% blocktrans with release.name as release_name %}Delete <em>{{ release_name}}</em>{% endblocktrans %}{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">{% blocktrans with release.name as release_name %}Say goodbye to <em>{{ release_name }}</em>?{% endblocktrans %}</h2>
{% endblock %}

{% block content %}

<p>{% blocktrans with release.name as release_name %}
  Are you sure you want to permanently delete the registered release '{{ release_name }}'?
{% endblocktrans %}</p>

  <form action='' method='post'>
    <input type="submit" class="i16 submit" value="{% trans "Yes, I'm sure!" %}" />
  </form>

{% endblock %}

{% block content_footer %}

{% endblock %}
