/*This is the base styling template of transifex*/
@charset "UTF-8";

/* 	Reset
	--------------------------------------------------------------------------*/

html { font-size: 100.01%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd,
ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: baseline;
	background: transparent;
}

body { line-height: 1; }

blockquote, q { quotes: none; }

ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

a img { border: none; }


/* 	TYPOGRAPHY
	--------------------------------------------------------------------------*/
body  { font: 			13px/1.385 'Droid Sans', sans-serif; /* 13/21 px */
				font-family:  	'Droid Sans','Helvetica','Arial' sans-serif;
				color: 			#444;
				background: 	#fff;
}

h1, h2, h3,
h4, h5, h6 { color: #444;
			 font-family: 'Droid Sans','Helvetica', sans-serif;
			 font-weight: normal;
			 line-height: 1;
			 margin: 5px 0; }

h1 			{ font-size: 2.154em; } /* 28 */
h2 			{ font-size: 2em;margin-bottom: 0.75em; font-weight: bold;color:#3a4752;}
h3 			{ font-size: 1.077em;margin: 1.4em 0em;color:#c8711e;text-transform: uppercase; }	
h4 			{ font-size: 1.2em;margin: 1em 0;line-height: 1.4em; }	/* 18 */
h5 			{ font-size: 1.077em; }	/* 16 */
h6 			{ font-size: 1.077em; color: #444;text-transform: uppercase; }	/* 14 */

h1 			{ letter-spacing: -2px; }
h2 		{ letter-spacing: -1px; }
h4, h5, h6 	{ letter-spacing: 0; }

address, pre, ul, ol, dl, blockquote, table { margin: 0.5em 0; }

a {-moz-outline-style:none;}
a:link,a:visited,.linkstyle{color: #3d658d; text-decoration: none;}
a:hover,.linkstyle:hover{text-decoration: underline;}
code{display:block;background-color: #f5f5f5; border:1px solid #e8e8e8; padding: 0.7em 1.2em;margin:0.5em 0em;font-size: 0.923em;color: #777;text-shadow:#fff 1px 1px 0px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}


/* 	Grid System
	--------------------------------------------------------------------------*/

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align: left;
}

.box,.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16 {
	display:inline;
	float: left;
	/*position: relative;*/
	margin-left: 10px;
	margin-right: 10px;
}

.hidden { visibility: hidden; }
.no-display { display: none; }
.overlay { float: left; position: relative; }
.alpha {margin-left: 0;}
.omega {margin-right: 0;}


.wrapper .grid_1 {width:40px;}
.wrapper .grid_2 {width:100px;}
.wrapper .grid_3 {width:160px;}
.wrapper .grid_4 {width:220px;}
.wrapper .grid_5 {width:280px;}
.wrapper .grid_6 {width:340px;}
.wrapper .grid_7 {width:400px;}
.wrapper .grid_8 {width:460px;}
.wrapper .grid_9 {width:520px;}
.wrapper .grid_10 {width:580px;}
.wrapper .grid_11 {width:640px;}
.wrapper .grid_12 {width:700px;}
.wrapper .grid_13 {width:760px;}
.wrapper .grid_14 {width:820px;}
.wrapper .grid_15 {width:880px;}
.wrapper .grid_16 {width:940px;}

/* http://sonspring.com/journal/clearing-floats */

.clear {clear: both;}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* 	Corner Radius
	--------------------------------------------------------------------------*/
.ui-corner-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius:3px;}
.ui-corner-tr { -moz-border-radius-topright: 3px/*{cornerRadius}*/; -webkit-border-top-right-radius: 3px/*{cornerRadius}*/; border-top-right-radius: 3px;}
.ui-corner-bl { -moz-border-radius-bottomleft: 3px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 3px/*{cornerRadius}*/; border-bottom-left-radius: 3px;}
.ui-corner-br { -moz-border-radius-bottomright: 3px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 3px/*{cornerRadius}*/; border-bottom-right-radius: 3px;}
.ui-corner-top { -moz-border-radius-topleft: 3px/*{cornerRadius}*/; -webkit-border-top-left-radius: 3px/*{cornerRadius}*/; -moz-border-radius-topright: 3px/*{cornerRadius}*/; -webkit-border-top-right-radius: 3px/*{cornerRadius}*/; border-top-left-radius:3px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 3px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 3px/*{cornerRadius}*/; -moz-border-radius-bottomright: 3px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 3px/*{cornerRadius}*/; }
.ui-corner-right {  -moz-border-radius-topright: 3px/*{cornerRadius}*/; -webkit-border-top-right-radius: 3px/*{cornerRadius}*/; -moz-border-radius-bottomright: 3px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 3px/*{cornerRadius}*/; }
.ui-corner-left { -moz-border-radius-topleft: 3px/*{cornerRadius}*/; -webkit-border-top-left-radius: 3px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 3px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 3px/*{cornerRadius}*/; border-bottom-left-radius: 4px; border-top-left-radius:4px;}
.ui-corner-all { -moz-border-radius: 3px/*{cornerRadius}*/; -webkit-border-radius: 3px/*{cornerRadius}*/; }


/* 	Buttons
	
	Based on Kevin Hale's implementation for Wufoo.com
	<http://particletree.com/features/rediscovering-the-button-element/>
	--------------------------------------------------------------------------*/

button, a.button {
    display: block;
    float: left;
    margin: 0 7px 0 0;
    background-color: #f4f4f4;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
	
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
    line-height: 1.3125;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
    padding: 6px 10px 5px 7px; /* Links */
}

button {
    width: auto;
    overflow: visible;
    padding: 4px 10px 3px 7px; /* IE6 */
}

button[type] {
    padding: 5px 14px 5px 11px; 	/* Firefox */
    line-height: 16px; 			/* Safari */
} *:first-child+html button[type] {
    padding: 4px 10px 3px 7px; 	/* IE7 */
}

button img, a.button img {
    margin: 0 3px -2px 0 !important;
    padding: 0;
    border: none;
    width: 1em;
    height: 1em;
}

button:hover, a.button:hover {
    background-color: #d9eaff;
    border: 1px solid #b2d5ff;
    color: #596a80;
}

a.button:active {
    background-color: #b8cce5;
    border: 1px solid #a2b5cb;
    color: #fff;
}

/* Custom Button styling
  -------------------------------------------------------------------------------------------------*/

.nude-button{font-size: 1em;padding-left: 22px !important;color:#3d658d;line-height:1.077em;height:16px;padding-top:1px;}
.nude-button:hover{text-decoration: underline;}
a.nude-button:hover{color:#3d658d;}
input.nude-button{background-color: transparent;border: none;}

.buttonized,
.buttonized:hover,
.buttonized_simple,
.buttonized_simple:hover,
.buttonized_disabled,
.buttonized_disabled:hover,
.microform input[type="submit"] {cursor: pointer;}

.microform input[type="image"] {
  background-position: 0 0;
  margin: 0 0 0 5px;
  padding: 0;
  width: 0;
  vertical-align: middle;
  height: 16px;
}

.buttonized,
.buttonized_disabled,
.microform input[type="submit"],
.microform input[type="file"] {font-size: 13px;/*13px*/}

.buttonized,buttonized_disabled,input.buttonized, input.buttonized.i16/*Style for submitt buttons .. */
{
	font-weight: 600;
  border:1px solid #d5d5d5;
	text-shadow:#fff 1px 1px 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 6px 10px;
	font-size: 13px;
	font-family: 'Droid Sans';
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
}

i16.buttonized,i16.buttonized_disabled,input.buttonized.i16{padding: 6px 10px 6px 27px;}
.buttonized_disabled {background-color: #f5f5f5;}
.microform input[type="submit"] {padding: 0.2em 0.6em;}
.microform input[type="submit"].buttonized {padding: 5px 8px 5px 27px;/*same as buttonized*/}
.buttonized, .list-buttonized{background-color: #eee;}
a.buttonized,input.buttonized,span.buttonized{color:#666;}

.buttonized:hover,
input.buttonized:hover,
input.buttonized:focus,
.buttonized_disabled:hover {
  cursor: pointer;
  text-shadow:none;
  border:1px solid #bbb;
  -webkit-box-shadow: rgba(0,0,0,0.25) 0 0 3px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  color: #444;
}

.microform input[type="submit"].blist{
padding: 4px 10px 3px 27px;
font-weight: normal;
font-size: 0.923em;
}

.list-buttonized{border:1px solid #e5e5e5;padding: 3px 8px 3px 8px;font-size: 12px;text-shadow:#fff 1px 1px 0px;-moz-border-radius: 2px;-webkit-border-radius: 2px;	border-radius: 2px;}

.watchbutton{height:26px;width: 26px;display: block;margin:0.8em 1em 0 1em;}
.watchbutton{display: inline-block;margin: 0;margin-right: 0.5em;width: 31px;margin-bottom: 1px;}
.watch_add{background:transparent url('../images/watchbutton.png') 0px 0px no-repeat;}
.watch_remove{background:transparent url('../images/watchbutton.png') -31px 0px no-repeat;}
.watch_add:hover{background-position-x: -31px;opacity: 0.85;cursor: pointer;}
.watch_remove:hover{background-position-x: 0px; opacity: 0.85;cursor: pointer;} 
.cpanel-entry .watchbutton{height:16px;width: 16px;margin: 0px;display: block;}