{% extends "projects.html" %}
{% load i18n %}

{% block breadcrumb %}
{{block.super}} » <a href="{% url _project project.slug %}">{{project}}</a>
{% endblock %}

{% block title %}{{ block.super }} | {{project}}{% endblock %}

{% block body_class %}project_list{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">
    {% trans "Translation Resources" %}
  </h2>
{% endblock %}

{% block content %}

<ul>
{% for tresource in tresources %}
  <li><a href="{% url project.resource project.slug tresource.slug %}">{{tresource}}</a></li>
{% endfor %}
</ul>

{% endblock %}

{% block content_footer %}
{% endblock %}
