{% extends "base.html" %}
{% load i18n %}
{% load txcommontags %}
{% load permissions %}
{% load txpermissions %}

{% block breadcrumb %}

{{block.super}} »
<a href="{% url project_list_recent %}">{% trans "Projects" %}</a> » 
<a href="{% url project_detail resource.project.slug %}">{{resource.project}}</a> »
Edit {{resource}}
{% endblock %}

{% block title %}
    {{ block.super }} | Edit {{ resource}}
{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">
  {% if not resource %}
    {% blocktrans with resource.name as resource_name %}Edit {{ resource_name }}{% endblocktrans %}
  {% endif %}
  </h2>
{% endblock %}

{% block content_main %}
<h3>
    {% trans "Edit the details of the translation resource" %}
</h3>

<div class="project_create generic_form">
  <form action='' method='post'>
    <table>
        <tbody>
        {% form_as_table_rows resource_form %}
        </tbody>
    </table>
    <p class="submit"><input type="submit" class="i16 submit" value="{% trans "Save translation resource" %}" /></p>
  </form>
</div>
{% endblock %}

