{% extends "base.html" %}
{% load i18n %}
{% load statistics_happix %}
{% load permissions %}

{% block extra_head %}
<script type="text/javascript">
	$(document).ready(function(){
		$(".tipsy_enable").tipsy({'html':true, 'gravity':'s'});
        $("#new_translation1").click( function (){ 
            $("#new_translation_box1").toggle();
        });
        $("#start_new_translation").click( function() {
            var target_lang_code = $(this).prev().val();
            if ( target_lang_code != "" ) {
                request_url = window.location + target_lang_code;
                window.location = request_url;
            } else {
                alert("Please select a target language first and then click crate.");
            }
        });
	});
</script>
{% endblock %}

{% block breadcrumb %}

{{block.super}} »
<a href="{% url project_list_recent %}">{% trans "Projects" %}</a> » 
<a href="{% url project_detail project.slug %}">{{project}}</a> »
<a href="{% url project.resource project.slug resource.slug %}">{{resource}}</a>
{% endblock %}

{% block title %}
{{ block.super }} |
Projects |
{{project}}
{{resource}}
{% endblock %}

{% block body_class %}project_list{% endblock %}

{% block content_title %}{% endblock %}


{% block content_main %}
  {% get_permission "project_perm.maintain" for request.user and resource.project as "is_maintainer" %}

<div class="obj_bigdetails">
  {% if resource.project.private %}
  <span id="private_project_banner" class="ui-corner-all">
    {% trans "Private Project"%}
    <img style="vertical-align:top" src="{{ STATIC_URL }}images/icons/lock.png" title="Private Project">
  </span>
  {% endif %}
  <h2 class="name">{{ resource.name }}</h2>

  {% if perms.projects.add_resource or is_maintainer %}
    <div class="editlinks"><p><a class="i16 edit buttonized" href="{% url resource_edit project_slug=resource.project.slug resource_slug=resource.slug %}">{% trans "Edit" %}</a></p></div>
  {% endif %}

<div id="vcs_details">
  <h3>{% trans "Translation Resource details" %}</h3>
  <table class="definition">
    <tr>
      <th class="i16 omega">{% trans "Primary Language:" %}</th>
      <td>
        {{ resource.source_language }}
      </td>
    </tr>
  </table>
</div>

<p style="text-align:center;padding-top:1em">
  <a id="new_translation1" class="buttonized i16 add">{% trans "Start New Translation" %}</a>
</p>
<div id="new_translation_box1" style="text-align:center; display:none; padding:1em; margin:0;background-color:#EBF2F8;border-top:1px solid #ccc; border-bottom:1px solid #ccc">
    <select name="{{ language.code }}" class="language">
        <option value="">Select Language</option>
        {% for lang in languages %}
            <option value="{{ lang.code }}">{{ lang.name }}</option>
        {% endfor %}
    </select>
    <a id="start_new_translation" class="i16 buttonized action">Create</a>
</div>

<h3>{% trans "Available translations" %}</h3>


<div class="list separate" style="clear:both">
<table class="stat_table_font stats_table highlighted" style="clear:both;margin-top:0.5em;width:100%">
    <th class="i16 comment">{% trans "Language" %}</th>
    <th class="i16 stats" style="width:320px">{% trans "Completion" %}</th>
    <th class="i16 clock">{% trans "Last Updated" %}</th>
{% for language,count in translated_languages.items %}
    <tr id="stat_row_{{count}}">
        <td>
          {{language}}
        </td>
        <td>
          {% with 200 as barwidth %}
            <div class="stats tipsy_enable" style='width:{{ barwidth|add:"40" }}px;' title="{% trans "Translated: " %}{% translated resource language.code %}<br />{% trans "Untranslated: " %}{% untranslated resource language.code %}">
                <div class="stats_string_resource" >
                    {% trans_percent resource language.code %}% 
                </div> 
                {% stats_bar_simple resource language.code barwidth %}
            </div>
          {% endwith %}
        </td>
        <td>
        <span style="border:0">
          {% last_translation_update resource language.code %}, by {% last_committer resource language.code %}
        </span>
        </td>
    </tr>
    <script>
        $(".highlighted tr#stat_row_{{count}}").click(function(){
           /* FancyBox Using custom settings */ 
           $.fancybox(
               { 
                'href': '{% url resource_actions resource.project.slug resource.slug language.code %}',
                'hideOnContentClick': false,
                'onComplete':function() {
                    $(".tipsy_enable").tipsy({'html':true, 'gravity':'s'});
                }
           });
        });
    </script>
{% endfor %}
</table>
</div>

</div>


<h3>{% trans 'History' %}</h3>
{% load tx_action_log %}
{% get_log 5 as action_log for_object resource %}
{% if not action_log %}
<p>{% trans 'No actions recorded yet :)' %}</p>
{% else %}
<ul class="actionlist simple">
{% for entry in action_log %}
    <li class="i16 actionlog">
    {{ entry.message|safe }} by {{ entry.user }} {{ entry.action_time|timesince }} ago.
{% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block content_footer %}
  <div id="content_footer_center">
    {% get_permission "project_perm.maintain" for request.user and resource.project as "is_maintainer" %}
    {% if perms.projects.delete_resource or is_maintainer %}
    <div class="deletelink">
      <a class="i16 delete buttonized" href="{% url resource_delete project_slug=resource.project.slug resource_slug=resource.slug %}">{% trans "Delete translation resource" %}</a>
    </div>
    {% endif %}
  </div>
{% endblock %}
