{% load i18n %}
<div class="searchform">
  <form action="{% url search_translation %}" method="GET" class="search_projects">
    <label for="q">{% trans "Find translations by string" %}</label><br/>
    <input class="query withbgimage" type="text" name="q" size="40" value="{{ query|escape }}">
    <input class="i16 submit" type="submit" value="{% trans "Search" %}">
    <br/>
    <div style="padding-top:10px">
    <label for="source_lang">{% trans "Translations From:" %}</label>
    <select name="source_lang" class="query withbgimage" placeholder="Choose language" >
        {% for language in languages %}
            {% ifequal language.code 'en' %}
                <option value="{{ language.code }}" selected="selected">{{ language.name }}</option>
            {% else %}
                <option value="{{ language.code }}">{{ language.name }}</option>
            {% endifequal %}
        {% endfor %}
            <option value="any_lang">Any Language</option>
    </select>
    <label for="target_lang">{% trans "To:" %}</label>
    <select name="target_lang" class="query withbgimage" placeholder="Choose language" >
            <option value="choose_lang">Choose a Language</option>
        {% for language in languages %}
            <option value="{{ language.code }}">{{ language.name }}</option>
        {% endfor %}
            <option value="any_lang">Any Language</option>
    </select>
    </div>
  </form>
</div>
