{% extends "tresource.html" %}
{% load i18n %}

{% block breadcrumb %}
{{block.super}} » 
<a href="{% url translation project.slug tresource.slug target_language.code %}">{{ target_language.name }}</a>
{% endblock %}


{% block extra_head %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/json2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/sprintf.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.paginate.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tx.lotte.js"></script>
  <link media="screen" href="{{ STATIC_URL }}css/webtrans.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="{{ STATIC_URL }}css/jquery.paginate.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}
{{ block.super }} | 
{{tresource}}
{% endblock %}

{% block body_class %}project_list{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">
    {% trans "Strings" %}
  </h2>
{% endblock %}

{% block content %}

<script type="text/javascript">

    /* Global variables */
    stringset = null;

    
    $(document).ready(function(){
        $("#save_all").click(function(){ stringset.push(); });
        $("div#notification-container div").html("Loading strings...");
        $("div#notification-container").fadeIn("slow");

        pull_url = '{% url string_resource_push project.slug tresource.slug %}?languages={{target_language.code}},{{request.LANGUAGE_CODE}}';

        $.ajax({
            contentType : 'application/json', /* Workaround for django-piston */
            url: pull_url,
            global : false,
            type : 'GET',
            dataType: 'text', /* Workaround for django-piston */
            data: '', /* Workaround for django-piston */
            complete: function(xmlhttpreq, status) {

                var push_url = '{% url string_resource_pullfrom project.slug tresource.slug target_language.code %}';
                stringset = new StringSet(JSON.parse(xmlhttpreq.responseText), push_url, '{{request.LANGUAGE_CODE}}', '{{target_language.code}}');

                /* Source and translated strings table */
                stringset.bindToTable("trans_web_edit");
                stringset.updateView(); /* Update shown strings */

                /* Statistics and filtering by flag table */
                stringset.bindStatsAndFilter("stats_table");
                stringset.updateStats(); /* Update statistics */
                stringset.bindSearchField("search_field");

                stringset.bindPagination("trans_pagination");
                stringset.updatePagination(); /* Highlight corrent page */

                $("div#notification-container div").html(sprintf("Loaded %dkB", xmlhttpreq.responseText.length / 1024));
                setTimeout('$("div#notification-container").fadeOut();',1000);

            }
        });

    });

</script>




<div class="floatright" >
    <fieldset>
    <legend>{% trans "Settings" %}</legend>
    <table class="definition">
    <tr>
        <th>{% trans "Verbose editing:" %}</th>
        <td><input id="toggle_verbose" type="checkbox" /></td>
    </tr>
    </table>
    </fieldset>

   <input id="search_field" class="i16 find" type="text" value="{{ string }}" size="15"/>
<!--   <input id="filter_string_apply" class="i16 filter" type="submit" value="{% trans 'Filter' %}"/>
   <input id="filter_string_clear" class="i16 clear" type="submit" value="{% trans 'Clear' %}"/>-->
   <input id="save_all" class="i16 save_all" type="submit"  value="{% trans 'Save all' %}"/>
</div>



  <table class="definition stats_totals" id="stats_table">
  <input id="filter_entries" type="hidden" name="filter_entries"/>
  <tr>
    <th class="translated">Translated</th>

      <td id="total_translated">?</td>
      <td id="total_translated_perc">?</td>
      <td><input id="only_translated" type="checkbox"  checked="checked"  name="only_translated"/></td>
  </tr>
  <tr>
    <th class="fuzzy">Modified</th>
      <td id="total_fuzzy">?</td>
      <td id="total_fuzzy_perc">?</td>
      <td><input id="only_fuzzy" type="checkbox" checked="checked" name="only_fuzzy"/></td>
  </tr>
  <tr>
    <th class="untranslated">Untranslated</th>
      <td id="total_untranslated">?</td>
      <td id="total_untranslated_perc">?</td>

      <td><input id="only_untranslated" type="checkbox" checked="checked" name="only_untranslated"/></td>
  </tr>
  <tr class="last">
    <th>Total</th>
      <td id="total_sum">?</td>
  </tr>
  </table>

  <div class="generic_form" >
  <table id="trans_web_edit" class="trans_web_edit stats_comp tablesorter" style="width:100%" >
   <thead>
    <tr>
      <th>{% trans "#" %}</th>
      <th>{% trans "Source String" %}</th>
      <th>{% trans "Translation" %}</th>
    {% if WEBTRANS_SUGGESTIONS %}      
      <th class="suggest_container"><abbr title="{% trans "Auto-translate" %}">{% trans "AT" %}</abbr></th>
    {% endif %}
      <th style="width:48px;">&nbsp;</th>
    </tr>
   </thead>
   <tbody>

  {% for row in rows %}
  <tr>
    <td class="num" id="id_{{row}}">{{row}}</td>
    <td class="msg" style="width:45%; text-align:left;" id="source_{{row}}">{{ field.label }}</td>
    <td class="trans" style="width:45%" >
      <textarea id="translation_{{row}}" class="translation" style="width:100%; height: 100%;">&nbsp;
      </textarea>
    </td>
     <td class="notes" style="vertical-align:middle;padding-left: 20px;">
       <span class="i16 save buttonized_simple" id="save_{{row}}" style="display:none;"></span>
     </td>
  </tr>
  {% endfor %}



   </tbody>
  </table>
  </div>

  <div id="trans_pagination"><div class="i16 waiting">Loading...</div></div>

{% endblock %}

{% block content_footer %}
{% endblock %}
