{% extends "resource.html" %}
{% load i18n %}
{% load txcommontags %}

{% block breadcrumb %}
{% homelink %} » 
<a href="{% url project_list_recent %}">{% trans "Projects" %}</a> » 
<a href="{% url project_detail project.slug %}">{{project}}</a> »

{% if resource %} 
<a href="{% url resource_detail project.slug resource.slug %}">{{resource}}</a>
<a href="{% url translate project.slug resource.slug target_language.code %}">{{ target_language.name }}</a>
{% else %}
<a href="{% url translate project.slug target_language.code %}">{{ target_language.name }}</a>
{% endif %}
{% endblock %}


{% block extra_head %}
  <link media="screen" href="{{ STATIC_URL }}css/webtrans.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="{{ STATIC_URL }}css/dataTable.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dotimeout.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/shortcut.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tx.lotte2.js"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
      {% if WEBTRANS_SUGGESTIONS %}
        google.load("language", "1");
    {% endif %}
  </script>

<script type="text/javascript">

    /* Global variables */
    var stringset = null;
    var is_supported_source_lang = null;
    var is_supported_lang = null;
    var oTable;
    /* vars for string calcs */
    var translated_strings = {{ translated_strings }} 
    var untranslated_strings = {{ untranslated_strings }} 
    var total_strings = translated_strings + untranslated_strings;
    /* obj for holding default values of edited text areas. works like a hastable/dict */
    var current_defaults = {};
    /* var to keep filter state */
    var filter_var = null;
    /* url for details requests */
    {% if resource %} 
    var details_url = "{% url get_details project.slug resource.slug target_language.code %}";
    {% else %}
    var details_url = "{% url get_details project.slug target_language.code %}";
    {% endif %}

    {% if WEBTRANS_SUGGESTIONS %}
    google.setOnLoadCallback(function() {

        source_lang = '{{ resource.source_language.code }}';
        target_lang = '{{ target_language.code }}';
        /* Global variables */
        is_supported_source_lang = google.language.isTranslatable(source_lang);
        is_supported_lang = google.language.isTranslatable(target_lang);
        // If the main language code is not supported, try to find one from the code aliases
        if (!(is_supported_lang)){
            // Get aliases
            code_aliases = '{{ target_language.code_aliases }}';
            if(code_aliases){
                // Drop spaces in the beginning/end of the string and split it
                list = code_aliases.replace(/^ /,'').replace(/ $/,'').split(' ');
                for (i=0; i<list.length; i++){
                    is_supported_lang = google.language.isTranslatable(list[i]);
                    if (is_supported_lang){
                        target_lang = list[i];
                        break;
                    }
                }
            }
        }
    {% endif %}


    /* document ready. do stuff */
    $(document).ready(function(){

        oTable = $('#stringset_table').dataTable({
            "bJQueryUI": false,
            "sPaginationType": "full_numbers",
            "aaSorting": [[ 0, "asc" ]],
            "bServerSide": true,
            "bProcessing": true,
            {% if resource %}
                "sAjaxSource": "{%  url stringset_handling project.slug resource.slug target_language.code %}",
            {% else %} 
                "sAjaxSource": "{%  url stringset_handling project.slug target_language.code %}",
            {% endif %}
            "sDom": '<"top"if<"clear">rt<"bottom"lp<"clear">', 
            "bAutoWidth": false,
            "aoColumns" : [
                { "bVisible":false },
                { "bVisible":false, "bSortable": false, },
                { "sClass": "msg", "asSorting": [ "desc", "asc" ],  "sWidth": "350px",
                  "fnRender": function(oObj){
                    return '<div class="source_entity" id="sourceentity_'+ oObj.iDataRow +'" style="display:none"><span title="Key">'+ oObj.aData[1] +'</span></div>'
                           + '<div class="source_string" id="sourcestring_'+ oObj.iDataRow +'" title="Source string">' + oObj.aData[2] + '</div>'
                           + '<div class="details_trigger" style="font-size:11px;top:-1000px;left:-1000px;position:absolute;text-align:right;white-space:nowrap;">'
                           + '<a class="show_details" style="border:0;cursor:pointer"><span>show details</span><img style="vertical-align:bottom" src="{{ STATIC_URL }}images/icons/bullet_arrow_down.png"></a>'
                           + '</div>';
                  }
                },
                { "sClass": "trans", "bSortable": false,  "sWidth": "350px",
                  "fnRender": function(oObj){
                      return '<textarea class="translation" id="translation_' + oObj.iDataRow + '" style="width:95%" title="Translation">' + oObj.aData[3] + '</textarea>'
                      + '<div class="lotte-actions" style="overflow:hidden;top:-1000px;left:-1000px;position:absolute;text-align:right;white-space:nowrap;">'
                      + '<p style="position:relative;right:-90px"><a class="i16 action buttonized suggest">auto translate</a></p>'
                      + '<p style="position:relative;right:-79px"><a class="i16 next buttonized copy_source">copy source</a></p>'
                      + '</div>';
                    }
                },
                { "sClass": "notes", "bSortable": false, "bVisible":true, "sWidth": "40px",}
            ],
            "fnServerData": function (sSource, aoData, fnCallback) {

              $("#save_all").click(function(){ stringset.push(); });
              $("div#notification-container div").html("Loading strings...");
              $("div#notification-container").fadeIn("slow");
              if ( filter_var) {
                aoData.push( { "name" : "filters", "value": filter_var});
              }

              $.ajax ( {
                  "dataType": 'json',
                  "type": "POST",
                  "url": sSource,
                  "data": aoData,
                  "complete": function(xmlhttpreq, status) {

                    var parsed_data = JSON.parse(xmlhttpreq.responseText);
                    {% if resource %}
                    var push_url = '{% url push_translation project.slug resource.slug target_language.code %}';
                    {% else %}
                    var push_url = '{% url push_translation project.slug target_language.code %}';
                    {% endif %}
                    if ( stringset ) {    
                        // Modified strings should be saved or dropped on page change.
                        translated = stringset.translated// - stringset.translated_modified;
                        untranslated = stringset.untranslated// - stringset.untranslated_modified;
                    } else { 
                        translated = translated_strings;
                        untranslated = untranslated_strings;
                    }
                    stringset = new StringSet(parsed_data, push_url, '{{resource.source_language}}', '{{target_language.code}}');
                    stringset.translated = translated;
                    stringset.untranslated = untranslated;

                    // Draw the table
                    fnCallback(parsed_data);

                    setTimeout('$("div#notification-container").fadeOut();',1000);
                    }
                  });

             },
            "fnDrawCallback": function() {

                // Put the table object as an class attribute in StringSet.
                stringset.bindToTable("stringset_table");

                // Draw the colors for textareas and hide/show save buttons
                stringset.updateColors_Buttons();
                
                // Enable the onkeyup mark as modified and show save button
                stringset.bindKeyupTextArea();

                // Enable the onfocus "make current in StringSet"
                stringset.bindFocusTextArea();

                if ($("#toggle_autosave").is(":checked")){ 
                    // Enable the save button push upstream.
                    stringset.unbindSaveButton();
                    stringset.bindBlurTextArea();
                } else { 
                    stringset.unbindBlurTextArea();
                    stringset.bindSaveButton();
                }

                // Enable the undo button.
                stringset.bindUndoButton();

                if ($("#toggle_verbose").is(":checked")){ 
                    // Enable the save button push upstream.
                    $('.source_entity').show();
                } else { 
                    $('.source_entity').hide();
                }

                // Statistics and filtering by flag table 
                stringset.bindStatsAndFilter("stats_table");
                stringset.updateStats(); /* Update statistics */

                // Bind toolbar
                stringset.toolbar();

                stringset.current_box = null;
            }
        });

        /* move up in the trans boxes */
        shortcut.add('Alt+l', function(evt) {
            if ( stringset.current_box ) {
                stringset.current_box.blur();
            }
            oTable.fnPageChange('next');
        },{
            'type':'keydown',
        });
        /* move down in the trans boxes */
        shortcut.add('Alt+j', function(evt) {
            if ( stringset.current_box ) {
                stringset.current_box.blur();
            }
            oTable.fnPageChange('previous')
        },{
            'type':'keydown',
        });
        /* move to the next page */
        shortcut.add('Alt+i', function(evt) {
            if ( ! stringset.current_box ) {
                $("#stringset_table").find('tr:not(.details):last-child>td:nth-child(2)>textarea').focus();
            } else { 
                stringset.current_box.blur();
                stringset.current_box.parent().parent().prev('tr:not(.details)').find('td:nth-child(2)>textarea').focus();
            }
        },{
            'type':'keydown',
        });
        /* move to the previous page */
        shortcut.add('Alt+k', function(evt) {
            if ( ! stringset.current_box ) {
                $("#stringset_table").find('tr:not(.details):nth-child(1)>td:nth-child(2)>textarea').focus();
            } else { 
                stringset.current_box.blur();
                stringset.current_box.parent().parent().next('tr:not(.details)').find('td:nth-child(2)>textarea').focus();
            }
        },{
            'type':'keydown',
        });
        /* copy source */
        shortcut.add('Alt+g', function(evt) {
            if ( ! stringset.current_box ) {
                return false;
            }
            stringset.current_box.val(stringset.current_box.parent().prev().find(".source_string").html());
        });


        /* SETTINGS togglers */
        $("#toggle_verbose").click( function() {
            if ($(this).is(":checked")){ 
                $('.source_entity').show();
            } else { 
                $('.source_entity').hide();
            }
        });

        $("#toggle_autosave").click( function() {
            if ($(this).is(":checked")){ 
                stringset.unbindSaveButton();
                stringset.bindBlurTextArea();
                stringset.push();
                alert("Auto-save translation text has been enabled");
            } else { 
                stringset.unbindBlurTextArea();
                stringset.bindSaveButton();
                alert("Auto-save translation text has been disabled");
            }
        });

        $(".filters").change(function() {
            filter_var = "";
            $(".filters").each( function() {
                if (! $(this).attr('checked')) {
                    filter_var += $(this).attr('id')+'&';            
                }        
            });
            oTable.fnDraw();
        });

    });

    {% if WEBTRANS_SUGGESTIONS %}
    });
    {% endif %}

</script>


{% endblock %}

{% block title %}
{{ block.super }} | 
{{resource}}
{% endblock %}

{% block body_class %}project_list{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">
    {% trans "Strings" %}
  </h2>
{% endblock %}

{% block content %}


<div class="floatright" >
    <fieldset>
    <legend>{% trans "Settings" %}</legend>
    <table class="definition">
    <tr>
        <th>{% trans "Verbose editing:" %}</th>
        <td><input id="toggle_verbose" type="checkbox" /></td>
    </tr>
    <tr>
        <th>{% trans "Auto save:" %}</th>
        <td><input id="toggle_autosave" type="checkbox" /></td>
    </tr>
    </table>
    </fieldset>

<!--<input id="search_field" class="i16 find" type="text" value="{{string }}"
    size="15"/>-->
<!--   <input id="filter_string_apply" class="i16 filter" type="submit" value="{% trans 'Filter' %}"/>
   <input id="filter_string_clear" class="i16 clear" type="submit" value="{% trans 'Clear' %}"/>-->
</div>



  <table class="definition stats_totals" id="stats_table">
  <input id="filter_entries" type="hidden" name="filter_entries"/>
  {% with untranslated_strings|add:translated_strings as total_strings %}
  <tr>
    <th class="translated">Translated</th>

      <td id="total_translated">{{ translated_strings }}</td>
      <td id="total_translated_perc">?</td>
      <td><input id="translated" class="filters"type="checkbox"  checked="checked"  name="only_translated"/></td>
  </tr>

  <tr>
    <th class="untranslated">Untranslated</th>
      <td id="total_untranslated">{{ untranslated_strings }} </td>
      <td id="total_untranslated_perc">?</td>

      <td><input id="untranslated" class="filters" type="checkbox" checked="checked" name="only_untranslated"/></td>
  </tr>
  <tr>
    <th class="fuzzy">Modified</th>
      <td id="total_fuzzy">0</td>
      <td id="total_fuzzy_perc">0.00%</td>
  </tr>
  <tr class="last">
    <th>Total</th>
      <td id="total_sum">{{ total_strings }}</td>
  </tr>
  {% endwith %}
  </table>



<table id='stringset_table' style='width:100%'>
    <thead>
        <tr>
        <th></th>
        <th></th>
        <th>{% trans "Source String" %}</th>
        <th>{% trans "Translation" %}</th>
        <th>&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th style="text-align:left;padding-top:1em">
            <a id="save_all" class="i16 save_all buttonized2">{% trans 'Save all' %}</a>
          </th>
          <th></th>
          <th></th>
        </tr>
    </tfoot>
</table>

{% endblock %}

{% block content_footer %}
{% endblock %}
