{% extends "project.html" %}
{% load i18n %}

{% block breadcrumb %}
{{block.super}} » <a href="{% url project.resource project.slug tresource.slug %}">{{tresource}}</a>
{% endblock %}

{% block title %}
{{ block.super }} | 
{{tresource}}
{% endblock %}

{% block body_class %}project_list{% endblock %}

{% block content_title %}


{% endblock %}

{% block content %}


{% load upload_manager_tags %}
{% upload_manager tresource %}


Available translations:
<ul>
{% for language,count in translated_languages.items %}
    <li><a href="{% url translation project.slug tresource.slug language.code %}">{{language}}</a><sup>{{count}}</sup></li>
{% endfor %}
</ul>




{% endblock %}

{% block content_footer %}
{% endblock %}
