{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb %}

{{block.super}} »
<a href="{% url project_list_recent %}">{% trans "Projects" %}</a> » 
<a href="{% url project_detail project.slug %}">{{project}}</a> »
<a href="{% url project.resource project.slug tresource.slug %}">{{tresource}}</a>
{% endblock %}

{% block title %}
{{ block.super }} |
Projects |
{{project}}
{{tresource}}
{% endblock %}

{% block body_class %}project_list{% endblock %}

{% block content_title %}


{% endblock %}

{% block content %}


{% if request.user.is_authenicated %}
{% load upload_manager_tags %}
{% upload_manager tresource %}
{% endif %}


Available translations:
<ul>
{% for language,count in translated_languages.items %}
    <li><a href="{% url translation project.slug tresource.slug language.code %}">{{language}}</a><sup>{{count}}</sup></li>
{% endfor %}
</ul>




{% endblock %}

{% block content_footer %}
{% endblock %}
