{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans 'E-mail change processed' %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}

	<div class="notice">
		<h3>{% trans 'E-mail change processed' %}</h3>
		<p>{% trans "An e-mail was sent to the new e-mail address for verification purposes. Please check your e-mail and complete this process by following the instructions specified in the e-mail body." %}</p>
	</div>
{% endblock %}
