{% extends "userprofile/base_2col.html" %}
{% load i18n %}
{% load txcommontags %}

{% block title %}{% trans "Resend e-mail validation" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("input#id_email").focus();
		$("input[type='text'], input[type='text']").addClass("text");
	});
</script>
{% endblock %}

{% block userprofile_content %}
  <h2>{% trans "Resend e-mail validation" %}</h2>
  <p>{% trans "You will not be able to sign in until you have validated your e-mail address. Enter your registered e-mail address to receive the validation e-mail again." %}</p>

  <div class="generic_form">
    <form action="{% url email_validation_reset %}" method="post" accept-charset="utf-8">{% csrf_token %}
    <table><tbody>
      {% form_as_table_rows form %}
    </tbody></table>
    <span class="buttonized"><input type="submit" class="i16 submit" value="{% trans "Resend confirmation" %}" /></span>
    </form>
  </div>
{% endblock %}
