{% extends "userprofile/base_2col.html" %}
{% load i18n %}
{% load txcommontags %}

{% block title %}{% if user.email %}{% trans "Change e-mail" %}{% else %}{% trans "Add e-mail" %}{% endif %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("input#id_email").focus();
		$("input[type='text'], input[type='text']").addClass("text");
	});
</script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
    <h2>{% trans "Add a new e-mail address" %}</h2>
    <p>{% trans "Enter the new e-mail address. An e-mail will be sent to it for testing and confirmation." %}</p>

    <div class="generic_form">
	<form action="{% url email_validation %}" method="post" accept-charset="utf-8">{% csrf_token %}
    <table><tbody>
	  {% form_as_table_rows form %}
	</tbody></table>

	<span class="buttonized"><input type="submit" class="i16 submit" value="{% trans "Change" %}" /></span>
	</form>
	</div>
{% endblock %}
