{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% if successful %}{% trans 'E-mail validation successful' %}{% else %}{% trans 'E-mail change unsuccessful' %}{% endif %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
    <h2>{% trans "E-mail validation process" %}</h2>
    <p>{% url profile_overview as profile_overview %}{% blocktrans %}You can manage the e-mail validation process from the <a href="{{ profile_overview }}">overview page</a>.{% endblocktrans %}</p>

	<div class="{% if successful %}success{% else %}error{% endif %}">
	{% if successful %}
    <p>{% trans "E-mail address validated successfully." %}</p>
	{% else %}
	<p>{% trans "The key you received via e-mail is no longer valid. Please try the e-mail validation process again." %}</p>
	{% endif %}
	</div>
{% endblock %}
