{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% ifequal params.action "done" %}{% trans 'Validation e-mail sent' %}{% else %}{% trans 'Your user account was already activated' %}{% endifequal %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}

  <h2>{% trans "E-mail validation process" %}</h2>
    <p>{% trans "You can manage the e-mail validation process from the" %} <a href="{% url profile_overview %}">{% trans "overview page" %}</a>.>
	<p class="{% ifequal params.action "done" %}success{% else %}notice{% endifequal %} large">
	{% ifequal params.action "done" %}
		{% trans "We've sent you the e-mail validation link." %}
	{% else %}
		{% trans 'Your e-mail was already validated' %}.
	{% endifequal %}
	</p>
{% endblock %}
