{% extends "userprofile/base_2col.html" %}
{% load i18n %}
{% load txcommontags %}

{% block title %}{% trans "User sign in" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("input[type='text'], input[type='password']").addClass("text");
		$("#id_username").focus();
	});
</script>
{% endblock %}

{% block userprofile_content %}
  <h2>{% trans "Sign in" %}</h2>
  <p>{% trans "Enter your username and password to sign in." %}</p>

  <div class="generic_form">
    <form action="{% if next %}?next={{ next }}{% endif %}" method="post" accept-charset="utf-8">{% csrf_token %}
    <fieldset>
    <table><tbody>
      {% form_as_table_rows form %}
    </tbody></table>
    <span class="buttonized"><input type="submit" class="i16 submit" value="{% trans "Sign in" %}" /></span>
    </fieldset>
    </form>
  </div>

{% endblock %}

{% block userprofile_content_related %}
	<div class="box">
		<h3>{% trans "Utilities" %}:</h3>
    {# http://code.djangoproject.com/ticket/7239 #}
		<a href="{% url password_reset %}">{% trans "Lost your password?" %}</a>
		<br />
		<a href="{% url email_validation_reset %}">{% trans "Resend validation e-mail" %}</a>
    <br />
		<a href="{% url signup %}">{% trans "Sign up!" %}</a>
		<br />
	</div>
{% endblock %}
