{% extends "userprofile/base_2col.html" %}
{% load i18n %}
{% load txcommontags %}

{% block title %}{% trans 'Password change for' %} {{ user }}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("#id_old_password").focus();
		$("input[type='password']").addClass("text");
	});
</script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
<h2>{% trans 'Password change' %}</h2>
<p>{% trans "You can change your password from here. Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<div class="generic_form">
  <form class="personal" action="{% url password_change %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <table><tbody>
      {% form_as_table_rows form %}
  </tbody></table>
  <span class="buttonized"><input type="submit" class="i16 submit" value="{% trans "Change" %}" /></span>
</form>

	</form>
{% endblock %}
