{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Registration completed" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block userprofile_content %}
    <h2>{% trans "Register a new account" %}</h2>

	<div class="success">
		{% if email_validation_required %}
		<p>{% blocktrans %}Account created. An activation url was sent to your e-mail address. Please access that url to complete the registration process.{% endblocktrans %}</p>
		{% else %}
		{% url profile_overview as overview_url %}
		<p>{% blocktrans %}Account created. Go to the <a href="{{ overview_url }}">sign in page</a> to authenticate and start using this site.{% endblocktrans %}</p>
		{% endif %}
	</div>
{% endblock %}
