{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "User registration" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("input#id_username").focus();
		$("input[type='text'], input[type='password']").addClass("text");
	});
</script>
{% endblock %}

{% block userprofile_content %}
    <h2>{% trans "Register for a Transifex account" %}</h2>
    <p>{% trans "Joining Transifex is quick and easy. Just fill in the following form." %}</p>
	{% include "userprofile/account/includes/registration_form.html" %}
{% endblock %}
