{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% trans "Transifex" %}{% endblock %}</title>
    <link media="screen" href="/site_media/css/base.css" type="text/css" rel="stylesheet" />
    <link media="screen" href="/site_media/css/stats.css" type="text/css" rel="stylesheet" />
    <link media="screen" href="/site_media/css/icons.css" type="text/css" rel="stylesheet" />
    <meta content="text/html; charset=utf-8" http-equiv="content_type" />
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
<div id="wrapper">

  <div id="header">
    <div id="logo">
      <a href="{% url home %}"><img border="0" src="/site_media/images/tx-logo.png" alt="{% trans "Transifex logo" %}" /></a>
    </div>
    <div id="navmenu">
      <a href="{% url home %}">{% trans "Home" %}</a> | <a href="{% url project_list %}">{% trans "Projects" %}</a>
    </div>
    <div id="header_secnav">
      <span id="login">
          {% if user.is_authenticated %}
                {% url user_account_settings as user_account_settings %} 
              {% blocktrans with user.username as user_username %}Welcome <a title="Profile settings" href="{{ user_account_settings }}">{{ user_username }}</a>!{% endblocktrans %} |
              <a href="{% url user_signout %}">{% trans "Sign out" %}</a></span>
          {% else %}
              <a href="{% url user_signin %}">{% trans "Sign in" %}</a> | <a href="{% url user_signup %}">{% trans "Register" %}</a></span>
          {% endif %}
      <select class="lang_switcher">
        <option selected>{% trans "English" %}</option>
      </select>
    </div>
  </div>
        
  <div id="content">
    <div id="content_header">
    {% block content_header %}
      <div id="breadcrumbs">
        {% block breadcrumb %}{% endblock %}
      </div>
      <div id="content_title">
        {% block content_title %}{% endblock %}
      </div>
      <div id="content_header_sec">
        {% block content_header_sec %}{% endblock %}
      </div>
    {% endblock %}
    </div>
    <div id="body">
      {% block body %}
        <div id="body_sec">
          {% block body_sec %}{% endblock %}
        </div>
        <div id="body_main">
          {% block messages %}
          {% if messages %}
          <div id="messages">
  	      <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
		  {% endfor %}
		  </ul>
          </div>
		  {% endif %}
		  {% endblock %}

        {% block body_main %}{% endblock %}
        </div>
      {% endblock %}
    </div>
    <div id="content_footer">
      {% block content_footer %}{% endblock %}
    </div>
  </div>
</div>

  <div id="footer">
    {% block footer %}
    <div class="right">
      <div class="joint">An <a title="Information craftsmen" href="http://www.indifex.com"><span class="indifex-word"><span class="prefix">Indi</span><span class="suffix">fex</span></span></a> joint</a></div>
    </div>
    <div class="center">
      {# FIXME feed url #}
      {% trans "About" %} | <a href="{% url feed url="latest" %}">{% trans "Feed" %}</a> | <a href="{% url contact_form %}">{% trans "Contact us" %}</a>
    </div>
    {% endblock %}
  </div>

</body>
</html>
