{% extends "base.html" %}
{% load i18n %}

{% block body_class %}index{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">{% trans "Welcome to Transifex" %}</h2>
{% endblock %}

{% block body %}

{% if not request.user.is_authenticated %}
    {% include "login.html" %}
{% endif %}

<p class="promo">{% trans "Transifex is a service aimed at helping translators keep track of their favourite translation projects." %}</p>

<div class="searchform content_header_prim">
  <p>
    {% include "search_form.html" %}
  </p>
   <p>
    {% include "projects/project_latests.html" %}
  </p> 
  {% url project_list as project_list %} 
  <p>{% blocktrans %}You could also browse through <a href="{{ project_list }}">all projects</a>.{% endblocktrans %}</p>
</div>
<div id="clear"></div>  
{% endblock %}
