{% extends "base.html" %}


{% block body_class %}index{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">Welcome to Transifex</h2>
{% endblock %}

{% block content %}
<p class="promo">Transifex.net is a service aimed at helping translators keeping track of
their favourite translation projects.</p>

<p>&nbsp;</p>

<div class="searchform content_head_prim">
  <p>
    {% include "search_form.html" %}
  </p>
  
  <p>You could also browse through <a href="{% url project_list %}">all projects</a>.</p>
</div>

  
{% endblock %}