{% load i18n %}
<div id="login_index">
   <div class="divright">
   <fieldset>
        <legend>{% trans "Sign in" %}</legend>
        <div id="login-block">
		      <p class="login-tagline">Add projects or modify existing ones. Wiki-style.</p>
		      <form name="fauth" action="{% url user_signin %}" method="post">
		      {{ form1.next }}
		              <div class="form-row"><label for="id_username">{% trans "Username:" %}</label> <input id="id_username" class="required login" name="username" maxlength="30" size="12" type="text"></div>
		              <div class="form-row"><label for="id_password">{% trans "Password:" %}</label> <input id="id_password" class="required login" name="password" maxlength="128" size="12" type="password"></div>
		      <div class="submit-row"><input type="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
		      </form>
		      <p>{% trans "Or, with your OpenID:" %}</p> 
		      <form name="fopenid" action="{% url user_signin %}" method="post">
		      <div class="form-row">
		         <input id="id_openid_url" class="required openid withbgimage" name="openid_url" maxlength="255" type="text">
		         <input name="bonus" type="text" class="hidden_field">
		      </div>
		      <div class="submit-row"><input type="submit" name="bsignin" value="{% trans "Sign in with OpenID" %}"></div>
		      </form> 
		      <div class="lost_passwd compact">&nbsp;&nbsp;<a href="/account/sendpw/">{% trans "Lost your password?" %}</a></div>
        </div>
        </fieldset>     
</div>  
</div>
