{% extends "projects/base.html" %}

{% block title %}{{ block.super }} | Search{% endblock %}

{% block breadcrumb %}<a href="{% url home %}">Home</a> &raquo; <a href="{% url search %}">Search</a>{% endblock %}

{% block body_class %}search{% endblock %}

{% block content_title %}
  <h2 class="pagetitle">Search</h2>
{% endblock %}

{% block content_header %}
	{% with "content_header_prim" as extra_searchform_classes %}
	    {% include "search_form.html" %}
	{% endwith %}
	{% if query %}
	<div class="addproject content_header_sec">
	  <span class="i16 add"><a href="{% url project_add %}">Add a new project</a></span>
	</div>
	{% endif %}
{% endblock content_header %}
  
{% block body %}
  {% if query %}
    {% if results %}
      {# <p class="i16 message find">Results for "{{ query|escape }}"</p> #}
	  <div class="project_list">
	  {% for project in results %}
	    <div class="info">
	      <h4 class="name"><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></h4>
	      <p class="description">{{ project.description }}</p>
	    </div>
	  {% endfor %}
	  </div>
    {% else %}
      <p class="i16 notice">No projects found for "{{ query|escape }}". You might want to change your query a bit.</p>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content_footer %}
  <div id="content_footer_center">
   <span class="i16 tip">Couldn't find your project? Why don't you go ahead and <a href="{% url project_add %}">add it</a>?</p>   
  </div>
{% endblock %}
