

/* General */

body {
  font-family:"Trebuchet MS", sans-serif;
  font-size: 0.9em;
  color: #333;
}

div#header,
div#content-all,
div#footer {
  max-width: 1100px;
  margin: 0 auto;
}


/* Header */

div#header {
  height: 80px;
}

div#header div#logo {
  float: left;
}

div#logo {
  margin-left: 0.5em;
}

div#header div#navmenu {
  float: left;
  margin: 65px 0.5em 0 5em;
  font-size: 120%;
  color: #ccc;
}

div#header div#topright {
  float: right;
}

div#header div#language_switcher {
  float: right;
  margin-left: 1em;
}


/* Content */

div#content-all {
  background-color: #ebf2f8;
  border-top: #afc8e1 4px solid;
  border-bottom: #afc8e1 2px solid;
  margin-top: 1em;
  min-height: 50em;
}

div#content-all h2.pagetitle {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 3.3em;
  font-family: "Georgia", serif;
  margin: 0.8em 0.8em 0.5em 0.8em;
  letter-spacing: -2px;
}

div.content-main {
  background-color: white;
  -moz-border-radius: 5px;
  margin: 1em;
  min-height: 5em;
  padding: 0.5em 3em 3em 3em;
}

a {
  color: #0d4c8c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* Projects */

div.project_list div.project_info {
  border-bottom: 3px solid #eee;
}

div.project_list p.description {
  margin-top: 0.5em;
}

div.project_list h3.name {
  font-weight: normal;
  font-size: 140%;
  margin-bottom: 0;
}

div.project_list p.description {
  color: #88889e;
}

div.project_list h3,
div.project_details h3 {
  color: #b65d0e;
}

/* Project details */

div.project_details h2.name {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 3em;
  font-family: "Georgia", serif;
  letter-spacing: -2px;
}

div.project_details p.description {
  font-size: 120%;
  color: #666;
  margin-top: 0;
  margin-bottom: 2.5em;
}

div.project_details p.long_description {
  margin: -1em 0 2em 1em;
  max-width: 80%;
  text-align: justify;
}

/* Other elements */

table.definition th { text-align: left; color: #666; }
table.definition td {
  padding: 0.2em 0.5em;
}

code { font-size: 1.2em; }

sup.editlink,
sup.editlink a { color: #999; font-size: 80%; font-weight: normal; }
sup.editlink a:hover { color: #0d4c8c; }

img.repotype { vertical-align: middle; }

.disabled { color: #aaa; }
.disabled a { color: #bdcedf; }