

/* General */

body {
  font-family:"Trebuchet MS", sans-serif;
  font-size: 0.85em;
  color: #333;
  padding: 0;
  margin: 0;
}

div#header,
div#content,
div#footer {
  max-width: 1100px;
  margin: 0 auto;
}


/* Header */

div#wrapper {
  background: url('../images/top_bg_grad.png') repeat-x;
  padding: 0 20px;
}

div#header {
  height: 80px;
  padding-top: 10px;
}

div#header div#logo {
  float: left;
}

div#logo {
  margin-left: 0.5em;
}

div#header div#navmenu {
  float: left;
  margin: 65px 0.5em 0 5em;
  font-size: 120%;
  color: #ccc;
}

div#header div#header_secnav {
  float: right;
}

div#header div#header_trinav {
  float: right;
  clear: right;
  margin-top: 40px;
  font-size: 85%;
  color: #666;
  margin-right: 10px;
}

div#header lang_switcher {
  margin-left: 1em;
}


/* Content */

div#breadcrumbs {
  margin: 1em 3em;
}

div#content {
  background-color: #ebf2f8;
  border-top: #afc8e1 4px solid;
  border-bottom: #afc8e1 3px solid;
  margin-top: 1em;
  min-height: 50em;
}

div#content h2.pagetitle {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 2.8em;
  font-family: "Georgia", serif;
  margin: 0.5em 0.8em 0.3em 0.8em;
  letter-spacing: -2px;
}

div#content h2.pagesubtitle {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 2.5em;
  font-family: "Georgia", serif;
  margin: 0.5em 0.8em 0.3em 0;
  letter-spacing: -2px;
}

div#body {
  clear: both;
  background-color: white;
  -moz-border-radius: 5px;
  margin: 1em;
  min-height: 5em;
  padding: 0.5em 3em 3em 3em;
}

div#body h3 {
  color: #b65d0e;
}

div.multicolumn3 {
  -moz-column-count: 3;
  -moz-column-gap: 3em;
   column-count: 3;
   column-gap: 3em;
   column-break-inside: avoid;
}


div.multicolumn3 {
  -moz-column-count: 3;
  -moz-column-gap: 3em;
   column-count: 3;
   column-gap: 3em;
   column-break-inside: avoid;
}


div#content_header,
div#content_footer {
  margin: 0 1em;
}

div#content_header_sec,
div#body_sec,
div#content_footer_sec {
  float:right;
}
div#content_header_prim, div#content_header_sec { margin-bottom: 0.5em; }
div#content_footer_prim, div#content_footer_sec { margin-top: 0.5em; }
div#content_header_prim, div#content_footer_prim { margin-left: 1em; }
div#content_header_sec, div#content_footer_sec { margin-right: 1em; }
div#content_header_center, div#content_footer_center { text-align: center; }

div#body_sec { margin-top: 0.5em; margin-right: -1.8em; }

div#footer .left,
div#footer .center,
div#footer .right {
  width: 30%;
  padding: 0.5em 0 1em 0;
  font-size: 90%;
}

div#footer .left { float: left; text-align: left; }
div#footer .center { margin: 0 auto; text-align: center; }
div#footer .right { float: right; text-align: right; }

div#footer .joint {
  margin-right: 1em;
  font-weight: bold;
  color: #444;
}

/* Login index */

div#login_index {
  color: #666;
  float: right;
  margin-top: 20px;
  margin-right: -10px;
  margin-right: -10px;
  background-color: #fff; /*#EBF2F8*/
  padding: 0.3em;
  /*
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  border:1px solid #AFC8E1;*/
}

div#clear,
.clear {
  clear: both;
}

div#login_index fieldset {
  border:1px solid #AFC8E1;
  background-color: #EBF2F8;
  -moz-border-radius:3px;
}

div#login_index legend {
  border:1px solid #AFC8E1;
  background-color: #FFF;
  padding-left: 0.6em;
  padding-right: 0.6em;
  -moz-border-radius: 2px;
}

div#login_index .submit-row {
  margin-top: 5px;
  text-align: right;
  font-size: 50%;
  display: none;
}

div#login_index .form-row {
  text-align: right;
  margin-top: 5px;
}

div#login_index p {
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
}

div#login_index .lost_passwd {
  margin-top: 3px;
}

div#login_index input#id_openid_url {
  background-image: url('../images/openid-icons/openid.ico');
}

/* List and Detail views for Projects and Collections */

div.obj_biglist div.entry {
  /* border-bottom: 3px solid #eee; */
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 1em;
}

div.obj_biglist p.description {
  margin-top: 0.5em;
}

div.obj_biglist .name {
  font-weight: normal;
  font-size: 140%;
  margin-bottom: 0;
}

div.obj_biglist p.description {
  color: #88889e;
  max-width: 40em;
  text-align: justify;
}


/* Object details */

div.obj_bigdetails h2.name {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 3em;
  font-family: "Georgia", serif;
  letter-spacing: -2px;
}

div.obj_bigdetails p.description {
  font-size: 120%;
  color: #666;
  margin-top: 0;
  margin-bottom: 2.5em;
}

div.obj_bigdetails div.long_description {
  margin: -1em 0 2em 1em;
  max-width: 80%;
  text-align: justify;
}

div.obj_bigdetails .details {
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 1em;
}

div.obj_bigdetails div.editlinks { float: right; clear: right; }
div.obj_bigdetails div.editlinks p { float: right; clear: right; margin: 0; }
div.obj_bigdetails div.deletelink { text-align: center; margin-bottom: 2em; }
div.obj_bigdetails div.deletelink span a:hover {
  color: #833;
  background-color: #fee;  
}


/* Component list */

body.projects.project_detail .component_list .entry {
  float: left;
  margin: 0.5em;
  width: 15em;
  height: 5em;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #eee;
  padding: 1em;
  -moz-border-radius: 5px;
  font-size: 90%;
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  margin-bottom: 2em;
}

body.projects.project_detail .component_list .entry h4 {
  font-size: 1.2em;
  margin: 0 0 0.5em 0;
  background: url('../images/icons/brick.png') no-repeat 100% 50%;
}

body.projects.project_detail .component_list .entry p {
  font-size: 90%;
  margin: 0.5em 0 0 0;
}

body.projects.project_detail .components p.more {
  padding-top: 1em;
  clear: both;
}


/* Search */

div.searchform label {
  font-size: 90%;
  font-color: gray;
  margin-left: 0.5em;
}

div.searchform input.query {
  background-image: url('../images/icons/magnifier.png');
  font-size: 1.1em;
  font-weight: bold;
  color: #666;
}

div.searchform input.submit {
  font-size: 1.1em;
}

body.search.project_list div.info {
  /* border-bottom: 3px solid #eee; */
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 0.3em;
  padding-top: 1em;
}

body.search.project_list h4.name {
  font-weight: normal;
  font-size: 140%;
  margin: 0;
}

body.search.project_list p.description {
  margin-top: 0.3em;
  margin-bottom: 0em;
  color: #88889e;
  text-align: justify;
}

body.search.project_list p.long_description {
  margin-top: 0em;
  color: #88889e;
  text-align: justify;
  font-size: 80%;
}

body.search.project_list span.highlight{
  background-color: #ffffba;
  font-weight: bolder;
}

body.search.project_list .find{
  margin-bottom: 1em;
}

body.search.project_list .notfound{
  /* font-weight: bolder; */
}

/* Other elements */

a {
  color: #0d4c8c;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}

a img {
  border-bottom: none;
}

a.simlink, a.simlink:hover {
  border: none;
}

table.definition th { text-align: left; color: #666; }
table.definition td {
  padding: 0.2em 0.5em;
}

code { font-size: 1.2em; }
span.title { border-bottom: 1px dotted #aaa; }

ul.simple { list-style: none; padding-left: 20px; }

img.repotype { vertical-align: middle; }

.disabled { color: #aaa; }
.disabled a { color: #bdcedf; }

.spaceabove { margin-top: 3em; }

.message {
  border: 3px solid #ddd;
  -moz-border-radius: 5px;
  padding: 0.5em 35px;
  background-color: #fafafa;
}

.message.i16 {
  background-position: 10px 50%;
}

input, textarea {
  padding: 0 0.5em;
  border: 1px solid #aaa;
  -moz-border-radius: 2px;
}

div.project_create table th {
  text-align: right;
  padding-right: 1em;
}

div.project_create ul.errorlist {
  font-size: 85%;
  color: #c27878;
  list-style: none;
  margin: 0 0 0 0.5em;
  padding: 0;
  float: right;
}

/* Input with background image (search, etc) */
input.withbgimage {
  padding: 2px 2px 2px 25px;
  background-image: url('../images/icons/cog.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
}

/* Other */

.promo {
  font-size: 130%;
  width: 80%;
  margin: 2em 0;
}

.compact { font-size: 85%; }

.floatright {
  float: right;
  margin-left: 1em;
}


table.add_form td {
  font-size: 80%;
  color: #666;
  height: 20px;
}

ul.errorlist li {
  color: #e55;
}

.components .entry .description {color: #999}

.entry_metalink {
  color: #888;
  font-weight: normal;
  font-size: 70%;
}

.entry_metalink a {
  color: #7e9fc2;
}

.entry_metalink a:hover {
  color: #0d4c8c;;
}

h2 .entry_metalink {
  font-size: 60%;
}
h2 .entry_metalink {
  font-size: 60%;
}


/* Custom classes for various elements */

a.tag:link, a.tag:hover, a.tag:visited {
  color:#555;
}

a.tag {
  background-color:#FFFCE7;
  -moz-border-radius: 2px;
  border-color: #F9F5EA #EEE2BF #EEE2BF #F9F5EA;
  border-style: solid;
  border-width: 1px;
  line-height: 1.5em;
  padding: 0.15em 0.2em;
  font-size: 95%;
}
