

/* General */

body {
  font-family:"Trebuchet MS", sans-serif;
  font-size: 0.85em;
  color: #333;
  padding: 0;
  margin: 0;
}

div#header,
div#content,
div#footer {
  max-width: 1100px;
  margin: 0 auto;
}


/* Header */

div#wrapper {
  background: url('../images/top_bg_grad.png') repeat-x;
  padding: 0 20px;
}

div#header {
  height: 80px;
  padding-top: 10px;
}

div#header div#logo {
  float: left;
}

div#logo {
  margin-left: 0.5em;
}

div#header div#navmenu {
  float: left;
  margin: 65px 0.5em 0 5em;
  font-size: 120%;
  color: #ccc;
}

div#header div#header_secnav {
  float: right;
}

div#header lang_switcher {
  margin-left: 1em;
}


/* Content */

div#breadcrumbs {
  margin: 1em 3em;
}

div#content {
  background-color: #ebf2f8;
  border-top: #afc8e1 4px solid;
  border-bottom: #afc8e1 3px solid;
  margin-top: 1em;
  min-height: 50em;
}

div#content h2.pagetitle {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 2.8em;
  font-family: "Georgia", serif;
  margin: 0.5em 0.8em 0.3em 0.8em;
  letter-spacing: -2px;
}

div#content h2.pagesubtitle {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 2.5em;
  font-family: "Georgia", serif;
  margin: 0.5em 0.8em 0.3em 0;
  letter-spacing: -2px;
}

div#body {
  clear: both;
  background-color: white;
  -moz-border-radius: 5px;
  margin: 1em;
  min-height: 5em;
  padding: 0.5em 3em 3em 3em;
}

div#content_header,
div#content_footer {
  margin: 0 1em;
}

div#content_header_sec,
div#body_sec,
div#content_footer_sec {
  float:right;
}
div#content_header_prim, div#content_header_sec { margin-bottom: 0.5em; }
div#content_footer_prim, div#content_footer_sec { margin-top: 0.5em; }
div#content_header_prim, div#content_footer_prim { margin-left: 1em; }
div#content_header_sec, div#content_footer_sec { margin-right: 1em; }
div#content_header_center, div#content_footer_center { text-align: center; }

div#body_sec { margin-top: 0.5em; }

div#footer .left,
div#footer .center,
div#footer .right {
  width: 30%;
  padding: 0.5em 0 1em 0;
  font-size: 90%;
}

div#footer .left { float: left; text-align: left; }
div#footer .center { margin: 0 auto; text-align: center; }
div#footer .right { float: right; text-align: right; }

div#footer .joint {
  margin-right: 1em;
  font-weight: bold;
  color: #444;
}

.indifex-word span.prefix { color: #0d4c8c; }
.indifex-word span.suffix { color: #b65c0c; }

/* Projects */

body.projects.project_list div.entry {
  /* border-bottom: 3px solid #eee; */
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 1em;
}

body.projects.project_list p.description {
  margin-top: 0.5em;
}

body.projects.project_list h2.name,
body.projects.project_list h3.name,
body.projects.project_list h4.name {
  font-weight: normal;
  font-size: 140%;
  margin-bottom: 0;
}

body.projects.project_list p.description {
  color: #88889e;
  max-width: 40em;
  text-align: justify;
}

body.projects.project_detail .details {
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 1em;
}

div#body h3 {
  color: #b65d0e;
}

/* Project details */

body.projects.project_detail h2.name {
  color: #0d4c8c;
  font-weight: normal;
  font-size: 3em;
  font-family: "Georgia", serif;
  letter-spacing: -2px;
}

body.projects.project_detail p.description {
  font-size: 120%;
  color: #666;
  margin-top: 0;
  margin-bottom: 2.5em;
}

body.projects.project_detail div.long_description {
  margin: -1em 0 2em 1em;
  max-width: 80%;
  text-align: justify;
}

/* Search */

div.searchform label {
  font-size: 90%;
  font-color: gray;
  margin-left: 0.5em;
}

div.searchform input.query {
  font-size: 1.1em;
  padding-left: 1.2em;
  padding: 2px 2px 2px 25px;
  background-image: url('../images/icons/magnifier.png');
  background-repeat: no-repeat;
  background-position: 5px 50%;
  font-weight: bold;
  color: #666;
}

div.searchform input.submit {
  font-size: 1.1em;
}

body.search.project_list div.info {
  /* border-bottom: 3px solid #eee; */
  background: url('../images/light-separator.png') repeat-x -20px 100%;
  padding-bottom: 0.3em;
  padding-top: 1em;
}

body.search.project_list h4.name {
  font-weight: normal;
  font-size: 140%;
  margin: 0;
}

body.search.project_list p.description {
  margin-top: 0.3em;
  margin-bottom: 0em;
  color: #88889e;
  text-align: justify;
}

body.search.project_list p.long_description {
  margin-top: 0em;
  color: #88889e;
  text-align: justify;
  font-size: 80%;
}

body.search.project_list span.highlight{
  background-color: #ffffba;
  font-weight: bolder;
}

body.search.project_list .find{
  margin-bottom: 1em;
}

body.search.project_list .notfound{
  font-weight: bolder;
}

/* Other elements */

a {
  color: #0d4c8c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table.definition th { text-align: left; color: #666; }
table.definition td {
  padding: 0.2em 0.5em;
}

code { font-size: 1.2em; }


body.projects.project_detail div.editlinks { float: right; clear: right; }
body.projects.project_detail div.editlinks p { float: right; clear: right; margin: 0; }

body.projects.project_detail div.deletelink { text-align: center; margin-bottom: 2em; }

body.projects.project_detail div.deletelink span a:hover {
  color: #833;
  background-color: #fee;  
}


img.repotype { vertical-align: middle; }

.disabled { color: #aaa; }
.disabled a { color: #bdcedf; }

.spaceabove { margin-top: 3em; }

p.message {
  border: 3px solid #ddd;
  -moz-border-radius: 5px;
  padding: 0.5em 35px;
  background-color: #fafafa;
}

p.message.i16 {
  background-position: 10px 50%;
}

input, textarea {
  padding: 0 0.5em;
  border: 1px solid #aaa;
  -moz-border-radius: 2px;
}

div.project_add table th {
  text-align: right;
  padding-right: 1em;
}

div.project_add ul.errorlist {
  font-size: 85%;
  color: #c27878;
  list-style: none;
  margin: 0 0 0 0.5em;
  padding: 0;
  float: right;
}

/* Other */

.promo {
  font-size: 130%;
  width: 80%;
  margin: 2em;
}

.floatright {
  float: right;
  margin-left: 1em;
}


table.add_form td {
  font-size: 80%;
  color: #666;
  height: 20px;
}

ul.errorlist li {
  color: #e55;
}

.components .entry .description {color: #999}

.entry_metalink {
  color: #888;
  font-weight: normal;
  font-size: 70%;
}

.entry_metalink a {
  color: #7e9fc2;
}