/**
  Icons
*/


/* Generic */

.i16,
.i24,
.i48 {
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.i16 {
  padding-left: 24px;
  line-height: 16px;
  background-image: url('../images/icons/cog.png');
}

input.i16 {
  height: 20px;
  background-position: 5px 50%;
}

.i16.buttonized,
.microform input[type="submit"] {
  background-position: 5px 50%;
  padding-left: 27px;
}

/* Various icons */

.i16.action { background-image: url('../images/icons/lightning.png'); }
.i16.admin { background-image: url('../images/icons/award_star_gold_1.png'); }
.i16.add { background-image: url('../images/icons/add.png'); }
.i16.allow_file { background-image: url('../images/icons/database_edit.png'); }
.i16.bell { background-image: url('../images/icons/bell.png'); }
.i16.branch { background-image: url('../images/icons/arrow_branch.png'); }
.i16.collection { background-image: url('../images/icons/basket.png'); }
.i16.component { background-image: url('../images/icons/brick.png'); }
.i16.delete { background-image: url('../images/icons/cross.png'); }
.i16.delete_circle { background-image: url('../images/icons/cancel.png'); }
.i16.edit { background-image: url('../images/icons/pencil.png'); }
.i16.cache { background-image: url('../images/icons/lorry.png'); }
.i16.cache_empty { background-image: url('../images/icons/lorry_flatbed.png'); }
.i16.feed { background-image: url('../images/icons/feed.png'); }
.i16.filter { background-image: url('../images/icons/filter.png'); }
.i16.find { background-image: url('../images/icons/magnifier.png'); }
.i16.find_file { background-image: url('../images/icons/page_add.png'); }
.i16.freeze { background-image: url('../images/icons/date_error.png'); }
.i16.get_file { background-image: url('../images/icons/page_white_put.png'); }
.i16.homepage { background-image: url('../images/icons/house.png'); }
.i16.key { background-image: url('../images/icons/key.png'); }
.i16.lock { background-image: url('../images/icons/lock.png'); }
.i16.lock_break { background-image: url('../images/icons/lock_break.png'); }
.i16.lock_none { background-image: url('../images/icons/lock_none.png'); }
.i16.logout { background-image: url('../images/icons/door_out.png'); }
.i16.maintainer { background-image: url('../images/icons/user_gray.png'); }
.i16.notice { background-image: url('../images/icons/exclamation.png'); }
.i16.language { background-image: url('../images/icons/comment.png'); }
.i16.link { background-image: url('../images/icons/world_link.png'); }
.i16.project { background-image: url('../images/icons/package.png'); }
.i16.release { background-image: url('../images/icons/date.png'); }
.i16.release_date { background-image: url('../images/icons/date_go.png'); }
.i16.repository { background-image: url('../images/icons/drive_network.png'); }
.i16.send_file { background-image: url('../images/icons/page_white_go.png'); }
.i16.source_code { background-image: url('../images/icons/database_gear.png'); }
.i16.stats { background-image: url('../images/icons/chart_bar.png'); }
.i16.stats_edit { background-image: url('../images/icons/chart_bar_edit.png'); }
.i16.stop { background-image: url('../images/icons/delete.png'); }
.i16.submit { background-image: url('../images/icons/tick.png'); }
.i16.submit_file { background-image: url('../images/icons/page_white_edit.png'); }
.i16.tag { background-image: url('../images/icons/tag_blue.png'); }
.i16.tick { background-image: url('../images/icons/tick.png'); }
.i16.tick_circle { background-image: url('../images/icons/accept.png'); }
.i16.tip { background-image: url('../images/icons/lightbulb.png'); }
.i16.user { background-image: url('../images/icons/user.png'); }
.i16.view { background-image: url('../images/icons/page_magnify.png'); }
