/**
  Icons
*/


/* Generic */

.i16,
.i24,
.i48 {
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.i16 {
  padding-left: 24px;
  line-height: 16px;
  background-image: url('../images/icons/cog.png');
}


/* Various icons */

.i16.action { background-image: url('../images/icons/lightning.png'); }
.i16.add { background-image: url('../images/icons/add.png'); }
.i16.bell { background-image: url('../images/icons/bell.png'); }
.i16.branch { background-image: url('../images/icons/arrow_branch.png'); }
.i16.collection { background-image: url('../images/icons/basket.png'); }
.i16.component { background-image: url('../images/icons/brick.png'); }
.i16.delete { background-image: url('../images/icons/cross.png'); }
.i16.edit { background-image: url('../images/icons/pencil.png'); }
.i16.feed { background-image: url('../images/icons/feed.png'); }
.i16.filter { background-image: url('../images/icons/filter.png'); }
.i16.find { background-image: url('../images/icons/magnifier.png'); }
.i16.freeze { background-image: url('../images/icons/date_error.png'); }
.i16.homepage { background-image: url('../images/icons/house.png'); }
.i16.notice { background-image: url('../images/icons/exclamation.png'); }
.i16.language { background-image: url('../images/icons/comment.png'); }
.i16.link { background-image: url('../images/icons/world_link.png'); }
.i16.project { background-image: url('../images/icons/package.png'); }
.i16.release { background-image: url('../images/icons/date.png'); }
.i16.release_date { background-image: url('../images/icons/date_go.png'); }
.i16.repository { background-image: url('../images/icons/drive_network.png'); }
.i16.stats { background-image: url('../images/icons/chart_bar.png'); }
.i16.tag { background-image: url('../images/icons/tag_blue.png'); }
.i16.tip { background-image: url('../images/icons/lightbulb.png'); }
