table.stats {
  /*width: 100%;*/
  font-size: 95%;
}

.stats th { 
    text-align: left; 
    background: gray;
    color: white;
    padding: 0.1em 0.5em;
}

.stats td { 
    background: #f5f5f5; 
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 100%;
}

.stats td.left { 
    text-align: left;
}


div.graph {
  height: 16px;
  width: 100px;
  border: 0px solid black; 
  position: relative;
  float: left;
}

div.stats_string{
  float: left;
  text-align: left;
  padding-left: 0.3em;
  padding-top: 0.2em;
  /*position: absolute;*/
  font-size: 75%;
  font-weight: bold;

}

div.translated {
  position: absolute; 
  top: 0px;
  height:100%; 
  left: 0%; 
  background: #448844;
  background: url('../images/icons/stats/green-bar.png') 0 50%;
  background-repeat: repeat-x;
}

div.goodchange {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #55DD55;
  background: url('../images/icons/stats/cyan-bar.png') 0 50%;
  background-repeat: repeat-x;
}

div.fuzzy {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #4444AA;
  background: url('../images/icons/stats/purple-bar.png') 0 50%;
  background-repeat: repeat-x;
}

div.untranslated {
  position: absolute; 
  height:100%; 
  top: 0px;
  background: #FF4444;
  background: url('../images/icons/stats/red-bar.png') 0 50%;
  background-repeat: repeat-x;
}

 
