/* Stats graphs style 1 */

table.stats {
  /*width: 100%;*/
  font-size: 100%;
}

.stats th { 
  text-align: left; 
  background: gray;
  color: white;
  padding: 0.1em 0.5em;
}

.stats td { 
  background: #f5f5f5; 
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 100%;
}

.stats td.left { 
  text-align: left;
}


div.graph {
  height: 16px;
  width: 100px;
  border: 0px solid black; 
  position: relative;
  float: left;
}

div.stats_string{
  float: left;
  text-align: left;
  padding-left: 0.3em;
  padding-top: 0.2em;
  /*position: absolute;*/
  font-size: 75%;
  font-weight: bold;
}

div.translated {
  position: absolute; 
  top: 0px;
  height:100%; 
  left: 0%; 
  background: #448844;
  background: url('../images/icons/stats/green-bar.png') 0 50%;
  background-repeat: repeat-x;
}

div.goodchange {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #55DD55;
  background: url('../images/icons/stats/cyan-bar.png') 0 50%;
  background-repeat: repeat-x;
}

div.fuzzy {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #4444AA;
  background: url('../images/icons/stats/purple-bar.png') 0 50%;
  background-repeat: repeat-x;
}

div.untranslated {
  position: absolute; 
  height:100%; 
  top: 0px;
  background: #FF4444;
  background: url('../images/icons/stats/red-bar.png') 0 50%;
  background-repeat: repeat-x;
}


/* Stats graphs style 2 */

table.stats_comp {
  font-size: 100%;
  border-collapse: collapse;
  margin-bottom: 0.5em;
}

.stats_comp a {
  border-bottom: none;
}

.stats_comp a:hover {
  color: #041E37;
}

.stats_comp th { 
  text-align: left; 
  padding: 0.3em 0.3em;
  font-size: 95%;
  border-bottom: 3px solid #E3EAEE;
  color: #444;;
  background-color: #f5f5f5;
}

.stats_comp td { 
  text-align: center;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  line-height: 1.8em;
  border-bottom: 1px solid #E3EAEE;
}

.stats_comp td.left { 
  text-align: left;
}

.stats_comp td.name {
  padding-left: 0.3em;
  padding-right: 0.5em;
  font-size: 90%;
}

.stats_comp td.actions {
  padding-left: 0.8em;
}

div.graph_comp {
  height: 1.5em;
  margin: 0px;
  padding: 0px;
  width: 100px;
  border: 0px solid black; 
  position: relative;
  float: left;
}

div.stats_string_comp{
  height: 1.5em;
  float: right;
  text-align: right;
  position: absolute;
  font-size: 90%;
  width: 95px;
  color: #666;
  line-height: 1.5em;
}

div.translated_comp {
  position: absolute; 
  top: 0px;
  height:100%; 
  left: 0%; 
  background: #D5FFDE;
  background-repeat: repeat-x;
  border-left: 1px solid #ddd;
}

 
div.fuzzy_comp {
  position: absolute; 
  top: 0px;
  height:100%; 
  background: #FFF1D4;
  background-repeat: repeat-x;
}

div.untranslated_comp {
  position: absolute; 
  height:100%; 
  top: 0px;
  background: #FFDEDE;
  background-repeat: repeat-x;
  border-right: 1px solid #ddd;
}

span.stat_message{
  font-size: 90%;
  color: gray;
  padding-left: 1px;
  padding-right: 1px;
}

.nodecoration_icon, .nodecoration_icon:hover{
  text-decoration: none;
  border: none !important;
}
