{% extends "projects/base.html" %}
{% load i18n %}
{% load txcommontags %}

{% block extra_head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/tablesorted.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.qtip-1.0.0-rc2.min.js"></script>
  <link media="screen" href="{{ MEDIA_URL }}css/tablesorter.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}
{% with pofile.object as component %}
{{ block.super }}
| {{ component.project.name }}
| {% blocktrans with component.name as component_name %}{{ component_name }}{% endblocktrans %}
| {% blocktrans with pofile.filename as filename %}Reviews for '{{ filename }}'{% endblocktrans %}
{% endwith %}
{% endblock %}

{% block breadcrumb %}
{% with pofile.object as component %}
{{ block.super }}
&raquo; <a href="{{ component.project.get_absolute_url }}">{{ component.project.name }}</a>
&raquo; <a href="{{ component.get_absolute_url }}">{{ component.name }}</a>
&raquo; {% blocktrans with pofile.filename as filename %}Reviews for '<code>{{ filename }}</code>'{% endblocktrans %}
{% endwith %}
{% endblock %}

{% block content_title %}
<h2 class="pagetitle">{% blocktrans with component.name as component_name and pofile.filename as filename %}Reviews for '<code>{{ filename }}</code>'{% endblocktrans %}</h2>
{% endblock %}

{% block content %}
  <h2>Active reviews</h2>

<table class="tablesorter">
   <thead>
    <tr>
      <th>{% trans "Review ID" %}</th>
      <th>{% trans "Requester" %}</th>
      <th>{% trans "Resolution" %}</th>
      <th>{% trans "Date" %}</th>
    </tr>
   </thead>
   <tbody>
   {% for review in reviews %}
     <tr>
       <td>{{ review.id }}</td>
       <td>{{ review.author }}</td>
       <td>{{ review.resolution }}</td>
       <td>{{ review.created_on }}</td>
     </tr>
  {% endfor %}
  </table>
{% endblock %}
