{% extends "projects/base.html" %}
{% load i18n %}
{% load txcommontags %}

{% block extra_head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/tablesorted.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.qtip-1.0.0-rc2.min.js"></script>
  <link media="screen" href="{{ MEDIA_URL }}css/tablesorter.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript">
  $(document).ready(function() { 
      $(".tablesorter").tablesorter(); 
  }); 
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/houdini.js"></script>
  <link media="screen" href="{{ MEDIA_URL }}css/houdini.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}
{% with pofile.object as component %}
{{ block.super }}
| {{ component.project.name }}
| {% blocktrans with component.name as component_name %}{{ component_name }}{% endblocktrans %}
| {% blocktrans with pofile.filename as filename %}Reviews for '{{ filename }}'{% endblocktrans %}
{% endwith %}
{% endblock %}

{% block breadcrumb %}
{% with pofile.object as component %}
{{ block.super }}
&raquo; <a href="{{ component.project.get_absolute_url }}">{{ component.project.name }}</a>
&raquo; <a href="{{ component.get_absolute_url }}">{{ component.name }}</a>
&raquo; {% blocktrans with pofile.filename as filename %}Reviews for '<code>{{ filename }}</code>'{% endblocktrans %}
{% endwith %}
{% endblock %}

{% block content_title %}
<h2 class="pagetitle">{% blocktrans with component.name as component_name and pofile.filename as filename %}Reviews for '<code>{{ filename }}</code>'{% endblocktrans %}</h2>
{% endblock %}

{% block content %}
  <h2>{% trans "Open Reviews" %}</h2>

{% if reviews %}
{% for review in reviews %}

<h3>{% blocktrans with review.id as review_id %}Review Request #{{ review_id }} {% endblocktrans %}</h3>    
 <table class="definition">
  <tbody>
    <tr>
      <th class="i16 filter">{% trans "Information" %}</th>
      <td>{% blocktrans with review.author as author and review.created_on|timesince as time_since %}{{ author }}, {{ time_since }} ago{% endblocktrans %}</td>
    </tr>
    <tr>
      <th class="i16 submit_file">{% trans "File" %}</th>
      <td><a href="#FIXME">#FIXME</a></td>
    </tr>
  </tbody>
</table>

{% if request.user.is_authenticated and perms.reviews.change_review %}

    <a class="i16 reviews buttonized houdini_toggler">{% trans "Review" %}</a>
    <form class="houdini" action="" class="microform">
    <fieldset>
      <textarea cols="30"></textarea><br/>
      <input class="i16 tick" title="{% trans "Accept and submit translation" %}"  value="{% trans "Accept" %}" type="submit">
      <input class="i16 reject" title="{% trans "Reject translation" %}"  value="{% trans "Reject" %}" type="submit">
    </fieldset>
    </form>
{% endif %}
{% endfor %}
{% else %}
<p>{% trans "No open reviews!" %}</p>
{% endif %}

<h2 class="i16 add">{% trans "Request a new translation review" %}</h2>

<p class="i16 tip compact clear">
  Use the following form to upload a file and request a review
  from another translator. He may login and review your work and provide
  any feedback needed, or simply submit your file to the upstream project.
</p>

<div class="generic_form">
  <form action='' method='post'>
  <table>
  <tbody>
    {% form_as_table_rows form %}
  </tbody>
  </table>
  <p class="submit"><input type="submit" class="i16 submit" value="{% trans "Request Review" %}" /></p>
</div>

{% endblock %}
