{% load i18n %}
{% load submissions %}
{% url component_submit_file pofile.object.project.slug pofile.object.slug pofile.filename as file_submit_url %}
{% with pofile.filename as pofile_filename %}
  <span class="i16 nodecoration_icon send_file submit_button buttonized_simple houdini_toggler" title="{% blocktrans %}Submit a translation for {{ pofile_filename }}{% endblocktrans %}"></span>
{% endwith %}
<form class="submit_form compact houdini" method="POST" action="{{ file_submit_url }}" enctype="multipart/form-data">
<fieldset>
  <legend>{% trans "Submit file" %}</legend>
    <input type="file" name="submitted_file">
    <p>
    <input type="submit" class="i16 submit" size="10" name="submit" value="{% trans "Send" %}">
    <input type="submit" class="i16 send_file" size="10" name="submit_for_review" value="{% trans "Send for Review" %}">
    </p>
  {% with pofile.locks.get.owner as owner %}
    {% if pofile.locked %}
      {% ifnotequal request.user.username owner.username %}
      <p style="margin: 0px; color:#C27878;">This file is locked by someone else. Are you sure that you want to do it?</p>
      {% endifnotequal %}
    {% endif %}
  {% endwith %}
</fieldset>
</form>
