{% load i18n %}
{% load statistics %}
{% load truncate %}
<table class="stats_comp">
   <thead>
    <tr>
      <th>{% trans "Language" %}</th>
      {% for c in components %}
          <th class="alcenter">{{ c.name|truncate_chars:11 }}</th>
      {% endfor %}
    </tr>
   </thead>
   <tbody>        
   {% for language, comp in stats.items %}
    <tr class="{% number_range stat.trans_perc %}">
      <td class="left name" id="{{language.code}}">{{ language.name }} ({{language.code}})</td>    
      {% for name, stat in comp.items %}
        {% with 140 as barwidth %}
        <td class="stats" style="width: {{ barwidth|add:"2" }}px;">
          <div class="stats_string_comp" title="{% trans "Trans:" %}{{stat.trans}} {% trans "Fuzzy:" %}{{stat.fuzzy}} {% trans "Untrans:" %}{{stat.untrans}}" >{{stat.trans_perc}}% <span class='trans_detail'>({{stat.trans}}/{{stat.fuzzy}}/{{stat.untrans}})<span></div> 
          {% stats_bar_trans stat barwidth %}
        </td>
        {% endwith %}
      {% endfor %}
    </tr>       
   {% endfor %}
   </tbody>
 </table>
