{% load staticfiles %}
{% load i18n %}
{% load txcommontags %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Transifex Mobile Client</title>
		<meta name="keywords" content="mobile transifex client" />
		<meta name="descriptions" content="mobile transifex client" />
		<link rel="icon" type="image/png" href="{% static 'mobile/image/mtx_logo.png' %}">
		<link rel="stylesheet" href="{% static 'mobile/jquery/css/jquery.mobile-1.2.0.min.css' %}" />
		<link rel="stylesheet" href="{% static 'mobile/jquery/themes/mtx.min.css' %}" />
		<link rel="stylesheet" href="{% static 'mobile/css/index.css' %}" />
		<script src="{% static 'mobile/jquery/js/jquery-1.8.3.min.js' %}"></script>
		<script src="{% static 'mobile/jquery/js/jquery.mobile-1.2.0.min.js' %}"></script>
		<script  type="text/javascript">
		$(document).ready(function(){
			$('<a class="forgot-pass" href="{% url userena_password_reset %}">({% trans "Forgot your password?" %})</a>').appendTo('label[for="id_password"]');
		});
</script>
	</head>
<body>
<div data-role="page" data-theme="a">
	<div data-role="header" data-position="inline">
		<center><img src="{% static 'mobile/image/mtx_logo.png' %}" width="50" alt="" ></center>
	</div>
	<div data-role="content" data-theme="a">
		<div id="login" class="login">
			<form action='{% url mobile.authentication.oauth_user_auth %}' method="POST" target="_self">
				{% csrf_token %}
	  			{{ form.as_table }}
	  			<button type="submit">Confirm</button>
			</form>
		</div>
	
		<script type="text/javascript" >
			$(document).ready(function(){
				$('#username').focus();	
			});
		</script>
	</div>
</div>
</body>
</html>