{% load i18n %}
{% load avatars %}

<div>

<ul class="simple contexts " style="display: block; float:right;padding-right:1em">
  <li title="Last Update" style="margin-top:0"><label>Last Update:</label> 
  {% if last_translation %}
      {% if last_translation.last_update %}<span>{{ last_translation.last_update|timesince }}</span>{% endif %}
      {% if last_translation.user %}
        <span> by {{ last_translation.user }} </span>
        &nbsp;
        <img class="border top" alt="{{ last_translation.user }}" src="{% avatar 16 last_translation.user %}"  style="vertical-align: text-bottom"/>
      {% endif %}
  {% else %}
      {% trans "No translation yet" %}
  {% endif %}
  </li>
</ul>

<ul class="simple contexts " style="display: block; float: left; min-width: 350px;">
  <li title="Key" class="i16 key" style="margin-top:0"><label>Key:</label> <span>{{ key }}</span></li>
  <li title="Description" class="i16 tag"><label>Description:</label> <span>{% if context %}{{ context }}{% else %}{% trans "No description available" %}{% endif %}</span></li>
  <li title="Occurences" class="i16 file_search"><label>Occurrences:</label> <span>{% if occurrences %}{{ occurrences }}{% else %}{% trans "No occurrences available" %}{% endif %}</span></li>
</ul>

</div>
