{% load i18n %}
{% load avatars %}
{% load resources_common_tags %}

<div class="lotte_details_wrapper">
{% if translation %}
<ul class="simple contexts details_right">
    <li title="Last Translation"><label>{% trans "Last Translation:" %}</label> 
      {% if translation.last_update %}<span>{{ translation.last_update|timesince }}</span>{% endif %}
      {% if translation.user %}
        <span>
          <a href="{% url profile_public translation.user.username %}">{% blocktrans with translation.user as user %}by {{ user }}{% endblocktrans %}</a>
        </span>
        &nbsp;
        <img class="border top" alt="{{ translation.user }}" src="{% avatar 16 translation.user %}"/>
      {% endif %}
  </li>
</ul>
{% endif %}

<ul class="simple contexts details_left">
  <li title="{% trans "Key" %}" class="i16 key"><label>{% trans "String ID:" %}</label> <span>{{ source_entity.string }}</span></li>
  <li title="{% trans "Description" %}" class="i16 tag">{% trans "Description:" %} {% if source_entity.context %}{{ source_entity.context }}{% else %}-{% endif %}</li>
{% with source_entity.developer_comment as comment %}<li title="{% trans "Comment" %}" class="i16 comment"><span class="label">{% trans "Comment:" %}</span> <span class="label_target">{% if comment %}{{ comment|truncatewords:"50" }}{% else %}-{% endif %}</span></li>{% endwith %}
  <li title="{% trans "Occurrences" %}" class="i16 file_search"><label>{% trans "Occurrences:" %}</label> <span>{% if source_entity.occurrences %}{{ source_entity.occurrences }}{% else %}-{% endif %}</span></li>
</ul>

</div>
